{% extends "master.html" %}
{% block module_title %}网民情绪监测和预警{% endblock %}
{% block navbar %}
<!-- 导航栏 -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">***原型系统</a>
      <a class="brand" href="/moodlens/">网民情绪监测和预警</a>
    </div>
  </div>
</div>
{% endblock %}
