{% extends "moodlens/base.html" %}
{% block title %}主页{% endblock %}
{% block content %}
<head>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/datarangepiker.css') }}">
</head>
<body>
<div class="container">
  <div class="well">
    <legend>微博情绪全网分析</legend>
    <div id="all_emotion" class="inline">
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>时间范围:</b></font>
      <div id="reportrange_1" class="btn dropdown-toggle">
      <i class="icon-calendar icon-large"></i>
      <span id="all_time">9月 1日,2013 - 9月 5日,2013</span> 
     <b class="caret"></b>
     </div>
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>&nbsp&nbsp&nbsp时间间隔:</b></font>
      <div class="btn dropdown-toggle" style="position:relative;height: 30px;margin-top: 0px;">

        <span style="position:relative;margin-left:100px;width:18px;overflow:hidden;">
        <select name="all_dur" style="width:110px;margin-left:-100px;" onchange="this.parentNode.nextSibling.value=this.value">
          <option value="15分钟"> 15分钟 </option>
          <option value="30分钟"> 30分钟 </option>
          <option value="1小时"> 1小时 </option>
          <option value="12小时"> 12小时 </option>
          <option value="1天"> 1天 </option>
          </select></span><input id="all_durtime" name="all_dur" style="width:75px;position:absolute;left:15px;overflow:hidden;" value="15分钟">
      </div>
     <input type="submit" class="btn btn-primary" value="搜索" id="search_all">
    </div>
  </div>
  
  <div class="well">
    <legend>微博情绪领域分析</legend>
    <div id="field_emotion" class="inline">
    <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>时间范围:</b></font>
      <div id="reportrange_2" class="btn dropdown-toggle">
        <i class="icon-calendar icon-large"></i>
        <span id="field_time">9月 1日,2013 - 9月 5日,2013</span> 
        <b class="caret"></b>
      </div>
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>&nbsp&nbsp&nbsp时间间隔:</b></font>
      <div class="btn dropdown-toggle" style="position:relative;height: 30px;margin-top: 0px;">
        <span style="position:relative;margin-left:100px;width:18px;overflow:hidden;">
        <select name="fie_dur" style="width:110px;margin-left:-100px;" onchange="this.parentNode.nextSibling.value=this.value">
          <option value="15分钟"> 15分钟 </option>
          <option value="30分钟"> 30分钟 </option>
          <option value="1小时"> 1小时 </option>
          <option value="12小时"> 12小时 </option>
          <option value="1天"> 1天 </option>
          </select></span><input id="field_durtime" name="fie_dur" style="width:75px;position:absolute;left:15px;overflow:hidden;" value="15分钟">
      </div>
      <div class="btn dropdown-toggle" style="position:relative;height: 30px;margin-top: 0px;">
        <span style="position:relative;margin-left:100px;width:18px;overflow:hidden;">
        <select name="fie_nam" style="width:110px;margin-left:-100px;" onchange="this.parentNode.nextSibling.value=this.value">
            <option value="高校微博"> 高校微博 </option>
            <option value="境内机构"> 境内机构 </option>
            <option value="境外机构"> 境外机构 </option>
            <option value="媒体"> 媒体 </option>
            <option value="境外媒体"> 境外媒体 </option>
            <option value="民间组织"> 民间组织 </option>
            <option value="律师"> 律师 </option>
            <option value="政府官员"> 政府官员 </option>
            <option value="媒体人士"> 媒体人士 </option>
            <option value="活跃人士"> 活跃人士 </option>
            <option value="草根"> 草根 </option>
            </select></span><input id="field_name" name="fie_nam" style="width:75px;position:absolute;left:15px;overflow:hidden;"value="高校微博">
      </div>
      <input type="submit" class="btn btn-primary" value="搜索" id="search_field">
    </div>

  </div>
  
    <div class="well">
    <legend>微博情绪话题分析</legend>
    <div id="topic_emotion" class="inline">
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>时间范围:</b></font>
    <div id="reportrange_3" class="btn dropdown-toggle">
    <i class="icon-calendar icon-large"></i>
    <span id="topic_time">9月 1日,2013 - 9月 5日,2013</span> 
    <b class="caret"></b>
      </div>
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>&nbsp&nbsp&nbsp时间间隔:</b></font>
      <div class="btn dropdown-toggle" style="position:relative;">
        <span style="position:relative;margin-left:100px;width:18px;overflow:hidden;">
        <select name="top_dur" style="width:110px;margin-left:-100px;" onchange="this.parentNode.nextSibling.value=this.value">
          <option value="15分钟"> 15分钟 </option>
          <option value="30分钟"> 30分钟 </option>
          <option value="1小时"> 1小时 </option>
          <option value="12小时"> 12小时 </option>
          <option value="1天"> 1天 </option>
          </select></span><input id="topic_durtime" name="top_dur" style="width:75px;position:absolute;left:15px;overflow:hidden;" value="15分钟">
      </div>
      <input type="text" id="keyword" name="keyword" value="" placeholder="输入关键词..." style="margin-top: 11px;margin-left: 62px;">
      <input type="hidden" name="action" value="run">
      <input type="submit" class="btn btn-primary" value="搜索" onclick="find_search_message()" id="search_topic">
    </div>
    <div id="show_search_msg">
    </div>
    <div id="search_on" class="inline">
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>可查看历史任务:</b></font>
    </div>
    <div id="show_history_msg" class="well">
    </div>
    <div id="search_now" class="inline">
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>正在进行中历史任务:</b></font>
    </div>
    <div id="show_history_now" class="well">
    </div>
    <div id="search_define" class="inline">
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>已定制话题:</b></font>
    </div>
    <div id="show_define_msg" class="well"></div>
    </div>
      
  </div>
{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename='js/moodlens/moment.js') }}"></script>
  <script src="{{ url_for('static', filename='js/moodlens/datarangepiker.js') }}"></script>
  <script src="/static/js/bootstrap-alert.js"></script>
  <script type="text/javascript">
    $('#TopicTabContent:checkbox').click(function(){
      var $this = $(this);
      if ($this.is(':checked')) {
          $.each($('#TopicTabContent :checkbox'), function(i, val) {
              if ($(this) != $this) {
                  $(this).attr('checked', false);
              }
          });
          $this.attr('checked', true);
          var topic_str = $this.parent().text().replace(/^\s+|\s+$/g,'');
          $('#keyword').val(topic_str);
      } else {
          $this.attr('checked', false);
          var topic_str = $this.parent().text().replace(/^\s+|\s+$/g,'');
          var current_val = $('#keyword').val();
          current_val = current_val.replace(topic_str, '');
          $('#keyword').val(current_val);
      }
    })

    //all_emotion
    $('#reportrange_1').daterangepicker({
        ranges: {
           '今天': [moment(), moment()],
           '昨天': [moment().subtract('days', 1), moment().subtract('days', 1)],
           '最近7天': [moment().subtract('days', 6), moment()],
           '最近30天': [moment().subtract('days', 29), moment()],
           '本月内': [moment().startOf('month'), moment().endOf('month')],
           '上个月': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
        },
        startDate: moment().subtract('days', 29),
        endDate: moment()
        }, 
        function(start, end) {
          $('#reportrange_1 span').html(start.format('MMMM D日, YYYY') + ' - ' + end.format('MMMM D日, YYYY'));
        }
    );

    //field_emotion
    $('#reportrange_2').daterangepicker({
      ranges: {
         '今天': [moment(), moment()],
         '昨天': [moment().subtract('days', 1), moment().subtract('days', 1)],
         '最近7天': [moment().subtract('days', 6), moment()],
         '最近30天': [moment().subtract('days', 29), moment()],
         '本月内': [moment().startOf('month'), moment().endOf('month')],
         '上个月': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
      },
        startDate: moment().subtract('days', 29),
        endDate: moment()
     }, 
     function(start, end) {
        $('#reportrange_2 span').html(start.format('MMMM D日, YYYY') + ' - ' + end.format('MMMM D日, YYYY'));
     }
    );

    //topic_emotion
    $('#reportrange_3').daterangepicker({
        ranges: {
           '今天': [moment(), moment()],
           '昨天': [moment().subtract('days', 1), moment().subtract('days', 1)],
           '最近7天': [moment().subtract('days', 6), moment()],
           '最近30天': [moment().subtract('days', 29), moment()],
           '本月内': [moment().startOf('month'), moment().endOf('month')],
           '上个月': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
        },
        startDate: moment().subtract('days', 29),
        endDate: moment()
      }, 
      function(start, end) {
        $('#reportrange_3 span').html(start.format('MMMM D日, YYYY') + ' - ' + end.format('MMMM D日, YYYY'));
      }
    );    

    // 动态获取系统定制的话题
    function getCustomizedTopics(){
      var during = document.getElementById("topic_durtime").value;
      var time = $("#topic_time").html();
      $.ajax({
        url: '/moodlens/topics.json',
        dataType: 'json',   
        type: "GET",   
        success: function (data) {
          $('#show_define_msg').empty();
          var html = "";
          for(idx in data){
            html += "<li><a target='_blank' href=\"/moodlens/topic/?keyword=" +  data[idx] + "&during=" + during + "&time=" + time  + "\">" + data[idx] + "</a></li>";
          }
          $('#show_define_msg').append(html);
        }
      });
    }
    function get_and_show_history_msg(){
      var during = document.getElementById("topic_durtime").value;
      $.ajax({
        url: '/moodlens/history.json?now=1',
        dataType: 'json',   
        type: "GET",   
        success: function (data) {
          $('#show_history_msg').empty();
          var html = "";
          for(idx in data){
            html += "<li><a target='_blank' href=\"/moodlens/topic/?keyword=" + data[idx][0] + "&time=" + data[idx][1] + "&during=" + during + "&customized=0\">" + data[idx] + "</a></li>";
          }
          $('#show_history_msg').append(html);
        }
      });
    }
    function get_and_show_history_now(){
      var during = document.getElementById("topic_durtime").value;
      var temp_time_in13 = new Date().getTime();
      var timestamp = temp_time_in13.toString().substr(0, 10);
      $.ajax({
        url: '/moodlens/history.json?now1=-1&now2=0&timestamp=' + timestamp,
        dataType: 'json',   
        type: "GET",   
        success: function (data) {
          $('#show_history_now').empty();
          var html = "";
          for(idx in data){
            html += "<li>" + data[idx] + "</li>";
          }
          $('#show_history_now').append(html);
        }
      });
    }
    function max_history_limit(){
      var max = 0;
      var time = $("#topic_time").html();
      var during = document.getElementById("topic_durtime").value;
      var keyword = document.getElementById("keyword").value;
      var temp_time_in13 = new Date().getTime();
      var timestamp = temp_time_in13.toString().substr(0, 10);
      var search_msg = "请从上方文本框中输入话题"
      $.ajax({
        url: '/moodlens/history.json?now2=0&now1=-1',
        dataType: 'json',   
        type: "GET",   
        success: function (data) {
          for(idx in data){
            max += 1;
          }
          if (max > 5){
            var search_html = "<div class=\"well\"><font color=\"#FF0033\" face=\"Georgia, Times New Roman, Times, serif\"><b>正在计算中历史任务已经达到10条的限制，提交失败，请稍后提交！！</b></font></div>"
            $('#show_search_msg').empty();
            $('#show_search_msg').append(search_html);
            $('#search_topic').val('搜索');
          }
          else{
            if(keyword.length < 2)
              var search_html = "<div class=\"well\"><li>" + search_msg + "</li></div>";
            else{
              $('#search_topic').val('搜索');
              $('#show_search_msg').empty();
              $.ajax({
                url: '/moodlens/topic/submit?keyword=' + keyword + "&during=" + during + "&time="+ time + "&timestamp=" + timestamp,
                dataType: 'json',   
                type: "GET",   
                success: function (data) {
                  check_status();
                }
              });
              get_and_show_history_now();
            }
          }
        }
      });
    }

    $("#search_all").click(function() {
      var time = $("#all_time").html();
      var during = document.getElementById("all_durtime").value;
      console.log(time,during);
      window.location.href="/moodlens/all/?time="+time+"&during="+during;
    });
    $("#search_field").click(function() {
      var time = $("#field_time").html();
      var during = document.getElementById("field_durtime").value;
      var field_name = document.getElementById("field_name").value;
      window.location.href="/moodlens/field/?time="+time+"&during="+during+"&field_name="+field_name;
    });
    function find_history(){
      $('#show_search_msg').empty();
      var keyword = document.getElementById("keyword").value;
      var during = document.getElementById("topic_durtime").value;
      $.ajax({
        url: '/moodlens/history.json?keyword=' + keyword,
        dataType: 'json',   
        type: "GET",   
        success: function (data) {
          $('#show_search_msg').empty();
          var html = "<div  class=\"inline\"><font color=\"#003366\" face=\"Georgia, Times New Roman, Times, serif\"><b>您的历史记录相关选项:</b></font></div><div  class=\"well\">";
          if(data.length > 0){
            for(idx in data){
              html += "<li><a target='_blank' href=\"/moodlens/topic/?keyword=" + data[idx][0] + "&time=" + data[idx][1] + "&during=" + during + "&customized=0\">" + data[idx] + "</a></li>";
            }
            html = html + "</div>";
          }
          else{
            html = html + "无匹配项！</div>";
          }
          $('#show_search_msg').append(html);
        }
      });
    }
    function find_define(){
      var keyword = document.getElementById("keyword").value;
      var during = document.getElementById("topic_durtime").value;
      var time = $("#topic_time").html();
      $.ajax({
        url: '/moodlens/topics.json?keyword=' + keyword,
        dataType: 'json',   
        type: "GET",   
        success: function (data) {
          var html = "<div  class=\"inline\"><font color=\"#003366\" face=\"Georgia, Times New Roman, Times, serif\"><b>系统已经包含相关定制话题：</b></font></div><div  class=\"well\">";
          if(data.length > 0){
            for(idx in data){
               html += "<li><a target='_blank' href=\"/moodlens/topic/?keyword=" +  data[idx] + "&during=" + during + "&time=" + time  + "\">" + data[idx] + "</a></li>";
            }
            html = html + "</div>";
          }
          else{
            html = html + "无匹配项！</div>";
          }
          $('#show_search_msg').append(html);
        }
      });
    }
    function find_search_message(){
      var command = $('#search_topic').val();
      if (command == '搜索'){
        var keyword = document.getElementById("keyword").value;
        if(keyword.length < 2){
          var search_msg = "请从上方文本框中输入话题"
          var search_html = "<div class=\"well\"><li>" + search_msg + "</li></div>";
          $('#show_search_msg').empty();
          $('#show_search_msg').append(search_html);
        }
        else{
          find_history();
          find_define();
          $('#search_topic').val('确认提交');
        }
      }else if (command == '确认提交'){
        max_history_limit();
        
    }
  }
    function check_status(){
      get_and_show_history_msg();
      get_and_show_history_now();
    }  
    $(document).ready(function() {
      getCustomizedTopics();
      get_and_show_history_msg();
      get_and_show_history_now();
      setInterval("check_status()", 10000);
    });
  </script>
</body>
  
{% endblock %}
