{% extends "moodlens/base.html" %}
{% block title %}主页{% endblock %}
{% block content %}
<head>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/datarangepiker.css') }}">
</head>
<body>
<div class="container">
  <div class="well">
    <legend>微博情绪全网分析</legend>
    <form id="all_eomtion" action="/moodlens/all" class="form-inline" method="POST">
   <div id="reportrange_1" class="btn dropdown-toggle">
    <i class="icon-calendar icon-large"></i>
    <span>2013年12月11号 - 2013年12月31号</span> 
	 <b class="caret"></b>
	    </div>
	<input type="submit" class="btn btn-primary" value="识别">
    </form>
  </div>
  
  <div class="well">
    <legend>微博情绪领域分析</legend>
    <form id="field_emotion" action="/moodlens/field" class="form-inline" method="POST">
     <div id="reportrange_2" class="btn dropdown-toggle">
    <i class="icon-calendar icon-large"></i>
    <span>2013年12月11号 - 2013年12月31号</span> 
   <b class="caret"></b>
      </div>
      <input type="submit" class="btn btn-primary" value="识别">
    </form>

  </div>
  
    <div class="well">
    <legend>微博情绪话题分析</legend>
    <form id="topic_emotion" action="/moodlens/topic" class="form-inline" method="POST">
      
      <div id="reportrange_3" class="btn dropdown-toggle">
    <i class="icon-calendar icon-large"></i>
    <span>2013年12月11号 - 2013年12月31号</span> 
   <b class="caret"></b>
      </div>
      <input type="text" id="keyword" name="keyword" value="" placeholder="输入关键词..." style="margin-top: 11px;margin-left: 62px;">
      <input type="hidden" name="action" value="run">
      <input type="submit" class="btn btn-primary" value="识别">
    </form>
    
      </div>
      
      
  </div>
{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename='js/identify/choose.js') }}"></script>
  <script src="{{ url_for('static', filename='js/identify/topic_selector.js') }}"></script>
  <script src="{{ url_for('static', filename='js/identify/burst.js') }}"></script>
  <script src="{{ url_for('static', filename='js/identify/moment.js') }}"></script>
  <script src="{{ url_for('static', filename='js/identify/datarangepiker.js') }}"></script>
  <script type="text/javascript">
    //all_emotion
    $(document).ready(function() {
  $('#reportrange_1').daterangepicker({
      ranges: {
         'Today': [moment(), moment()],
         'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
         'Last 7 Days': [moment().subtract('days', 6), moment()],
         'Last 30 Days': [moment().subtract('days', 29), moment()],
         'This Month': [moment().startOf('month'), moment().endOf('month')],
         'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
      },
      startDate: moment().subtract('days', 29),
      endDate: moment()
    }, 
    function(start, end) {
  $('#reportrange_1 span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }
  );
});
    //field_emotion
    $(document).ready(function() {
  $('#reportrange_2').daterangepicker({
      ranges: {
         'Today': [moment(), moment()],
         'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
         'Last 7 Days': [moment().subtract('days', 6), moment()],
         'Last 30 Days': [moment().subtract('days', 29), moment()],
         'This Month': [moment().startOf('month'), moment().endOf('month')],
         'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
      },
      startDate: moment().subtract('days', 29),
      endDate: moment()
    }, 
    function(start, end) {
  $('#reportrange_2 span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }
  );
});
    //topic_emotion
$(document).ready(function() {
  $('#reportrange_3').daterangepicker({
      ranges: {
         'Today': [moment(), moment()],
         'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
         'Last 7 Days': [moment().subtract('days', 6), moment()],
         'Last 30 Days': [moment().subtract('days', 29), moment()],
         'This Month': [moment().startOf('month'), moment().endOf('month')],
         'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
      },
      startDate: moment().subtract('days', 29),
      endDate: moment()
    }, 
    function(start, end) {
  $('#reportrange_3 span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }
  );
});

</script>
</body>
  
{% endblock %}
