{% extends "master.html" %}
{% block title %}网民情绪监测和预警{% endblock %}

{% block content %}
    <div id="container">
    </div>
{% endblock %}
{% block script %}
  <script src="{{ url_for('static', filename='js/highstock.js') }}"></script>
  <script src="{{ url_for('static', filename='js/exporting.js') }}"></script>
  <script>
    $(function() {
        var seriesOptions = [],
            yAxisOptions = [],
            seriesCounter = 0,
            names = ['angry', 'sad', 'happy'],
            colors = Highcharts.getOptions().colors;

        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

        $.each(names, function(i, name) {

            $.getJSON('/moodlens/data/' + name, function(data) {
                seriesOptions[i] = {
                    name: name,
                    data: data
                };

                // As we're loading the data asynchronously, we don't know what order it will arrive. So
                // we keep a counter and create the chart when all the data is loaded.
                seriesCounter++;

                if (seriesCounter == names.length) {
                    createChart();
                }
            });
        });



        // create the chart when all data is loaded
        function createChart() {

            $('#container').highcharts('StockChart', {
                chart: {
                },

                title : {
                    text: '微博情绪走势图'
                },

                rangeSelector: {
                    selected: 4,
                    inputEnabled: false,
                    buttons: [{
                        type: 'week',
                        count: 1,
                        text: '1w'
                    }, {
                        type: 'month',
                        count: 1,
                        text: '1m'
                    }, {
                        type: 'month',
                        count: 3,
                        text: '3m'
                    }]
                },

                yAxis: {
                    title: {
                        text: '微 博 条 数'
                    },
                    plotLines : [{
                        value : 1000,
                        color : 'silver',
                        dashStyle : 'shortdash',
                        width : 2,
                        label : {
                            text : 'low'
                        }
                    }, {
                        value : 20000,
                        color : 'red',
                        dashStyle : 'shortdash',
                        width : 2,
                        label : {
                            text : 'high'
                        }
                    }]
                },

                tooltip: {
                    valueDecimals: 0,
                    xDateFormat: '%Y-%m-%d %H:%M'
                },

                legend: {
                    enabled: true
                },

                series: seriesOptions
            });
        }
    });
  </script>
{% endblock %}
