{% extends "master.html" %}
{% block title %}网民情绪监测和预警{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/toggle_switch.css">
<style>
    .title {
        margin: 30px auto;
        font-size: 30px;
        font-weight: 200;
        line-height: 1;
        letter-spacing: -1px;
        text-align: center;
    }
    #presets a.first {
        border-left: none;
    }
    #presets a {
        border-left: solid #666 1px;
        padding: 0 10px;
    }
    a.active {
        text-decoration: none;
        color: #000;
        font-weight: bold;
        cursor: text;
    }
    #emotion_chart_div {
        height:400px;
        border:1px solid gray;
        margin-left:auto;
        margin-right:auto
    }
    #tag_cloud_div {
        height:200px;
        margin-left:auto;
        margin-right:auto
    }
    #emotion_pie_container{
        height: 200px;
        float: left;
    }
    #weibo_container{
        width: 340px;
        float: left;
    }
    .icon-up {
        filter: alpha(opacity=50);
        opacity: 0.5;
        -moz-opacity: 0.5;
    }
    .goog-custom-button .icon-up, .goog-custom-button .icon-down {
        display: block;
    }
    .icon-up {
        background: url("/static/img/ui.png") no-repeat;
        width: 14px;
        height: 14px;
        padding: 0;
        margin: 0;
        position: relative;
    }
    #scrollingListTd {
        padding-left: 2px;
    }
    .chartclient-annotation, .chartclient-annotation-sel {
        margin: 0;
        padding: 0 0 1px 0;
        cursor: pointer;
    }
    .chartclient-annotation-table {
        padding: 0;
        margin: 0;
        border: 0;
        font-size: 9pt;
    }
    .chartclient-annotation-cell-1, .chartclient-annotation-cell-2 {
        vertical-align: top;
        margin: 0;
        padding-top: 1px;
    }
    .chartclient-annotation-letter {
        text-decoration: none;
        padding: 0 1px 0 1px;
        color: #111;
        font-weight: bold;
        background: url("/static/img/ui.png") repeat-x 0 -40px;
        border: 1px solid #aaa;
    }
    .chartclient-annotation-letter {
        display: inline;
        margin: 0px 5px 0px 0px;
        font-weight: bold;
        text-decoration: underline;
        color: #00C;
        cursor: pointer;
    }
    .chartclient-annotation-title {
        display: inline;
        margin: 0px 5px 0px 0px;
        font-weight: bold;
    }
    .chartclient-annotation-content {
        white-space: normal;
    }
    .chartclient-annotation-content {
        display: inline;
        color: #666;
    }
    .chartclient-annotation-date {
        font-size: 0.9em;
        color: #BBB;
        display: block;
    }
    #togglecount{
        width: 200px;
        position: absolute;
        top: 178px;
        left: 90px;
        z-index: 1000;
    }
    #vertical-ticker {
        height: 361px;
        width: 400px;
        overflow: hidden;
        margin-left: 1px;
        margin-top: 2px;
        padding: 0;
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
    }
</style>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div style="text-align: center">
                <div id="presets">
                    <a class="first" href="/moodlens/">全网</a>
                    <a class="" href="/moodlens/field">领域</a>
                    <a class="active" href="/moodlens/topic">话题</a>
                </div>
              <input type="text" id="keyword" value="" placeholder="输入关键词..." style="margin-top: 11px;margin-left: 62px;">
              <button id="search_bt" class="btn btn-primary" type="submit" onclick="submit_form();return false;"><i class="icon-search"></i>分析</button>
            </div>
            <hr class="soften">
        </div>
        <div id="emotion_chart_div" class="row-fluid">
            <div class="span8">
                <!--<div class="control-group" id="togglecount">
                    <div class="controls btn switch switch-two">
                        <input id="absolute" name="view" type="radio">
                        <label for="absolute" onclick="switch2('absolute');">绝对数量</label>

                        <input id="relative" name="view" type="radio" checked>    
                        <label for="relative" onclick="switch2('relative');">相对比例</label>                       
                        <span class="slide-button btn btn-success"></span>
                    </div>
                </div>-->
                <div id="emotion_container" style="width:900px;"></div>
            </div>
            <div id="weibo_container" class="span4">
                <ul id="vertical-ticker">
                </ul>
                <p><span class="label label-info" id="event_title"></span><a href="#" id="ticker-previous">Previous</a> / <a href="#" id="ticker-next">Next</a> / <a id="stop" href="#">Stop</a> / <a id="start" href="#">Start</a></p>
            </div>
        </div>
        <div class="row-fluid" style="border:1px solid gray;">
            <div id="tag_cloud_div" class="span8">
                <canvas width="900px" height="200px" id="myCanvas">
                    <p>Anything in here will be replaced on browsers that support the canvas element</p>
                </canvas>
                <div id="tags_div">
                    <ul id="tags_ul"><li><a style="font-size:1ex">Tags Cloud</a></li></ul>
                </div>
            </div>
            <div id="emotion_pie_container" class="span4">
            </div>
        </div>
    </div>
    
{% endblock %}
{% block script %}
  <script src="{{ url_for('static', filename='js/highstock.js') }}"></script>
  <script src="{{ url_for('static', filename='js/exporting.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.tagcanvas.min.js') }}"></script>
  <script type="text/javascript" src="http://buildinternet.s3.amazonaws.com/projects/totem/js/jquery.totemticker.js"></script>

  <script>
    var oopts = {textHeight: 25,maxSpeed: 0.03,decel: 0.98,depth: 0.92,outlineColour: '#f6f',outlineThickness: 3,pulsateTo: 0.2,pulsateTime: 0.5,wheelZoom: false,textColour:'#00f',shadow:'#ccf',minBrightness:0.2,shadowBlur:3,weight:true,weightMode:'both'};

    var emotion_ratio = {};
    var happy_absolute = [];
    var angry_absolute = [];
    var sad_absolute = []
    var happy_ratio = [];
    var angry_ratio = [];
    var sad_ratio = [];
    var happy_list = [];
    var angry_list = [];
    var sad_list = [];
    var ts_list = [];

    function submit_form(){
        display_realtime_emotion();
        redraw_tagcanvas();
        //switch2();
    }
    
    function redraw_tagcanvas() {
        if(!$('#myCanvas').tagcanvas(oopts,'tags_div')) {
            $('#myCanvas').hide();
        }
    }
    function defscale(count, mincount, maxcount, minsize, maxsize){
      if(maxcount == mincount){
        return (maxsize + minsize) / 2
      }else{
        return minsize + (maxsize - minsize) * Math.pow((count / (maxcount - mincount)), 2)
      }
    }
    var max_word_size = 10;
    var min_word_size = 1;
    function chg_tagcloud(data) {
        $("#tags_ul").empty();
        var cloud_list = [];
        var max_count = 0;
        var min_count = 0;
        for (var i=0;i<data.length;i++) {
            if(max_count < parseInt(data[i][1])){
                max_count = parseInt(data[i][1]);
            }
            if(min_count > parseInt(data[i][1])){
                min_count = parseInt(data[i][1]);
            }
            cloud_list.push([parseInt(data[i][1]), data[i][0]]);
        }
        for (var i=0;i<cloud_list.length;i++) {
            $("#tags_ul").append("<li><a style=\"font-size:"+ defscale(cloud_list[i][0], min_count, max_count, min_word_size, max_word_size) +"ex\">"+ cloud_list[i][1] +"</a></li>");
        }
        redraw_tagcanvas();
    }
    function chg_weibos(data){
        var html = "";
        for(var i=0;i<data.length;i+=1){
            var emotion = data[i][0];
            var name = data[i][1];
            var user_link = data[i][2];
            var text = data[i][3];
            var weibo_link = data[i][4];
            var time = Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', parseInt(data[i][5]) * 1000);
            var repost_count = data[i][6];
            var retweeted_text = data[i][7];
            html += "<li><div class=\"chartclient-annotation-letter\"><img src='/static/img/" + emotion + "_thumb.gif'></div>"; 
            html += "<div class=\"chartclient-annotation-title\"><a href='" + user_link + "' target='_blank' >" + name + "</a> 发布 </div>";
            html += "<div class=\"chartclient-annotation-content\"><a href='" + weibo_link + "' target='_blank' >" + text + "</a></div>";
            if(retweeted_text != 'None'){
                html += "<div class=\"chartclient-annotation-content\">" + retweeted_text + "</div>";
            }
            html += "<div class=\"chartclient-annotation-date\"> " + time + "<span style=\"float:right\"> 转发数：" +  repost_count + "</span></div></li>";
        }
        $("#vertical-ticker").append(html);
        display_vertical_list();
    }

    function chg_emotion_pie(raw_data){
        if(raw_data[3] != 0){
            var data = [['高兴', raw_data[0] * 100], ['愤怒', raw_data[1] * 100], ['悲伤', raw_data[2] * 100]];
            $('#emotion_pie_container').empty();
            display_emotion_pie(data);
        }
    }

    function display_vertical_list(){
        $("#vertical-ticker").totemticker({
            row_height  :   '100px',
            next        :   '#ticker-next',
            previous    :   '#ticker-previous',
            stop        :   '#stop',
            start       :   '#start',
            mousestop   :   true,
        });
    }

    function init_statistics(end_ts, during){
        var query_args = $("#keyword")[0].value;
        var emotion = ['happy', 'angry', 'sad'];
        for(var e in emotion){
            $.ajax({
                url: "/moodlens/weibos_data/" + emotion[e] + "/global/?ts=" + end_ts + "&during=" + during  + "&query=" + query_args,
                type: "GET",
                dataType:"json",
                success: function(data){
                    $("#vertical-ticker").empty();
                    chg_weibos(data);
                }
            });
        }
        $.ajax({
            url: "/moodlens/keywords_data/global/?ts=" + end_ts + "&during=" + during + "&query=" + query_args,
            type: "GET",
            dataType:"json",
            success: function(data){
                chg_tagcloud(data);
            }
        });
        $.ajax({
            url: "/moodlens/data/global/?ts=" + end_ts + "&during=" + during + "&query=" + query_args,
            type: "GET",
            dataType:"json",
            success: function(data){
                var happy_emotion_count = data['happy'][1];
                var angry_emotion_count = data['angry'][1];
                var sad_emotion_count = data['sad'][1];
                var total_count = parseInt(happy_emotion_count) + parseInt(angry_emotion_count) + parseInt(sad_emotion_count);
                chg_emotion_pie([happy_emotion_count, angry_emotion_count, sad_emotion_count, total_count]);
            }
        })
    }

    function pull_emotion_count(area_type, total_days, times, begin_ts, during, series1, series2, series3, series4, series5, series6){
        var query_args = $("#keyword")[0].value;
        if(times >= total_days){
            get_peaks(series4, series5, series6);
            return;
        }
        
        var ts = begin_ts + times * during;
        $.ajax({
            url: "/moodlens/data/" + area_type + "/" + "?ts=" + ts + "&query=" + query_args,
            type: "GET",
            dataType:"json",
            success: function(data){
                var isShift = false;
                var happy_emotion_count = data['happy'][1];
                var angry_emotion_count = data['angry'][1];
                var sad_emotion_count = data['sad'][1];

                var total_emotion_count = happy_emotion_count + angry_emotion_count + sad_emotion_count;
                if(total_emotion_count > 0){
                    var happy_emotion_ratio = parseInt(happy_emotion_count * 100 / total_emotion_count) / 100.0;
                    var angry_emotion_ratio = parseInt(angry_emotion_count * 100 / total_emotion_count) / 100.0;
                    var sad_emotion_ratio = parseInt(sad_emotion_count * 100 / total_emotion_count) / 100.0;
                    series1.addPoint([ts * 1000, happy_emotion_ratio], true, isShift);
                    series2.addPoint([ts * 1000, angry_emotion_ratio], true, isShift);
                    series3.addPoint([ts * 1000, sad_emotion_ratio], true, isShift);
                    emotion_ratio[ts * 1000] = [happy_emotion_ratio, angry_emotion_ratio, sad_emotion_ratio, total_emotion_count];
                    happy_absolute.push([ts * 1000, happy_emotion_count]);
                    angry_absolute.push([ts * 1000, angry_emotion_count]);
                    sad_absolute.push([ts * 1000, sad_emotion_count]);
                    happy_ratio.push([ts * 1000, happy_emotion_ratio]);
                    angry_ratio.push([ts * 1000, angry_emotion_ratio]);
                    sad_ratio.push([ts * 1000, sad_emotion_ratio]);
                    happy_list.push(happy_emotion_ratio);
                    angry_list.push(angry_emotion_ratio);
                    sad_list.push(sad_emotion_ratio);
                    ts_list.push(ts);
                }
                else{
                    emotion_ratio[ts * 1000] = [0, 0, 0, 0];
                }
                times++;
                pull_emotion_count(area_type, total_days, times, begin_ts, during, series1, series2, series3, series4, series5, series6);
            }
        });
    }

    function get_peaks(series4, series5, series6){
        var query_args = $("#keyword")[0].value;
        $.ajax({
            url: "/moodlens/emotionpeak/?happy=" + happy_list.join(',') + "&angry=" + angry_list.join(',') + "&sad=" + sad_list.join(',') + "&ts=" + ts_list + "&query=" + query_args,
            type: "GET",
            dataType:"json",
            success: function(data){
              var isShift = false;
              for(var i in data){
                var x = data[i]['ts'];
                var title = data[i]['title'];
                var happy_title = title['happy'];
                var angry_title = title['angry'];
                var sad_title = title['sad'];
                var text = data[i]['text'];
                var happy_text = text['happy'];
                var angry_text = text['angry'];
                var sad_text = text['sad'];
                var flagClick = function(event){
                    var click_ts = this.x / 1000;
                    var emotion = this.emotion;
                    var title = this.title;
                    $.ajax({
                        url: "/moodlens/weibos_data/" + emotion + "/global/?ts=" + click_ts + "&query=" + query_args,
                        type: "GET",
                        dataType:"json",
                        success: function(data){
                            $("#vertical-ticker").empty();
                            chg_weibos(data);
                            $("#event_title").html(title);
                        }
                    });
                    $.ajax({
                        url: "/moodlens/keywords_data/global/?ts=" + click_ts + "&emotion=" + emotion + "&query=" + query_args,
                        type: "GET",
                        dataType:"json",
                        success: function(data){
                            chg_tagcloud(data);
                        }
                    });
                    chg_emotion_pie(emotion_ratio[this.x]);     
                }
                series4.addPoint({'x': x, 'title': happy_title, 'text': happy_text, 'emotion': 'happy', 'events': {'click': flagClick}}, true, isShift);
                series5.addPoint({'x': x, 'title': angry_title, 'text': angry_text, 'emotion': 'angry', 'events': {'click': flagClick}}, true, isShift);
                series6.addPoint({'x': x, 'title': sad_title, 'text': sad_text, 'emotion': 'sad', 'events': {'click': flagClick}}, true, isShift);
              }
            }
        })
    }


    function display_emotion_pie(data){
        Highcharts.setOptions({
            colors: ['#006600', '#FF0000', '#000099']
        });
        // Build the chart
        $('#emotion_pie_container').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: '微博情绪饼图',
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage}%</b>',
                percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: '微博情绪占比',
                data: data/*[
                    ['高兴',   45.0],
                    ['愤怒',       26.8],
                    {
                        name: '悲伤',
                        y: 12.8,
                        sliced: true,
                        selected: true
                    },
                ]*/
            }]
        });
    }

    function display_realtime_emotion(){
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });


        var chart_obj = $('#emotion_container').highcharts({
            chart: {
                type: 'spline',
                animation: Highcharts.svg, // don't animate in old IE
                marginRight: 10,
                events: {
                    load: function() {
                        var total_days = 10;
                        var begin_ts = parseInt((new Date(2013, 0, 1)).getTime() / 1000) + 2 * 3600;
                        var now_ts = parseInt((new Date(2013, 0, 11)).getTime() / 1000) + 2 * 3600;
                        var during = 24 * 3600;
                        init_statistics(now_ts, total_days * during);
                        pull_emotion_count('global', total_days, 0, begin_ts, during, this.series[0], this.series[1], this.series[2], this.series[3], this.series[4], this.series[5]);                        
                    }
                }
            },
            title : {
                text: '微博情绪走势图'
            },

            rangeSelector: {
                selected: 4,
                inputEnabled: false,
                buttons: [{
                    type: 'week',
                    count: 1,
                    text: '1w'
                }, {
                    type: 'month',
                    count: 1,
                    text: '1m'
                }, {
                    type: 'month',
                    count: 3,
                    text: '3m'
                }]
            },
            xAxis: {
                title: {
                    enabled: true,
                    text: '时间'
                },
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                min: 0,
                title: {
                    text: '微 博 条 数'
                },
                plotLines : [{
                    value : 5000,
                    color : 'silver',
                    dashStyle : 'shortdash',
                    width : 2,
                    label : {
                        text : 'low'
                    }
                }, {
                    value : 20000,
                    color : 'red',
                    dashStyle : 'shortdash',
                    width : 2,
                    label : {
                        text : 'high'
                    }
                }]
            },
            tooltip: {
                valueDecimals: 2,
                xDateFormat: '%Y-%m-%d %H:%M'
            },
            legend: {
               layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -20,
                y: 0,
                borderWidth: 1,
                enabled: true
            },
            exporting: {
                enabled: true
            },
            series: [{
                name: 'happy',
                data: [],
                id: 'happy',
                color: '#006600',
                marker : {
                    enabled : false,    
                }
            },{
                name: 'angry',
                data: [],
                id: 'angry',
                color: '#FF0000',
                marker : {
                    enabled : false,    
                }
            },{
                name: 'sad',
                data: [],
                id: 'sad',
                color: '#000099',
                marker : {
                    enabled : false,    
                }
            },{
                name: 'happy-events',
                type : 'flags',
                data : [],
                cursor: 'pointer',
                onSeries : 'happy',
                shape : 'circlepin',
                width : 16,
                color: '#006600'
            },{
                name: 'angry-events',
                type : 'flags',
                data : [],
                cursor: 'pointer',
                onSeries : 'angry',
                shape : 'circlepin',
                width : 16,
                color: '#FF0000'
            },{
                name: 'sad-events',
                type : 'flags',
                data : [],
                cursor: 'pointer',
                onSeries : 'sad',
                shape : 'circlepin',
                width : 16,
                color: '#000099'
            }]
        });
    }

   /*function switch2(status){
        if(status == 'absolute'){
            var chart = $('#emotion_container').highcharts();
            chart.series[0].update({
                data : happy_absolute
            });
            chart.series[1].update({
                data : angry_absolute
            });
            chart.series[2].update({
                data : sad_absolute
            });
        }
        else{
            var chart = $('#emotion_container').highcharts();
            chart.series[0].update({
                data : happy_ratio
            });
            chart.series[1].update({
                data : angry_ratio
            });
            chart.series[2].update({
                data : sad_ratio
            });
        }
    }*/
  </script>
{% endblock %}