{% extends 'profile/ajax/ajax_layout.html' %}
{% block body %}
  <script>
  var active;
  function display_active_chart(data){
    active = new RGraph.Bar('activeCanvas',data['y']);
    active.Set('chart.title','博主活跃度分布');
    active.Set('chart.labels',data['x']);       
    active.Set('chart.strokestyle', 'black');
    active.Set('labels.above',true);
    active.Set('chart.tooltips.effect','expand');
    active.Set('chart.tooltips.event','onmousemove');
    active.Set('chart.tooltips', data['y']);
    active.Set('chart.highlight.style','3d');
    active.Set('chart.colors',['#009966']);
    active.Set('chart.width',930);
    active.Set('chart.height',400);
    active.Set('chart.title.xaxis', '发布微博数量（/条）');
    active.Set('chart.title.yaxis', '人数（/人）');
    active.Set('chart.gutter.left', 65);
    active.Set('chart.gutter.bottom', 45);
    active.Set('chart.title.xaxis.pos', 0.25);
    active.Set('chart.title.yaxis.pos', 0.23);
    active.Draw();
  }
  function submit_form(){
    var interval_arg = $("#act_interval")[0].value;
    RGraph.Clear(active.canvas);
    $.ajax({
          url: "/profile/group_active/{{field}}?interval=" + interval_arg,
          dataType: 'json',   
          type: "GET",   
          success: function (data) {
            $("#chartdiv_week_weibocount").empty();
            display_active_chart(data);
          }
      });
  }
  function init_chart(){
    var interval_arg = $("#act_interval")[0].value;
    $.ajax({
          url: "/profile/group_active/{{field}}?interval=" + interval_arg,
          dataType: 'json',   
          type: "GET",   
          success: function (data) {
             display_active_chart(data);
          }
      });
  }
  init_chart();
  </script>
  <form class="form-inline">
    时间范围:
    <select class="span2" name="interval" id="act_interval">
      <option value="120">4个月</option>
      <option value="180">6个月</option>
      <option value="150">5个月</option>
      <option value="90">3个月</option>
      <option value="7">1周</option>
      <option value="30">1个月</option>
      <option value="60">2个月</option>
    </select>
    <button type="button" class="btn btn-primary" onclick="submit_form();return false;"><i class="icon-search"></i>计算</button>
  </form>
  <div><canvas id="activeCanvas" width="930" height="400">[No canvas support]</canvas></div>

{% endblock body %}

