{% extends 'profile/ajax/ajax_layout.html' %}

{% block body %}     
<form class="form-inline">
    模型<select class="span2" name="topic_type" id="topic_type">
        <option value="lda">LDA</option>
        <option value="bst">突发词</option>
      </select>
    时间范围:
    <select class="span2" name="interval" id="interval">
      <option value="-1">从注册至今</option>
    </select>
     以<select class="span2" name="sort" id="sort">
        <option value="prob">概率</option>
      </select>

      作为权重显示前<input type="number" name="limit" value="200" min="1" max="1000" class="span2" id="limit">关键词
      <!--<input type='button' onclick='return false;'>-->
    <button type="button" class="btn btn-primary" id="generate_cloud" onclick="submit_form();return false;"><i class="icon-search"></i>生成关键词云图</button>
</form>
<div id='d3_cloud'></div>
<script src="/static/js/profile/d3.v3.min.js"></script>
  <script src="/static/js/profile/d3.layout.cloud.js"></script>

  <script>
function defscale(count, mincount, maxcount, minsize, maxsize){
  if(maxcount == mincount){
    return (maxsize + minsize) / 2.0
  }else{
    return minsize + (maxsize - minsize) * Math.pow((count * 1.0 / (maxcount - mincount)), 3)
  }
}

function defrotate(count, mincount, maxcount){
  if(count < (maxcount + mincount) / 2){
      return 0;
  }else{
      return 0;
  }
}

function deffillcolor(text){
  //console.log(new RegExp("#.*?#", "g").test(text));
  //if())
}

function display_d3_cloud(data){
  var widthpixel = 936;
  var heightpixel = 400;
  var fill = d3.scale.category20();
  var FONT_STYLE = "SimHei";//Microsoft YaHei,SimSun,SimHei,STHeiti//Boopee";//"IMPACT"、"Lucida Sans"、"Loved by the King"
  var wordcounts = data;
  var counts = new Array();
  for(var wordcount in wordcounts){
    counts.push(parseFloat(wordcounts[wordcount]["size"]));
  }
  var maxcount = Math.max.apply(Math, counts);
  var mincount = Math.min.apply(Math, counts);
  var maxsize = 100;
  var minsize = 15;
  var wordsize = [];
  for(var wordcount in wordcounts){
    var count = parseFloat(wordcounts[wordcount]["size"]);
    var word = wordcounts[wordcount]["text"];
    var size = defscale(count, mincount, maxcount, minsize, maxsize);
    var rotate = defrotate(count, mincount, maxcount);
    //deffillcolor(word);
    wordsize.push({"text": word, "size": size});
  }


  d3.layout.cloud().size([widthpixel, heightpixel])
      .words(wordsize)
      //.rotate(function(d) { return d.rotate;})
      .rotate(function() { return ~~(Math.random() * 2) * 90; })//随机旋转
      .font(FONT_STYLE)
      .fontSize(function(d) { return d.size; })
      .on("end", draw)
      .start();

  function draw(words) {
    d3.select("#d3_cloud").append("svg")
        .attr("width", widthpixel)
        .attr("height", heightpixel)
      .append("g")
        .attr("transform", "translate(" + [widthpixel >> 1, heightpixel >> 1] + ")")
      .selectAll("text")
        .data(words)
      .enter().append("text")
        .style("font-size", function(d) { return d.size + "px"; })
        .style("font-family", FONT_STYLE)
        .style("fill", function(d, i) { 
          return fill(i); 
        })
        .attr("text-anchor", "middle")
        .attr("transform", function(d) {
          
          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";

        })
        .text(function(d) { return d.text; });
  }
}

  $(document).ready(function(){
    $("#topic_type").change(function(){  
      changChild($(this).val());  
    });
    $.ajax({
        url: "/profile/group_topic/{{field}}?interval=90&sort=prob&limit=200&topic_type=lda",
        dataType: 'json',   
        type: "GET",   
        success: function (data) {
          display_d3_cloud(data);
        }
    });
  });
  function changChild(tid){  
    $("#interval").empty();//清空
    $("#sort").empty();
    if (tid == 'bst'){
      var html = "<option value='90'>最近3个月</option><option value='60'>最近2个月</option><option value='30'>最近1个月</option><option value='7'>最近1周</option><option value='1'>最近1天</option>";
      var shtml = "<option value='freq'>词频</option><option value='burst'>突发度</option>";
    }else{
      var html = "<option value='-1'>从注册至今</option>";
      var shtml = "<option value='prob'>概率</option>";
    }
    $("#interval").append(html);
    $("#sort").append(shtml);
  }
  function submit_form(){
    var interval_arg = $("#interval")[0].value;
    var sort_arg = $("#sort")[0].value;
    var limit_arg = $("#limit")[0].value;
    var type_arg = $("#topic_type")[0].value;
    $.ajax({
          url: "/profile/group_topic/{{field}}?interval=" + interval_arg + "&sort=" + sort_arg + "&limit=" + limit_arg + "&topic_type=" + type_arg,
          dataType: 'json',   
          type: "GET",   
          success: function (data) {
            $("#d3_cloud").empty();
            display_d3_cloud(data);
          }
      });
  }
  </script>

{% endblock body %}

