{% extends 'profile/ajax/ajax_layout.html' %}
{% block body %}
  <script>
  function display_emotion_count(time_arr, happy_arr, angry_arr, sad_arr){
      var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'chartdiv_emotion',
            type: 'spline',
            marginRight: 100,
            marginBottom: 25
        },
        title: {
            text: '群体情绪走势图',
            x: -20 //center
        },
        
        xAxis: {
            categories: time_arr,
            labels:{
              step:10,//3就是x轴显示的间隔
            }
        },
        yAxis: {
            title: {
                text: '比例'
            },
            lineWidth: 2,
            min: 0, 
            max: 1,
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            formatter: function() {
                    return '<b>'+ this.series.name +'</b><br/>'+
                    this.x +': '+ this.y +'';
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -10,
            y: 100,
            borderWidth: 0
        },
        series: [{
            name: '高兴',
            data: happy_arr,
            color: '#006600',
        },{
            name: '愤怒',
            data: angry_arr,
            color: '#FF0000',
        }, {
            name: '悲伤',
            data: sad_arr,
            color: '#000099',//'#0000FF','#0000CC',//
          }]
    });
  }

  function init_chart(){
    var interval_arg = $("#emo_interval")[0].value;
    $.ajax({
        url: '/profile/group_emotion/{{field}}?interval=' + interval_arg,
        dataType: 'json',   
        type: "GET",   
        success: function (data) {
          display_emotion_count(data['time'], data['happy'], data['angry'], data['sad']);
        }
    });
  }
  init_chart();

  function submit_form(){
      var interval_arg = $("#emo_interval")[0].value;
      $.ajax({
            url: "/profile/group_emotion/{{field}}?interval=" + interval_arg,
            dataType: 'json',   
            type: "GET",   
            success: function (data) {
              $("#chartdiv_emotion").empty();
              display_emotion_count(data['time'], data['happy'], data['angry'], data['sad']);
            }
        });
    }
  </script>
  <form class="form-inline">
    时间范围:
    <select class="span2" name="interval" id="emo_interval">
      <option value="270">9个月</option>
      <option value="180">6个月</option>
      <option value="150">5个月</option>
      <option value="120">4个月</option>
      <option value="90">3个月</option>
      <option value="60">2个月</option>
      <option value="30">1个月</option>
      <option value="7">1周</option>
    </select>
    <button type="button" class="btn btn-primary" onclick="submit_form();return false;"><i class="icon-search"></i>生成群体情绪走势图</button>
  </form>
  <div id="chartdiv_emotion" style="width: 930px; height: 400px;"></div>
      

{% endblock body %}

