{% extends 'profile/ajax/ajax_layout.html' %}

{% block body %}     
  <script>
  function display_ori_repost_count(data){
    var chart = new Highcharts.Chart({
      chart: {
          renderTo: 'chartdiv_week_weibocount',
          type: 'spline',
          marginRight: 100,
          marginBottom: 25
      },
      title: {
          text: '微博数量走势',
          x: -20 //center
      },
      xAxis: {
          categories: data['time'],
          labels:{
            step:10,//3就是x轴显示的间隔
          }
      },
      yAxis: {
          title: {
              text: '微博条数（条）'
          },
          min: 0,
          lineWidth: 2,
          plotLines: [{
              value: 0,
              width: 1,
              color: '#808080'
          }]
      },
      tooltip: {
          formatter: function() {
                  return '<b>'+ this.series.name +'</b><br/>'+
                  this.x +': '+ this.y +'条';
          }
      },
      legend: {
          layout: 'vertical',
          align: 'right',
          verticalAlign: 'top',
          x: -10,
          y: 100,
          borderWidth: 0
      },
      series: [{
          name: '总微博数',
          data: data['count'],
      }, {
          name: '转发微博数',
          data: data['repost'],
      },{
          name: '原创微博数',
          data: data['fipost'],
      }]
  });
}

  function init_post_count(){
    var interval_arg = $("#weibo_count_interval")[0].value;
    $.ajax({
        url: "/profile/group_count/{{field}}?interval=" + interval_arg,
        dataType: 'json',   
        type: "GET",   
        success: function (data) {
          display_ori_repost_count(data);
        }
    });
  }
  init_post_count()
  function submit_form(){
    var interval_arg = $("#weibo_count_interval")[0].value;
    $.ajax({
          url: "/profile/group_count/{{field}}?interval=" + interval_arg,
          dataType: 'json',   
          type: "GET",   
          success: function (data) {
            $("#chartdiv_week_weibocount").empty();
            display_ori_repost_count(data);
          }
      });
  }
  </script>
  <form class="form-inline">
      时间范围:
    <select class="span2" name="interval" id="weibo_count_interval">
      <option value="270">9个月</option>
      <option value="180">6个月</option>
      <option value="150">5个月</option>
      <option value="120">4个月</option>
      <option value="90">3个月</option>
      <option value="60">2个月</option>
      <option value="30">1个月</option>
      <option value="7">1周</option>
    </select>
    <button type="button" class="btn btn-primary" onclick="submit_form();return false;"><i class="icon-search"></i>生成数量走势图</button>
  </form>
  <div id="chartdiv_week_weibocount" style="width: 930px; height: 400px;"></div>
{% endblock body %}

