{% extends 'profile/ajax/ajax_layout.html' %}

{% block body %}     
  <script>

  $(document).ready(function(){
    
      
  })
  </script>
  <form class="form-inline">
      排序标准:
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">微博数<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li class="active"><a href="#" data-toggle="tab">微博数</a></li>
          <li><a href="#" data-toggle="tab">粉丝数</a></li>
          <li><a href="#" data-toggle="tab">关注数</a></li>
          <li><a href="#" data-toggle="tab">敏感度</a></li>
        </ul>
      </div>
      时间范围:
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">1天
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li class="active"><a href="#" data-toggle="tab">1天</a></li>
          <li><a href="#" data-toggle="tab">1周</a></li>
          <li><a href="#" data-toggle="tab">1个月</a></li>
          <li><a href="#" data-toggle="tab">3个月</a></li>
        </ul>
      </div>
      前<input type="text" value="500" class="span1">
      条结果
      每页<input type="text" value="8" class="span1">
      条结果
  
    <button class="btn btn-primary"><i class="icon-search"></i>排序</button>

  </form>
              
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>博主ID</th>
                  <th>博主昵称</th>
                  <th>微博数</th>
                  <th>粉丝数</th>
                  <th>关注数</th>
                  <th>是否认证</th>
                  <th>性别</th>
                </tr>
              </thead>
              <tbody>
                {% for user in result %}
                  <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.userName}}</td>
                    <td>{{user.statusesCount}}</td>
                    <td>{{user.followersCount}}</td>
                    <td>{{user.friendsCount}}</td>
                    <td>{{user.verified}}</td>
                    <td>{{user.gender}}</td>
                  </tr>
                {% endfor %}
                
              </tbody>
            </table>
            <div class="inputAppend"><a class="btn btn-small" href="#"><i class="icon-download-alt"></i> 导出</a></div>
            <div class="pagination pagination-centered">
              <ul>
                <li class="disabled"><a href="#">«</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">»</a></li>
              </ul>
            </div>
      

{% endblock body %}

