{% extends 'profile/ajax/ajax_layout.html' %}

{% block body %}
<div class="well">
    <legend><strong>兴趣领域</strong></legend>
    {% for domain in fields.split(',') %}
        <button type="button" class="btn btn-default">{{ domain }}</button>
    {% endfor %}
</div>
<div class="well">
    <legend><strong>话题兴趣</strong></legend>
    <div>
        <div id="loading_current_topic" class="alert alert-info">
            系统繁忙计算中，请稍后...
        </div>
        <label>
          <div id="current_topic_process" class="progress progress-striped active">
            <div id="current_topic_bar" class="bar" style="width: 100%;"></div>
          </div>
        </label>
    </div>
    <div>
        <p><a class="btn btn-small btn-success" href="#" id="editor_save"><i class="icon-download-alt"></i> 导出</a></p>
    </div>
    <div id='d3_cloud'></div>
    <canvas type="hidden" id="svgtoimg" width="100px" height="100px" style="display: none"></canvas>
</div>

<script>
  function defscale(count, mincount, maxcount, minsize, maxsize){
  if(maxcount == mincount){
    return (maxsize + minsize) / 2.0
  }else{
    return minsize + (maxsize - minsize) * Math.pow((count * 1.0 / (maxcount - mincount)), 3)
  }
  }

  function defrotate(count, mincount, maxcount){
    if(count < (maxcount + mincount) / 2){
        return 0;
    }else{
        return 0;
    }
  }
  
  function display_d3_cloud(data){
    var widthpixel = 936;
    var heightpixel = 400;
    var fill = d3.scale.category20();
    var FONT_STYLE = "SimHei";//Microsoft YaHei,SimSun,SimHei,STHeiti//Boopee";//"IMPACT"、"Lucida Sans"、"Loved by the King"
    var wordcounts = data;
    var counts = new Array();
    for(var wordcount in wordcounts){
      counts.push(parseFloat(wordcounts[wordcount]["size"]));
    }
    var maxcount = Math.max.apply(Math, counts);
    var mincount = Math.min.apply(Math, counts);
    var maxsize = 100;
    var minsize = 15;
    var wordsize = [];
    for(var wordcount in wordcounts){
      var count = parseFloat(wordcounts[wordcount]["size"]);
      var word = wordcounts[wordcount]["text"];
      var size = defscale(count, mincount, maxcount, minsize, maxsize);
      var rotate = defrotate(count, mincount, maxcount);
      //deffillcolor(word);
      wordsize.push({"text": word, "size": size});
    }


    d3.layout.cloud().size([widthpixel, heightpixel])
        .words(wordsize)
        //.rotate(function(d) { return d.rotate;})
        .rotate(function() { return ~~(Math.random() * 2) * 90; })//随机旋转
        .font(FONT_STYLE)
        .fontSize(function(d) { return d.size; })
        .on("end", draw)
        .start();

    function draw(words) {
      d3.select("#d3_cloud").append("svg")
          .attr("width", widthpixel)
          .attr("height", heightpixel)
        .append("g")
          .attr("transform", "translate(" + [widthpixel >> 1, heightpixel >> 1] + ")")
        .selectAll("text")
          .data(words)
        .enter().append("text")
          .style("font-size", function(d) { return d.size + "px"; })
          .style("font-family", FONT_STYLE)
          .style("fill", function(d, i) { 
            return fill(i); 
          })
          .attr("text-anchor", "middle")
          .attr("transform", function(d) {
            
            return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";

          })
          .text(function(d) { return d.text; });
    }
  }
  $("#editor_save").click(function() {
   // Get the d3js SVG element
   var tmp = document.getElementById("d3_cloud");
   var svg = tmp.getElementsByTagName("svg")[0];
   // Extract the data as SVG text string
   var svg_xml = (new XMLSerializer).serializeToString(svg);

   // the canvg call that takes the svg xml and converts it to a canvas
   canvg('svgtoimg', svg_xml);
 
   // the canvas calls to output a png
   var canvas = document.getElementById("svgtoimg");
   //var img = canvas.toDataURL("image/png");
   var dataURL=canvas.toDataURL();
   window.open('', '_blank').location.href=dataURL;
   // do what you want with the base64, write to screen, post to server, etc...
    });
  $(document).ready(function(){
    $.ajax({
        url: "/profile/person_topic/{{uid}}",
        dataType: 'json',   
        type: "GET",   
        success: function (data) {
          $('#d3_cloud').empty();
          var status = data['status'];
          var topic_data = data['data'];
          if (status == 'current finished') {
              $("#current_topic_bar").css('width', "100%")
              $("#current_topic_process").removeClass("active");
              $("#current_topic_process").removeClass("progress-striped");
              if (topic_data.length) {
                  $("#loading_current_topic").text("计算完成!");
                  display_d3_cloud(topic_data);
              }else{
                   $("#loading_current_topic").text("很抱歉，计算结果为空!");
              }
          }
          else
              return
        }
    });
  });

  </script>
  

{% endblock body %}