{% extends 'profile/ajax/ajax_layout.html' %}

{% block body %}

<div class="well">
    <legend><strong>关注者统计</strong></legend>
    <div>
        <div id="loading_interact_statistics" class="alert alert-info">
            系统繁忙计算中，请稍后...
        </div>
        <label>
          <div id="interact_process" class="progress progress-striped active">
            <div id="interact_bar" class="bar" style="width: 100%;"></div>
          </div>
        </label>
    </div>
    <div id="direct_interact_count_container" style="width: 400px; height: 250px; margin: 0 auto;"></div>
    <div id="retweet_interact_count_container" style="width: 400px; height: 250px; margin: 0 auto;"></div>
    <div id="fields_dist_container" style="width: 400px; height: 250px; margin: 0 auto;"></div>
</div>
<div class="well">
    <legend><strong>关注者信息</strong></legend>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>昵称</th>
          <th>微博数</th>
          <th>粉丝数</th>
          <th>关注数</th>
          <th>领域</th>
        </tr>
      </thead>
      <tbody id="user_table">
      </tbody>
    </table>
    <div id="page-selection" class="pagination pagination-centered"></div>
</div>
  
<script src="/static/js/admin/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="/static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/js/jquery.bootpag.js"></script>
<script>
    var len = $('script').filter(function () {
      return ($(this).attr('src') == '/static/js/profile/highcharts.js');
    }).length;

    if(len == 0){
      loadScript('/static/js/profile/highcharts.js');
      loadScript('/static/js/profile/exporting.js');
    }

    function loadScript(scriptLocationAndName) {
      var head = document.getElementsByTagName('head')[0];
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.src = scriptLocationAndName;
      head.appendChild(script);
    }

	function display_interact_chart(data){
		var data_list = [];
		for(var i in data){
			data_list.push([data[i][0], data[i][1]]);
		}
    var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'direct_interact_count_container',
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: '关注者交互统计'
        },
        tooltip: {
    	    pointFormat: '{series.name}: <b>{point.percentage:.1f} %</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    format: '<b>{point.name}</b>: {point.y}'
                }
            }
        },
        series: [{
            type: 'pie',
            name: '交互占比',
            data: data_list
        }]
    });
	}
	function display_fields_chart(data){
		var data_list = [];
		for(var i in data){
			data_list.push([data[i][0], data[i][1]]);
		}
    var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'fields_dist_container',
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: '关注者领域分布'
        },
        tooltip: {
    	    pointFormat: '{series.name}: <b>{point.percentage:.1f} %</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    format: '<b>{point.name}</b>: {point.y}'
                }
            }
        },
        series: [{
            type: 'pie',
            name: '领域占比',
            data: data_list
        }]
    });
	}
	$(document).ready(function(){
		$.ajax({
        url: "/profile/person_network/friends/{{uid}}",
        dataType: 'json',   
        type: "GET",   
        success: function (data) {
          status = data['status'];
          data = data['data'];
          console.log(status);
          console.log(data);
          display_interact_chart(data);
        }
    });
    $.ajax({
        url: "/profile/person_fri_fol/friends/{{uid}}?page=1",
        dataType: 'json',   
        type: "GET",   
        success: function (data) {
        	var fields_result = data['fields'];
          display_fields_chart(fields_result);
          display_fri_fol_table(data);
        }
    });
	});
	function display_fri_fol_table(data){
  	var total_page_number = parseInt(data['pages']);
    var html = "";
    for(var i=0;i < data['users'].length;i += 1){
      user = data['users'][i];
      html += "<tr><td>" + user['id'] + "</td>";
      html += "<td>" + user['userName'] + "</td>";
      html += "<td>" + user['statusesCount'] + "</td>";
      html += "<td>" + user['followersCount'] + "</td>";
      html += "<td>" + user['friendsCount'] + "</td>";
      html += "<td>" + user['field'] + "</td></tr>";
    }
    $("#user_table").append(html);
    $('#page-selection').bootpag({
        total: total_page_number,
        maxVisible: 10
    }).on("page", function(event, /* page number here */ num){
       $("#user_table").empty();
       $.ajax({
          url: "/profile/person_fri_fol/friends/{{uid}}?page=" + num,
          dataType: 'json',   
          type: "GET",
          success: function (data) {
            var html = "";
            for(var i=0;i < data['users'].length;i += 1){
              user = data['users'][i];
              html += "<tr><td>" + user['id'] + "</td>";
              html += "<td>" + user['userName'] + "</td>";
              html += "<td>" + user['statusesCount'] + "</td>";
              html += "<td>" + user['followersCount'] + "</td>";
              html += "<td>" + user['friendsCount'] + "</td>";
              html += "<td>" + user['field'] + "</td></tr>";
            }
            $("#user_table").append(html);
          }
        });
    });
  } 
</script>
{% endblock body %}
