{% extends 'profile/ajax/ajax_layout.html' %}

{% block body %}
<div class="well">
    <legend><strong>交互统计</strong></legend>
    <div>
        <div id="loading_interact" class="alert alert-info">
            系统繁忙计算中，请稍后...
        </div>
        <label>
          <div id="interact_graph_process" class="progress progress-striped active">
            <div id="interact_graph_bar" class="bar" style="width: 100%;"></div>
          </div>
        </label>
    </div>

    <div>
        <p><a class="btn btn-small btn-danger" href="javascript:void(0);" onclick="download();" id="out"><i class="icon-picture"></i>导出</a></p>
    </div>

    <div id="community" >
      <div id="center-container">
          <div id="infovis"></div>
          <div id="inner-details" ></div>
      </div>
    </div>
</div>

<link type="text/css" href="/static/css/base.css" rel="stylesheet" />
<link type="text/css" href="/static/css/Sunburst.css" rel="stylesheet" />
<script>
function download(){
var canvas=document.getElementById('infovis-canvas');
//var ctx=canvas.getContext("2d");
//var c=document.getElementById('sigma_nodes_1');
//ctx.drawImage(c,0,0);
var dataURL=canvas.toDataURL();
window.open('', '_blank').location.href=dataURL;

};

 </script>
<!--[if IE]><script language="javascript" type="text/javascript" src="../../Extras/excanvas.js"></script><![endif]-->
<!-- JIT Library File -->
<script language="javascript" type="text/javascript" src="/static/js/profile/jit-yc.js"></script>

<!-- Example File -->
<script language="javascript" type="text/javascript" src="/static/js/profile/example2.js"></script>
{% endblock body %}

