{% extends 'profile/ajax/ajax_layout.html' %}

{% block body %}

<div class="well">
    <legend><strong>关注者统计</strong></legend>
    <div>
        <div id="loading_interact_statistics" class="alert alert-info">
            系统繁忙计算中，请稍后...
        </div>
        <label>
          <div id="interact_process" class="progress progress-striped active">
            <div id="interact_bar" class="bar" style="width: 100%;"></div>
          </div>
        </label>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div id="interact_count_container" class="span5" style="width: 400px; height: 250px; margin: 0 5px 0 auto; display: none;"></div>
        <div id="fields_dist_container" class="span5" style="width: 400px; height: 250px; margin: 0 auto; display: none;"></div>
      </div>
    </div>
</div>
<div class="well">
    <legend><strong>关注者排序</strong></legend>
    <div>
        <div id="loading_interact_rank" class="alert alert-info">
            系统繁忙计算中，请稍后...
        </div>
        <label>
          <div id="interact_rank_process" class="progress progress-striped active">
            <div id="interact_rank_bar" class="bar" style="width: 100%;"></div>
          </div>
        </label>
    </div>

    <div>
        <p><a class="btn btn-small btn-success" href="#" id="out"><i class="icon-download-alt"></i>导出</a></p>
    </div>

    <div id="friends_rank_table"><table class="table table-bordered"></table></div>

    <div id="friends_rank_page_selection" class="pagination-centered"></div>

</div>
  
<script src="/static/js/admin/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="/static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/js/jquery.bootpag.js"></script>
<script>
    var page_num = 20;

    var len = $('script').filter(function () {
      return ($(this).attr('src') == '/static/js/profile/highcharts.js');
    }).length;

    if(len == 0){
      loadScript('/static/js/profile/highcharts.js');
      loadScript('/static/js/profile/exporting.js');
    }

    function loadScript(scriptLocationAndName) {
      var head = document.getElementsByTagName('head')[0];
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.src = scriptLocationAndName;
      head.appendChild(script);
    }

	function display_interact_chart(fri_fol_interact_data) {
    var uid_list = [];

		for(var i in fri_fol_interact_data){
			uid_list.push([fri_fol_interact_data[i][0].toString(), fri_fol_interact_data[i][1]]);
		}
    
    var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'interact_count_container',
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: '转发关注者微博统计'
        },
        tooltip: {
    	    pointFormat: '{series.name}: <b>{point.percentage:.1f} %</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    format: '<b>{point.name}</b>: {point.y}'
                }
            }
        },
        series: [{
            type: 'pie',
            name: '交互占比',
            data: uid_list
        }]
    });
    
	}

	function display_fields_chart(data){
		var data_list = [];
    if( data.length ){
  		for(var i in data){
  			data_list.push([data[i][0], data[i][1]]);
  		}
    }
    var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'fields_dist_container',
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: '关注者领域分布'
        },
        tooltip: {
    	    pointFormat: '{series.name}: <b>{point.percentage:.1f} %</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    format: '<b>{point.name}</b>: {point.y}'
                }
            }
        },
        series: [{
            type: 'pie',
            name: '领域占比',
            data: data_list
        }]
    });
	}

	$(document).ready(function(){
		$.ajax({
        url: "/profile/person_network/friends/{{uid}}?start_ts={{ start_ts }}&end_ts={{ end_ts }}",
        dataType: 'json',   
        type: "GET",   
        success: function (data) {
          status = data['status'];
          data = data['data'];
          if (status == 'finished') {
              $("#interact_bar").css('width', "100%")
              $("#interact_process").removeClass("active");
              $("#interact_process").removeClass("progress-striped");

              $("#interact_rank_bar").css('width', "100%")
              $("#interact_rank_process").removeClass("active");
              $("#interact_rank_process").removeClass("progress-striped");

              if (data['fri_fol_interact'] && data['users'] && data['domains']) {
                  var fri_fol_interact_data = data['fri_fol_interact'];
                  var users = data['users'];
                  var domains = data['domains'];
                  var statistics_info = '';

                  if(fri_fol_interact_data.length){
                      $("#interact_count_container").css("display", "block");
                  }else{
                      statistics_info += '转发关注者微博数据为空! ';
                  }
                  if( domains.length ){
                      $("#fields_dist_container").css("display", "block");
                  }
                  else{
                      statistics_info += '关注者领域统计数据为空! ';
                  }
                  if(users.length){
                      $("#loading_interact_rank").text("计算完成!");
                      if( users.length < page_num){
                          page_num = users.length;
                          create_current_table(users, 0, page_num);
                      }
                      else{
                          create_current_table(users, 0, page_num);
                          var total_pages = 0;
                          if (users.length % page_num == 0) {
                              total_pages = users.length / page_num;
                          }
                          else {
                              total_pages = users.length / page_num + 1;
                          }
                          $('#friends_rank_page_selection').bootpag({
                              total: total_pages,
                              page: 1,
                              maxVisible: 30
                          }).on("page", function(event, num){
                              start_row = (num - 1)* page_num;
                              end_row = start_row + page_num;
                              if (end_row > users.length)
                                  end_row = users.length;
                              create_current_table(users, start_row, end_row);
                          });
                      }
                  }
                  else{
                      $("#loading_interact_rank").text("很抱歉，计算结果为空!");
                  }
                  $("#loading_interact_statistics").text("计算完成! " + statistics_info);
                  display_interact_chart(fri_fol_interact_data);
                  display_fields_chart(domains);
              }else{
                  $("#loading_interact_statistics").text("很抱歉，计算结果为空!");
                  $("#loading_interact_rank").text("很抱歉，计算结果为空!");
              }
          }
          else
              return
          
        }
    });
	});

  function create_current_table(data, start_row, end_row) {
      var cellCount = 8;
      var table = '<table class="table table-bordered">';
      var thead = '<thead><tr><th>排名</th><th>交互次数</th><th style="display:none">博主ID</th><th>博主昵称</th><th>粉丝数</th><th>关注数</th><th>注册地</th><th>领域</th></tr></thead>';
      //rank, interact, uid, name, followers_count, friends_count, location, domain
      var tbody = '<tbody>';
      for (var i = start_row;i < end_row;i++) {
          var tr = '<tr>';
          if (data[i][6].match("海外")) {
              tr = '<tr class="success">';
          }
          for(var j = 0;j < cellCount;j++) {
              if(j == 0) {
                  // rank status
                  var td = '<td><span class="label label-important">'+data[i][j]+'</span></td>';
              }
              else if(j == 2){
                  var td = '<td style="display:none">'+data[i][j]+'</td>';
              }
              else{
                  var td = '<td>'+data[i][j]+'</td>';
              }
              tr += td;
          }
          tr += '</tr>';
          tbody += tr;
      }
      tbody += '</tbody>';
      table += thead + tbody;
      table += '</table>'
      $("#friends_rank_table").html(table);
    }

    function exportTableToCSV($table, filename) {
      var ta=$("#friends_rank_table");
      var $table = ta.find("table"); 
      var $head = ta.find("thead");
      var $body = ta.find("tbody");
      var $r_head = $head.find("tr");
      var $rows = $body.find("tr");
      var tmpColDelim = String.fromCharCode(11); // vertical tab character
      var tmpRowDelim = String.fromCharCode(0); // null character

      // actual delimiter characters for CSV format
      var colDelim = ",";
      var rowDelim = "\r\n";

      // Grab text from table into CSV formatted string
      var c_head = $r_head.find("th");
      var csv_head = '';
      for(var count=0;count < c_head.length;count++){ 
          if(count == (c_head.length-1)){
            csv_head = csv_head + c_head[count].innerHTML + rowDelim;
          }
          else{
            csv_head = csv_head + c_head[count].innerHTML + colDelim;
          }
      }

      csv = $rows.map(function (i, row) {
        var $row = $(row),
          $cols = $row.find('td');

        return $cols.map(function (j, col) {
            var $col = $(col);
            if($col.find('i').length == 1){
              var pic = $col.find('i');                        
              if(pic.attr('class') == "icon-ok"){
                  var text = '是';
              }
              else{
                if(pic.attr('class') == "icon-arrow-down"){
                    var text = '下降';
                }
                else{
                  if(pic.attr('class') == "icon-arrow-up"){
                      var text = '上升';
                  }
                  else{
                    if(pic.attr('class') == "icon-minus"){
                        var text = '持平';
                    }
                    else{
                      var text = '否';
                    }
                  }
                }                            
              }
            }
          else{
             var text = $col.text();
          }
            return text.replace('"', '"'); // escape double quotes

        }).get().join(tmpColDelim);

      }).get().join(tmpRowDelim).split(tmpRowDelim).join(rowDelim).split(tmpColDelim).join(colDelim);

      csv = csv_head + csv;

      // Data URI
      csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);
      $(this).attr({
          'download': filename,
          'href': csvData,
          'target': '_blank'
      });
    }
  
    $("a[id='out']").on('click', function (event) {
      exportTableToCSV.apply(this, [$('#dvData>table'), 'Friends_Interact_Rank_Result.csv']);
      alert("导出成功！");
    });
</script>
{% endblock body %}
