{% extends 'profile/ajax/ajax_layout.html' %}

{% block body %}
<style>
    .ct-tags {
      font-size: 17px;
      margin-left: 1%;
      color: #D14836;
    }
    .clearfix {
      display: block;
    }
    .clearfix:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
</style>
<script>
    var len = $('script').filter(function () {
      return ($(this).attr('src') == '/static/js/profile/highcharts.js');
    }).length;

    if(len == 0){
      loadScript('/static/js/profile/highcharts.js');
      loadScript('/static/js/profile/exporting.js');
    }

    function loadScript(scriptLocationAndName) {
      var head = document.getElementsByTagName('head')[0];
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.src = scriptLocationAndName;
      head.appendChild(script);
    }

  function display_ori_repost_count(data){
    var chart = new Highcharts.Chart({
      chart: {
          renderTo: 'chartdiv_week_weibocount',
          type: 'line',
          marginRight: 100,
          marginBottom: 25
      },
      title: {
          text: '最近一周微博数量走势',
          x: -20 //center
      },
      xAxis: {
          categories: data['time'],
          labels:{
            step:6 //3就是x轴显示的间隔
          }
      },
      yAxis: {
          title: {
              text: '每日微博数'
          },
          plotLines: [{
              value: 0,
              width: 1,
              color: '#808080',
              min: 0
          }]
      },
      tooltip: {
          formatter: function() {
                  return '<b>'+ this.series.name +'</b><br/>'+
                  this.x +': '+ this.y +'条';
          }
      },
      legend: {
          layout: 'vertical',
          align: 'right',
          verticalAlign: 'top',
          x: -10,
          y: 100,
          borderWidth: 0
      },
      series: [{
          name: '微博总数(活跃度）',
          data: data['count'],
      }, {
          name: '转发微博数',
          data: data['repost'],
      },{
          name: '原创微博数',
          data:  data['fipost'],
      }]
  });
  }

  function display_week_weibocount(){
    // 时间间隔为7天 即一周
    $.ajax({
        url: "/profile/person_count/{{uid}}?interval=7",
        dataType: 'json',   
        type: "GET",   
        success: function (data) {
          $('#total_posts').html(data['total_tweets']);
          $('#reposts_ratio').html(data['retweets_ratio']);
          $('#emoticons_ratio').html(data['emoticons_ratio']);
          $('#chartdiv_week_weibocount').empty();
          $('#chartdiv_weekly_pattern').empty();
          display_weekly_pattern(data);
          display_ori_repost_count(data);
        }
    });
  }

  function display_weekly_pattern(data){
    var chart = new Highcharts.Chart({
      chart: {
          renderTo: 'chartdiv_weekly_pattern',
          type: 'line',
          marginRight: 100,
          marginBottom: 25
      },
      title: {
          text: '最近一周重要度走势',
          x: -20 //center
      },
      xAxis: {
          categories: data['time'],
          labels:{
            step:6 //3就是x轴显示的间隔
          }
      },
      yAxis: {
          title: {
              text: '重要度数值'
          },
          plotLines: [{
              value: 0,
              width: 1,
              color: '#808080',
              min: 0
          }]
      },
      tooltip: {
          formatter: function() {
                  return '<b>'+ this.series.name +'</b><br/>'+
                  this.x +': '+ this.y;
          }
      },
      legend: {
          layout: 'vertical',
          align: 'right',
          verticalAlign: 'top',
          x: -10,
          y: 100,
          borderWidth: 0
      },
      series: [{
          name: '重要度',
          data: data['important'],
      }]
  });
  }
  display_week_weibocount();
</script>
  <div id="behavior_stat">
    <div node-type="base_view">
      <button type="button" class="btn btn-danger">微博总数</button>
      <button type="button" class="btn btn-default" id='total_posts'></button>
      <button type="button" class="btn btn-warning">转发微博比例</button>
      <button type="button" class="btn btn-default" id='reposts_ratio'></button>
      <button type="button" class="btn btn-info">含情感图标微博比例</button>
      <button type="button" class="btn btn-default" id='emoticons_ratio'></button>
    </div>
  </div>
  <br>
  <div id="chartdiv_week_weibocount" style="min-width: 936px; height: 450px; margin: 0 auto"></div>
  <br>
  <div id="chartdiv_weekly_pattern" style="min-width: 936px; height: 450px; margin: 0 auto"></div>
{% endblock body %}

