{% extends 'profile/ajax/ajax_layout.html' %}

{% block body %}
<style>
  .hot_feed_top_tit {
    position: relative;
    width: 560px;
    margin: 0 20px 10px 20px;
  }
  .pf_item {
    font-size: 12px;
    line-height: 30px;
    margin-bottom: 5px;
    position: relative;
  }
  .clearfix {
    display: block;
  }
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .pf_item .label {
    float: left;
    width: 596px;
    padding: 10px 4px;
    text-align: right;
    white-space: nowrap;
  }
  .pf_item .con {
    margin-left: 640px;
    padding: 0 10px;
    word-wrap: break-word;
  }
  .hot_tit_top {
    display: block;
    height: 30px;
    background: url(http://img.t.sinajs.cn/t4/appstyle/square/images/bg_tit_fill.jpg) repeat-x;
    overflow: hidden;
    background-position-y: 12px;
  }
  .hot_tit_top .txt_top {
    display: inline-block;
    float: left;
    margin-left: 20px;
    width: 324px;
    height: 34px;
    background: #fafafa;
    color: #f97674;
    font-size: 18px;
    text-align: center;
    font-family: Arial;
  }
  .WB_feed .WB_feed_type.type_intimate, .WB_feed .WB_feed_type.type_group, .WB_feed .WB_feed_type.type_self {
    border: none;
    margin-top: -9px;
    padding-bottom: 10px;
  }
  .WB_feed .WB_feed_type.type_intimate, .WB_feed .WB_feed_type.type_group, .WB_feed .WB_feed_type.type_self {
    border-width: 1px 0;
    border-style: solid;
  }
  .WB_feed .WB_feed_type {
    padding-top: 14px;
    padding-bottom: 0;
  }
  .WB_feed .WB_feed_type {
    margin: -1px 20px 0;
    padding: 21px 0 0;
  }
  .WB_feed .WB_feed_type {
    margin: 0 20px 0;
    padding: 20px 0 0;
  }
  .WB_feed_type {
    background: #fafafa;
  }
  .WB_feed .WB_detail {
    margin-left: 65px;
  }
  .WB_feed .WB_text {
    font-size: 14px;
    line-height: 23px;
    padding: 4px 0 4px;
  }
  .clearfix {
    display: block;
  }
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .WB_feed .WB_func .WB_handle {
    float: right;
  }
  .WB_feed .WB_func .WB_handle .S_txt3 {
    margin: 0 6px 0 8px;
    vertical-align: 1px;
  }
  .S_txt3 {
    color: #aeaeae;
  }
  .WB_feed .WB_from .WB_time {
    margin: 0 7px 0 0;
  }
  a:hover {
    text-decoration: underline;
  }
  a, .S_link1, .S_func1:hover, .SW_fun:hover .S_func1, .SW_fun2:hover .S_func3, .SW_fun2:hover .S_func4 {
    color: #14a0cd;
  }
  a {
    color: #0a8cd2;
    text-decoration: none;
  }
  .row-fluid [class*="span"]{
    min-height: 34px;
  }
</style>
<!-- <form class="form-inline">
    时间范围:
    <select class="span2" name="interval_network" id="nt_fol_interval">
      <option value="270">9个月</option>
      <option value="240">8个月</option>
      <option value="210">7个月</option>
      <option value="180">6个月</option>
      <option value="150">5个月</option>
      <option value="120">4个月</option>
    </select>
    <button type="button" class="btn btn-primary" id="generate_network_fol" onclick="submit_form();return false;"><i class="icon-search"></i>分析</button>
</form> -->
<div id="fol_interact_count_container" ></div>

<div id="stat" style="width: 900px; margin: 0px auto auto 0px;">
    <h5 style="margin-bottom: 10px;margin-left: 400px;">影响分析</h5>
    <div node-type="base_view">
      <div class="pf_item clearfix">
        <div class="label S_txt2">用户微博被转发总数</div>
        <div class="con" id='total_reposts'></div>
      </div>  
      <div class="pf_item clearfix">
        <div class="label S_txt2">用户微博被转发比例</div>
        <div class="con" id='avg_reposts'></div>
      </div>
      <div class="pf_item clearfix">
        <div class="label S_txt2">用户评论总数</div>
        <div class="con" id='total_comments'></div>
      </div>
      <div class="pf_item clearfix">
        <div class="label S_txt2">用户微博被评论比例</div>
        <div class="con" id='avg_comments'></div>
      </div>
    </div>
  </div>
<div id="fol_fields_dist_container" style="width: 450px; height: 250px; margin: 0 auto;"></div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>昵称</th>
        <th>微博数</th>
        <th>粉丝数</th>
        <th>关注数</th>
        <th>领域</th>
      </tr>
    </thead>
    <tbody id="fol_user_table">
    </tbody>
  </table>
  <div id="fol_page-selection" class="pagination pagination-centered"></div>
  <script src="/static/js/jquery.bootpag.js"></script>
<script>
  function submit_form(){
    var interval_arg = 7;
    $.ajax({
        url: "/profile/person_count/{{uid}}?interval=" + interval_arg,
        dataType: 'json',   
        type: "GET",   
        success: function (data) {
          $('#total_reposts').empty();
          $('#total_reposts').html(data['total_reposts_count']);
          $('#avg_reposts').empty();
          $('#avg_reposts').html(data['avg_reposts_count']);
          $('#total_comments').empty();
          $('#total_comments').html(data['total_comments_count']);
          $('#avg_comments').empty();
          $('#avg_comments').html(data['avg_comments_count']);      
          for(var i in data['top_3_reposts_wbs']){
            var wb = data['top_3_reposts_wbs'][i];
            $('#wb_text_repost_' + i.toString()).empty();
            $('#wb_text_repost_' + i.toString()).append(wb[5]);
            $('#wb_handle_repost_' + i.toString()).empty();
            $('#wb_handle_repost_' + i.toString()).append("<a class=\"S_func2\">转发(" + wb[2] + ")</a><em class=\"S_txt3\">|</em><a class=\"S_func2\">评论(" + wb[3] + ")</a><em class=\"S_txt3\">|</em><a class=\"S_func2\">赞(" + wb[4] + ")</a>");
            $('#wb_from_repost_' + i.toString()).empty();
            $('#wb_from_repost_' + i.toString()).append("<a class=\"S_func2 WB_time\" href=\"" + wb[1] + "\" target=\"_blank\">" + wb[0] + "</a>来自" + wb[6]);
          }
          for(var i in data['top_3_comments_wbs']){
            var wb = data['top_3_comments_wbs'][i];
            $('#wb_text_comment_' + i.toString()).empty();
            $('#wb_text_comment_' + i.toString()).append(wb[5]);
            $('#wb_handle_comment_' + i.toString()).empty();
            $('#wb_handle_comment_' + i.toString()).append("<a class=\"S_func2\">转发(" + wb[2] + ")</a><em class=\"S_txt3\">|</em><a class=\"S_func2\">评论(" + wb[3] + ")</a><em class=\"S_txt3\">|</em><a class=\"S_func2\">赞(" + wb[4] + ")</a>");
            $('#wb_from_comment_' + i.toString()).empty();
            $('#wb_from_comment_' + i.toString()).append("<a class=\"S_func2 WB_time\" href=\"" + wb[1] + "\" target=\"_blank\">" + wb[0] + "</a>来自" + wb[6]);
          }
        }
      });
  }
  function display_fields_chart(data){
    var data_list = [];
    for(var i in data){
      data_list.push([data[i][0], data[i][1]]);
    }
    $('#fol_fields_dist_container').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: "粉丝领域分布"
        },
        tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f} %</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    format: '<b>{point.name}</b>: {point.y}'
                }
            }
        },
        series: [{
            type: 'pie',
            name: '领域占比',
            data: data_list
        }]
    });
  }
  $(document).ready(function(){
    var interval_arg = $("#nt_fol_interval").val();
    $.ajax({
        url: "/profile/person_count/{{uid}}?interval=" + interval_arg,
        dataType: 'json',   
        type: "GET",   
        success: function (data) {
          $('#total_reposts').html(data['total_reposts_count']);
          $('#avg_reposts').html(data['avg_reposts_count']);
          $('#total_comments').html(data['total_comments_count']);
          $('#avg_comments').html(data['avg_comments_count']);      
          for(var i in data['top_3_reposts_wbs']){
            var wb = data['top_3_reposts_wbs'][i];
            $('#wb_text_repost_' + i.toString()).append(wb[5]);
            $('#wb_handle_repost_' + i.toString()).append("<a class=\"S_func2\">转发(" + wb[2] + ")</a><em class=\"S_txt3\">|</em><a class=\"S_func2\">评论(" + wb[3] + ")</a><em class=\"S_txt3\">|</em><a class=\"S_func2\">赞(" + wb[4] + ")</a>");
            $('#wb_from_repost_' + i.toString()).append("<a class=\"S_func2 WB_time\" href=\"" + wb[1] + "\" target=\"_blank\">" + wb[0] + "</a>来自" + wb[6]);
          }
          for(var i in data['top_3_comments_wbs']){
            var wb = data['top_3_comments_wbs'][i];
            $('#wb_text_comment_' + i.toString()).append(wb[5]);
            $('#wb_handle_comment_' + i.toString()).append("<a class=\"S_func2\">转发(" + wb[2] + ")</a><em class=\"S_txt3\">|</em><a class=\"S_func2\">评论(" + wb[3] + ")</a><em class=\"S_txt3\">|</em><a class=\"S_func2\">赞(" + wb[4] + ")</a>");
            $('#wb_from_comment_' + i.toString()).append("<a class=\"S_func2 WB_time\" href=\"" + wb[1] + "\" target=\"_blank\">" + wb[0] + "</a>来自" + wb[6]);
          }
        }
      });
    $.ajax({
        url: "/profile/person_fri_fol/followers/{{uid}}?page=1",
        dataType: 'json',   
        type: "GET",   
        success: function (data) {
          var fields_result = data['fields'];
          display_fields_chart(fields_result);
          display_fri_fol_table(data);
        }
    });
  });
  function display_fri_fol_table(data){
    var total_page_number = parseInt(data['pages']);
    var html = "";
    for(var i=0;i < data['users'].length;i += 1){
      user = data['users'][i];
      html += "<tr><td>" + user['id'] + "</td>";
      html += "<td>" + user['userName'] + "</td>";
      html += "<td>" + user['statusesCount'] + "</td>";
      html += "<td>" + user['followersCount'] + "</td>";
      html += "<td>" + user['friendsCount'] + "</td>";
      html += "<td>" + user['field'] + "</td></tr>";
    }
    $("#fol_user_table").append(html);
    $('#fol_page-selection').bootpag({
        total: total_page_number,
        maxVisible: 10
    }).on("page", function(event, /* page number here */ num){
       $("#fol_user_table").empty();
       $.ajax({
          url: "/profile/person_fri_fol/followers/{{uid}}?page=" + num,
          dataType: 'json',   
          type: "GET",
          success: function (data) {
            var html = "";
            for(var i=0;i < data['users'].length;i += 1){
              user = data['users'][i];
              html += "<tr><td>" + user['id'] + "</td>";
              html += "<td>" + user['userName'] + "</td>";
              html += "<td>" + user['statusesCount'] + "</td>";
              html += "<td>" + user['followersCount'] + "</td>";
              html += "<td>" + user['friendsCount'] + "</td>";
              html += "<td>" + user['field'] + "</td></tr>";
            }
            $("#fol_user_table").append(html);
          }
        });
    });
  } 
</script>
{% endblock body %}