{% extends 'profile/ajax/ajax_layout.html' %}

{% block body %}
<style>
  #tag_cloud_div {
    height:402px;
    width: 402px;
    border: 1px solid #e5e5e5;
    margin-left:auto;
    margin-right:auto
  }
  .row-fluid [class*="span"]{
    min-height: 34px;
  }
</style>
<button type="button" class="btn btn-danger">兴趣领域</button>
{% for domain in fields.split(',') %}
    <button type="button" class="btn btn-default">{{ domain }}</button>
{% endfor %}
<br>
<br>
<br>
<button type="button" class="btn btn-warning">话题兴趣</button>
<div id='d3_cloud'></div>
<div class="span3" style="float:right;">
  <button class="btn btn-success" id="editor_save">导出图片</button>
</div>
<canvas type="hidden" id="svgtoimg" width="100px" height="100px" style="display: none"></canvas>
<script src="/static/js/profile/d3.v3.min.js"></script>
<script src="/static/js/profile/d3.layout.cloud.js"></script>
<script src="/static/js/profile/rgbcolor.js"></script> 
<script src="/static/js/profile/StackBlur.js"></script>
<script src="/static/js/profile/canvg.js"></script>
<script>
  function defscale(count, mincount, maxcount, minsize, maxsize){
  if(maxcount == mincount){
    return (maxsize + minsize) / 2.0
  }else{
    return minsize + (maxsize - minsize) * Math.pow((count * 1.0 / (maxcount - mincount)), 3)
  }
  }

  function defrotate(count, mincount, maxcount){
    if(count < (maxcount + mincount) / 2){
        return 0;
    }else{
        return 0;
    }
  }
  
  function display_d3_cloud(data){
    var widthpixel = 936;
    var heightpixel = 400;
    var fill = d3.scale.category20();
    var FONT_STYLE = "SimHei";//Microsoft YaHei,SimSun,SimHei,STHeiti//Boopee";//"IMPACT"、"Lucida Sans"、"Loved by the King"
    var wordcounts = data;
    var counts = new Array();
    for(var wordcount in wordcounts){
      counts.push(parseFloat(wordcounts[wordcount]["size"]));
    }
    var maxcount = Math.max.apply(Math, counts);
    var mincount = Math.min.apply(Math, counts);
    var maxsize = 100;
    var minsize = 15;
    var wordsize = [];
    for(var wordcount in wordcounts){
      var count = parseFloat(wordcounts[wordcount]["size"]);
      var word = wordcounts[wordcount]["text"];
      var size = defscale(count, mincount, maxcount, minsize, maxsize);
      var rotate = defrotate(count, mincount, maxcount);
      //deffillcolor(word);
      wordsize.push({"text": word, "size": size});
    }


    d3.layout.cloud().size([widthpixel, heightpixel])
        .words(wordsize)
        //.rotate(function(d) { return d.rotate;})
        .rotate(function() { return ~~(Math.random() * 2) * 90; })//随机旋转
        .font(FONT_STYLE)
        .fontSize(function(d) { return d.size; })
        .on("end", draw)
        .start();

    function draw(words) {
      d3.select("#d3_cloud").append("svg")
          .attr("width", widthpixel)
          .attr("height", heightpixel)
        .append("g")
          .attr("transform", "translate(" + [widthpixel >> 1, heightpixel >> 1] + ")")
        .selectAll("text")
          .data(words)
        .enter().append("text")
          .style("font-size", function(d) { return d.size + "px"; })
          .style("font-family", FONT_STYLE)
          .style("fill", function(d, i) { 
            return fill(i); 
          })
          .attr("text-anchor", "middle")
          .attr("transform", function(d) {
            
            return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";

          })
          .text(function(d) { return d.text; });
    }
  }
  $("#editor_save").click(function() {
   // Get the d3js SVG element
   var tmp = document.getElementById("d3_cloud");
   var svg = tmp.getElementsByTagName("svg")[0];
   // Extract the data as SVG text string
   var svg_xml = (new XMLSerializer).serializeToString(svg);

   // the canvg call that takes the svg xml and converts it to a canvas
   canvg('svgtoimg', svg_xml);
 
   // the canvas calls to output a png
   var canvas = document.getElementById("svgtoimg");
   //var img = canvas.toDataURL("image/png");
   var dataURL=canvas.toDataURL();
   window.open('', '_blank').location.href=dataURL;
   // do what you want with the base64, write to screen, post to server, etc...
    });
  $(document).ready(function(){
    $.ajax({
        url: "/profile/person_topic/{{uid}}",
        dataType: 'json',   
        type: "GET",   
        success: function (data) {
          $('#d3_cloud').empty();
          display_d3_cloud(data);
        }
    });
  });

  </script>
  

{% endblock body %}