<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>系统管理——参数设置</title>
<style type="text/css">
<!--
body { margin: 0px;padding: 0px;text-align: left;}
TD {FONT-SIZE: 12px; COLOR: #333;}
#daohang {BORDER-BOTTOM: #e2e2e2 1px solid;}


-->
</style>
<script src="/static/js/admin/jquery-1.9.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/admin/bootstrap.js"></script>
<script type="text/javascript" src="/static/js/admin/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/admin/bootstrap-fileupload.js"></script>
<script type="text/javascript" src="/static/js/admin/bootstrap-fileupload.min.js"></script>
<link href="/static/css/admin/bootstrap.css" rel="stylesheet">
<link href="/static/css/admin/bootstrap-responsive.css" rel="stylesheet">
<link href="/static/css/admin/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/admin/bootstrap-responsive.min.css" rel="stylesheet">
<link href="/static/css/admin/bootstrap-fileupload.css" rel="stylesheet">
<link href="/static/css/admin/bootstrap-fileupload.min.css" rel="stylesheet">
<style type="text/css" media="all">
ul{  
    list-style-type:none;  
    width:100%;
    padding: 0px;
    margin:0px;  
  }  
  
  </style>
 <style type="text/css">
  .onecity1{
    color:#FF0000;

  }
  .onecity2{
    color:black;
  }
  
    </style>

</head>

<body>

<div id="daohang" style="background:#58ACFA;">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="15%" align="center" ><a style="padding-left:20px;padding-top:10px;padding-bottom:10px;font-size: 18pt; color:#FFFFFF; font_weight:bold;text-decoration: none;">系统管理</a></td>
    <td width="75%">
    <ul class="nav" style="list-style:none;">
              
              <li class="" style=" float:left; padding-left:60px;width:100px;">
                <a href="/sysadmin/usermanage/"  align="center" style="padding-top:10px;padding-bottom:10px;font-size: 16pt; color:#FFFFFF; font_weight:bold;">用户管理</a>
              </li>
              <li class="" style=" float:left; padding-left:60px;width:100px;">
                <a href="/sysadmin/paraset/field/" align="center" style="padding-top:10px;padding-bottom:10px;font-size: 16pt; color:#2E2E2E; font_weight:bold; background:#F2F2F2;">参数设置</a>
              </li>             
              
    </td>
    <td width="10%" align="center" ><a style="CURSOR: hand;font-size: 14pt;color:black;text-decoration: none;" href="/sysadmin/logout">退出系统</a></td>
  </tr>
</table>
</div>

<div class="bs-docs-example">
    <div class="tabbable tabs-left" style="float:left;">
        <ul class="nav nav-tabs" style="padding-left:20px;padding-top:20px;float:left;">
          
          <li> <a id="User" href="/sysadmin/paraset/field/" align="center" style="font-size:12pt;color:#000000;padding-left:15px;padding-top:10px;background:#D8D8D8;width:200px;" >领域管理</a></li>
          
          <li> <a id="Pass" href="/sysadmin/paraset/new/" align="center" style="font-size:12pt;color:#000000;padding-left:15px;padding-top:10px;background:#D8D8D8;width:200px;" >保留词管理</a></li>

          <li> <a id="Wai" href="/sysadmin/paraset/weight/" align="center" style="font-size:12pt;color:#000000;padding-left:15px;padding-top:10px;background:#D8D8D8;width:200px;" >博主权重指标管理</a></li>

          <li> <a id="Hei" href="/sysadmin/paraset/black/" align="center" style="font-size:12pt;color:#000000;padding-left:15px;padding-top:10px;background:#D8D8D8;width:200px;" >垃圾用户管理</a></li>

          <li> <a id="Media" href="/sysadmin/paraset/media/" align="center" style="font-size:12pt;color:#000000;padding-left:15px;padding-top:10px;background:#D8D8D8;width:200px;" >重要媒体管理</a></li>

          <li> <a id="Material" href="/sysadmin/paraset/material/" align="center" style="font-size:12pt;color:#000000;padding-left:15px;padding-top:10px;background:#D8D8D8;width:200px;" >微博素材管理</a></li>

          <li  class="active"> <a id="Bai" href="/sysadmin/paraset/userlist/" align="center" style="font-size:12pt;color:#000000;padding-left:15px;padding-top:10px;background:#58ACFA;width:200px;" >用户权限管理</a></li>

          <li> <a id="Topic_user" href="/sysadmin/paraset/topic/" align="center" style="font-size:12pt;color:#000000;padding-left:15px;padding-top:10px;background:#D8D8D8;width:200px;" >定制话题管理</a></li>

          <li> <a id="Topic_history" href="/sysadmin/paraset/topic_history/" align="center" style="font-size:12pt;color:#000000;padding-left:15px;padding-top:10px;background:#D8D8D8;width:200px;" >历史话题管理</a></li>

          <li> <a id="Topic_history" href="/sysadmin/paraset/weibo_history/" align="center" style="font-size:12pt;color:#000000;padding-left:15px;padding-top:10px;background:#D8D8D8;width:200px;" >历史微博管理</a></li>

          <li> <a id="Topic_user" href="/sysadmin/paraset/log/" align="center" style="font-size:12pt;color:#000000;padding-left:15px;padding-top:10px;background:#D8D8D8;width:200px;" >后台日志管理</a></li>
        </ul>
    </div>
      <div class="tab-content" style="float:left;height:1000px;width:1050px;">


        <div class="tab-pane active" id="tab1" style="float:left;padding-left:30px;padding-top:50px;height:900px;width:1000px;">
        <p style="font-size:20pt;color:#FE642E;">用户权限管理</p>
        <div id="info" style="padding-left:50px;padding-top:20px;height:600px;width:900px;">
               <div id="manage" style="width:500px; height:70px;padding-left:25px;padding-top: 25px">
                    <button id="mo_new" type="button" class="btn btn-warning">修改</button>
                    <button type="button" class="btn btn-info" onClick="add_field()">添加</button>
                    <button id="de_user" type="button" class="btn btn-danger">删除</button>
               </div>
               <div class="bs-docs-example">
                  <table class="table table-bordered" id="new_table">
                    <thead>
                      <tr> 
                        <th style="text-align:center;display:none;">ID</th>                       
                        <th style="text-align:center">用户</th>
                        <th style="text-align:center">敏感用户识别</th>
                        <th style="text-align:center">网民情绪监控与预警</th>
                        <th style="text-align:center">网民画像</th>
                        <th style="text-align:center">微博信息传播</th>
                        <th style="text-align:center">选择</th>
                      </tr>
                    </thead>
                    <div id="users_area">
                    <tbody>
                      {% for user in userlists %}
                      <tr>
                        
                        <td style="text-align:center;display:none;">{{user.id}}</td>
                        <td style="text-align:center">{{user.username}}</td>
                        {% if user.identify == 1 %}
                        <td style="text-align:center">有</td>
                        {% else %}
                        <td style="text-align:center">无</td>
                        {% endif %}
                        {% if user.moodlens == 1 %}
                        <td style="text-align:center">有</td>
                        {% else %}
                        <td style="text-align:center">无</td>
                        {% endif %}
                        {% if user.profile == 1 %}
                        <td style="text-align:center">有</td>
                        {% else %}
                        <td style="text-align:center">无</td>
                        {% endif %}
                        {% if user.propagate == 1 %}
                        <td style="text-align:center">有</td>
                        {% else %}
                        <td style="text-align:center">无</td>
                        {% endif %}
                        <td style="text-align:center"><input type="checkbox" name="user_choose" style="font-size:12pt;"/></td>
                      </tr>
                      {% endfor %}
                       
                  </tbody> 
                  </div>  
                </table>
                <script>
                function add_field(){<!-- 添加按钮 -->

                  var fl=prompt("请输入要添加的用户名","");
                  var f2=prompt("请输入新用户的密码","");
                  var f3=prompt("请确认新用户的密码","");
                  if(f2!=f3){
                    alert("输入的新密码不匹配!");
                  }
                  else{
                    var identify=prompt("请输入敏感博主识别的权限\n注：1表示有权限，0表示没权限","");
                    var moodlens=prompt("请输入网民情绪监控与预警的权限\n注：1表示有权限，0表示没权限","");
                    var profile=prompt("请输入网民画像的权限\n注：1表示有权限，0表示没权限","");
                    var propagate=prompt("请输入微博信息传播的权限\n注：1表示有权限，0表示没权限","");
                    if((identify<=1)&&(moodlens<=1)&&(profile<=1)&&(propagate<=1)){
                      if(fl)
                      {
                        $.ajax({   
                          type:"POST",  
                          url:"/sysadmin/add_user",
                          dataType: "json",
                          async:false,
                          data:{user : fl,pass: f2,identify:identify,moodlens:moodlens,profile:profile,propagate:propagate},
                          success: function(data){
                            if(data=='Right') {
                                alert("添加用户成功！");
                                location.reload();
                            } 
                            else{
                              alert("您输入的用户ID有误！");
                            }
                          }              
                        })
                      }
                    }
                    else{
                      alert("输入有误，请重新输入！");
                    }                    
                  }
                  
                }

                $("#de_user").click(function() {
                    n = 0;
                    $("[name='user_choose']").each(function(){                              
                        if(this.checked)
                        {
                              var fa = $(this).parent();
                              var ne = $(fa).prev().prev().prev().prev().prev().prev();                   
                              var f_id = $(ne).html();
                              $.ajax({   
                                type:"POST",  
                                url:"/sysadmin/user_de",
                                dataType: "json",
                                async:false,
                                data:{f_id : f_id},
                                success: function(data){
                                    if( data =='Right'){
                                      n = n + 1;
                                    }
                                }           
                              });
                        }   
                    });
                    if(n > 0){
                            alert("删除成功！");
                          }
                    location.reload();
                          //document.getElementById("tab2").innerHTML=document.getElementById("tab2");
                });
                
                $("#mo_new").click(function() {
                    $("[name='user_choose']").each(function(){                              
                        if(this.checked)
                        {
                              var fa = $(this).parent();
                              var ne = $(fa).prev().prev().prev().prev().prev();
                              var uname = $(ne).html(); 
                              var user = $(ne).prev();                
                              var f_id = $(user).html();

                              if(confirm("您要修改的是"+uname+"用户？")){
                                var identify=prompt("请输入敏感博主识别的权限\n注：1表示有权限，0表示没权限","");
                                var moodlens=prompt("请输入网民情绪监控与预警的权限\n注：1表示有权限，0表示没权限","");
                                var profile=prompt("请输入网民画像的权限\n注：1表示有权限，0表示没权限","");
                                var propagate=prompt("请输入微博信息传播的权限\n注：1表示有权限，0表示没权限","");
                                if((identify<=1)&&(moodlens<=1)&&(profile<=1)&&(propagate<=1)){
                                  $.ajax({   
                                    type:"POST",  
                                    url:"/sysadmin/user_modify",
                                    dataType: "json",
                                    async:false,
                                    data:{f_id : f_id,uname:uname,identify:identify,moodlens:moodlens,profile:profile,propagate:propagate},
                                    success: function(data){
                                      if( data =='Right'){
                                        alert("修改成功！");
                                      }
                                      else{
                                        alert("修改失败，请重新修改！");
                                      }
                                    }            
                                  });
                                }
                                else{
                                  alert("输入有误，请重新输入！");
                                }
                              }
                              else{
                                alert("您已取消修改操作！");
                              }
                        }   
                    });
                    location.reload();
                          //document.getElementById("tab2").innerHTML=document.getElementById("tab2");
                });
                </script>
              </div>    
           </div>
        </div>

      </div>

     </div>

</div>

    
</div>
</div>
</body>
</html>