{% extends "propagate/base.html" %}
{% block title %}热门微博列表{% endblock %}
{% block content %}
<link href="{{ url_for('static', filename='css/propagate/microblog.css') }}" rel="stylesheet">

<div class="container">
    <h3>热门微博</h3>
      <div class="well">
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade active in" id="area_1">
        <!--<div class="tab-pane fade" id="热门微博">-->
          {% for status in status_hot %}
            <div class="WB_feed_type SW_fun  S_line2" action-type="feed_list_item" >
              <div class="WB_feed_datail S_line2 clearfix">
                <div class="WB_face">
                  <a class="W_face_radius" title="{{ status['user']['name'] }}"><img title="{{ status['user']['name'] }}" alt="" width="50" height="50" src="{{ status['user']['profile_image_url'] }}"></a>
                </div>
                <div class="WB_detail">
                  <div class="WB_info">
                    <a class="WB_name S_func1" nick-name="{{ status['user']['name'] }}" title="{{ status['user']['name'] }}" href="{{ status['weibo_url']}}">{{ status['user']['name'] }}</a>
                  </div>
                  <div class="WB_text" node-type="feed_list_content">{{ status['status']['text'] }}</div>
                  <div class="WB_func clearfix">
                    <div class="WB_handle">
                      <a action-type="feed_list_like" title="赞"><em class="W_ico20 icon_praised_b"></em>赞:{{ status['status']['attitudes_count'] }}</a><i class="S_txt3">|</i>
                      <a action-type="feed_list_forward">转发:{{ status['status']['reposts_count'] }}</a><i class="S_txt3">|</i>
                      <a action-type="feed_list_comment">评论:{{ status['status']['comments_count'] }}</a><i class="S_txt3">|</i>
                      <a href="/propagate/showresult_single/{{ status['status']['_id'] }}/" action-type="feed_list_comment" style="color:#FF8000;">分析</a><i class="S_txt3">|</i>
                      <a id="ma{{ status['status']['_id'] }}" name ="{{ status['status']['_id'] }}" style="color:red;">导入素材库</a>
                      <script>
                          $("#ma{{ status['status']['_id'] }}").click(function () {
                              var id=this.getAttribute("name");
                              console.log(id);
                              $.ajax({   
                                  type:"POST",  
                                  url:"/propagate/add_material",
                                  dataType: "json",
                                  async:false,
                                  data:{mid : id},
                                  success: function(data){
                                      if(data == 'Right') {
                                        alert("导入成功！");
                                      }
                                      else{
                                        alert("该微博已在素材库中！");
                                      } 
                                  }              
                              });
                          });
                      </script>
                    </div>
                    <div class="WB_from">
                      <a target="_blank" class="S_link2 WB_time" node-type="feed_list_item_date">{{ status['status']['timestamp'] }}</a> 
                      <em class="S_txt2">来自</em>
                      <a class="S_link2" target="_blank">{{ status['status']['source']}}</a>              
                    </div>
                  </div>
                  <div node-type="feed_list_repeat" class="WB_media_expand repeat S_line1 S_bg4" style="display:none;"></div>
                </div>
              </div>
            </div>
          {% endfor %}  
        </div>
      </div>
    </div>
</div>
{% endblock %}