{% extends "propagate/base.html" %}
{% block title %}信息搜索{% endblock title%}
{% block head %}
  <link href="{{ url_for('static', filename='css/propagate/microblog.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/datarangepiker.css') }}" rel="stylesheet">
  <style>
    .WB_feed_datail, .WB_feed_type {
      width: 1000px;
    }
    .WB_info, .WB_text, .WB_detail {
      width: 950px;
    }
  </style>
  <script src="/static/js/admin/jquery-1.9.1.min.js" type="text/javascript"></script>
  

{% endblock head%}
{% block content %}
  <div class="container">
    <div class="row well">
    	<legend><strong>话题信息搜索</strong></legend>
    	<div class="inline">
        <ul>
    	    <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>关键字词:</b></font> <input type="text" class="span2" placeholder="请输入关键字" value="" role="textbox" name="keyword" id="topic_keywords" style="margin-bottom: 0px;">
    	    <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>&nbsp&nbsp&nbsp关键用户: </b></font><input type="text" class="span2" placeholder="请输入用户" value="" role="textbox" name="keyuser" id="topic_keyusers" style="margin-bottom: 0px;">
          <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>&nbsp&nbsp&nbsp时间范围:</b></font>
          <div id="reportrange_topic" class="btn dropdown-toggle">
            <i class="icon-calendar icon-large"></i>
            <span id="topic_time">9月 2,2013 - 9月 4,2013</span>
            <b class="caret"></b>
          </div>
          <input type="hidden" name="r" value="1">
          <input type="submit" class="btn btn-primary" value = "搜索" id="search_topic">
        </ul>
    	</div>
      <hr>
      <ul id="TopicTab" class="nav nav-tabs">
            <li class="active"><a href="#area_1" data-toggle="tab"><strong>系统定制</strong></a></li>
        <li><a href="/sysadmin/" target="_blank"><i class="icon-cog"></i></a></li>
        <!--<li><a href="/propagate/topics" ><strong>查看更多话题</strong></a></li>-->
      </ul>

      <div id="TopicTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="area_1">
              <ul class="inline">
                {% for topic in topics %}
                <li><input type="checkbox"> {{ topic }} </li>
                {% endfor %}
              </ul>
            </div>
      </div>
    </div>
	  <div class="row well">
      <legend><strong>微博信息搜索</strong></legend>
      <div class="inline">
        <ul>
          <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>时间范围:</b></font>
          <div id="reportrange_single" class="btn dropdown-toggle">
            <i class="icon-calendar icon-large"></i>
            <span id="weibo_time">9月 2,2013 - 9月 4,2013</span> 
            <b class="caret"></b>
          </div>
          <input type="hidden" name="r" value="1">
          <input type="submit" class="btn btn-primary" value = "搜索" id="search_weibo">
        </ul>
      </div>
      <hr>
    </div>
  </div> <!-- /container -->
{% endblock %}
{% block script %}
  <script src="{{ url_for('static', filename='js/identify/topic_selector.js') }}"></script>
  <script src="/static/js/identify/datarangepiker.js" type="text/javascript"></script>
  <script src="/static/js/identify/moment.js" type="text/javascript"></script>
   <script type="text/javascript">
    $(document).ready(function() {
  $('#reportrange_topic').daterangepicker({
      ranges: {
         '今天': [moment(), moment()],
         '昨天': [moment().subtract('days', 1), moment().subtract('days', 1)],
         '最近7天': [moment().subtract('days', 6), moment()],
         '最近30天': [moment().subtract('days', 29), moment()],
         '本月内': [moment().startOf('month'), moment().endOf('month')],
         '上个月': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
      },
      startDate: moment().subtract('days', 29),
      endDate: moment()
    }, 
    function(start, end) {
  $('#reportrange_topic span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }
  );
  $('#reportrange_single').daterangepicker({
      ranges: {
         '今天': [moment(), moment()],
         '昨天': [moment().subtract('days', 1), moment().subtract('days', 1)],
         '最近7天': [moment().subtract('days', 6), moment()],
         '最近30天': [moment().subtract('days', 29), moment()],
         '本月内': [moment().startOf('month'), moment().endOf('month')],
         '上个月': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
      },
      startDate: moment().subtract('days', 29),
      endDate: moment()
    }, 
    function(start, end) {
  $('#reportrange_single span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }
  );
});

$("#search_topic").click(function() {
  var time = $("#topic_time").html();
  var keyword = document.getElementById("topic_keywords").value;
  var keyuser = document.getElementById("topic_keyusers").value;
  window.location.href="/propagate/showresult/?keyword="+keyword+"&keyuser="+keyuser+"&time="+time;
});
$("#search_weibo").click(function() {
  var time = $("#weibo_time").html();
  window.location.href="/propagate/hot_status/?time="+time;
});
</script>
{% endblock %}
