{% extends "propagate/base.html" %}
{% block title %}单条微博传播分析{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/css/jquery-ui.css" />
  <script src="{{ url_for('static', filename='js/jquery-1.8.3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row-fluid">        
      <div class="span12">
        <div class="caption" style="float:left">
          <div style="float:left">
            <img style="width: 180px; height: 180px;" type="image/jpg" src="{{ tar_profile_image_url }}" media="screen" >
          </div>
          <div style="float:left;padding-left:50px;">
            <h3>单条微博传播分析</h3>
          <div style="float:left;padding-top:10px;">
            <label style="font-size:18px">发起人：<span class="badge badge-success" style="font-size:18px"> {{ tar_screen_name }} </span> </label>
            <label class="appendedInput" style="font-size:18px">转发数：<span class="badge badge-info" style="font-size:18px">{{ tar_repost_count }}</span></label>
          </div>
          <div style="float:left;padding-top:10px;padding-left:30px;">
            <label class="appendedInput" style="font-size:18px">评论数：<span class="badge badge-warning" style="font-size:18px">{{ tar_comments_count }}</span></label>
            <label class="appendedInput" style="font-size:18px">赞数：<span class="badge badge-warning" style="font-size:18px">{{ tar_attitudes_count }}</span></label>
          </div>
          <div style="float:left;padding-top:10px;padding-left:30px;">            
            <label class="appendedInput" style="font-size:18px">发布时间：{{ tar_post_date }} </label>
          </div>
        </div>
      </div>
    </div><!--上侧信息-->

    <div class="row-fluid" style="padding-top:20px;">
      <div class="span12" id = "index-tabs">
        <ul id = "myTab" class="nav nav-tabs">
          <li><a href="/propagate/single_ajax_trend/?mid={{mid}}" >演变趋势</a></li>
          <li><a href="/propagate/single_ajax_weibos/?mid={{mid}}" >相关微博</a></li>
          <li><a href="/propagate/single_ajax_spatial/">地理分布</a></li>
          <li><a href="/propagate/single_ajax_stat/?mid={{mid}}" >主要指标</a></li>
          <li><a href="/propagate/single_ajax_path/?mid={{mid}}&beg_ts={{beg_ts}}&end_ts={{end_ts}}" >传播路径</a></li>
          <li><a href="/propagate/single_ajax_userfield/?mid={{mid}}" >关键人员及领域分布</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script src="/static/js/jquery-ui.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/highstock.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/exporting.js') }}"></script>
  <script>
    var mid = '{{mid}}';
    var post_time = '{{post_time}}';
    var request_data_dict = {'mid': mid,'post_time': post_time};
    $(document).ready(function(){
      $("#index-tabs" ).tabs({
        beforeLoad: function( event, ui ) {
          ui.jqXHR.error(function() {
            ui.panel.html("无法显示此页，我们将尽快解决该问题. ");
          });
        }
      });
    })
  </script>
{% endblock script %}