{% extends "propagate/base.html" %}
{% block title %}单条微博传播分析{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row-fluid">        
      <div class="span12">
        <div class="caption" style="float:left">
          <div style="float:left">
            <img style="width: 180px; height: 180px;" type="image/jpg" src="{{ tar_profile_image_url }}" media="screen" >
          </div>
          <div style="float:left;padding-left:50px;">
            <h3>单条微博传播分析</h3>
          <div style="float:left;padding-top:10px;">
            <label style="font-size:18px">发起人：<span class="badge badge-success" style="font-size:18px"> {{ tar_screen_name }} </span> </label>
            <label class="appendedInput" style="font-size:18px">转发数：<span class="badge badge-info" style="font-size:18px">{{ tar_repost_count }}</span></label>
          </div>
          <div style="float:left;padding-top:10px;padding-left:30px;">
            <label class="appendedInput" style="font-size:18px">评论数：<span class="badge badge-warning" style="font-size:18px">{{ tar_comments_count }}</span></label>
            <label class="appendedInput" style="font-size:18px">赞数：<span class="badge badge-warning" style="font-size:18px">{{ tar_attitudes_count }}</span></label>
          </div>
          <div style="float:left;padding-top:10px;padding-left:30px;">            
            <label class="appendedInput" style="font-size:18px">发布时间：{{ tar_post_date }} </label>
            <!--<label class="appendedInput" style="font-size:18px">内容：{{ tar_text }} </label>-->
          </div>
        </div>
      </div>
    </div><!--上侧信息-->

    <div class="row-fluid" style="padding-top:20px;">
      <div class="span12" id="index-tabs">
        <ul class="nav nav-pills tab_container">
          <li class="btn span2 btn-primary" id="tab2" >关联微博</a></li>
          <li class="btn span2" id="tab1">传播数量走势</li>
          <li class="btn span2" id="tab3">地理分布</a></li>
          <li class="btn span2" id="tab4">传播指标</a></li>
          <!--<li><a href="/propagate/single_ajax_path/?mid={{mid}}&beg_ts={{beg_ts}}&end_ts={{end_ts}}" >传播路径</a></li>-->
          <li class="btn span2" id="tab5">传播路径</a></li>
          <li class="btn span2" id="tab6" >关键人员统计</a></li>
        </ul>
        <div id="content_container"></div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script>
    $('#content_container').empty();
    $('#content_container').load("/propagate/single_ajax_weibos/?mid={{mid}}", function() {});

    tabIdArr = ['tab1', 'tab2', 'tab3', 'tab4', 'tab5', 'tab6'];
    tabUrlArr = ["/propagate/single_ajax_trend/?mid={{mid}}", "/propagate/single_ajax_weibos/?mid={{mid}}", "/propagate/single_ajax_spatial/", "/propagate/single_ajax_stat/?mid={{mid}}", "/gexf/show_graph/{{mid}}", "/propagate/single_ajax_userfield/?mid={{mid}}"];
    for (var i = 0, len = tabIdArr.length; i < len; i++) {
      document.getElementById(tabIdArr[i]).onclick = function(data) {
        var tabId = data.srcElement.id;
        var tabIdx = parseInt(tabId.substring(3, 4));
        $('#content_container').empty();
        for (var j = 0, len = tabIdArr.length; j < len; j++){
          if(j != tabIdx - 1){
            $("#" + tabIdArr[j]).removeClass('btn-primary');
          }
        }
        $("#" + tabId).addClass('btn-primary');
        $('#content_container').load(tabUrlArr[tabIdx - 1], function() {});
      }
    }
  </script>
{% endblock script %}