{% extends "propagate/base.html" %}
{% block title %}单条搜索结果{% endblock %}

{% block head %}
{{ super() }}
    <script type="text/javascript">
      var current = null;
    </script>
        <style>
 
        .sigma-expand {
          position: relative;
          margin: 0px auto;
          height: 500px;
        }
        </style>

{% endblock %}
    
{% block content %}
    <div class="container"> 

    <div class="container-fluid">

            <div class="row-fluid">
            
            <div class="span2">
                <img style="width: 180px; height: 180px;" type="image/jpg" src="{{ tar_profile_image_url }}" media="screen" >
                  <div class="caption">
                    <h3>基本信息</h3>
                    <label>发起人：<span class="badge badge-success"> {{ tar_screen_name }} </span> </label>
                    <label class="appendedInput">转发数：<span class="badge badge-info">{{ tar_repost_count }}</span></label>
                    <label class="appendedInput">评论数：<span class="badge badge-warning">{{ tar_comments_count }}</span></label>
                    <label class="appendedInput">赞数：<span class="badge badge-warning">{{ tar_attitudes_count }}</span></label>
                    <label class="appendedInput">发布时间：{{ tar_post_date }} </label>
                  </div>
            </div><!--左侧信息-->
            
            <div class="span10">
                <ul id = "myTab" class="nav nav-tabs">
                    <li class="active"><a href="#area_1" data-toggle="tab">演变趋势</a></li>
                    <li><a href="#area_2" data-toggle="tab">相关微博</a></li>
	                <li><a href="#area_3" data-toggle="tab">地理分布</a></li>
	                <li><a href="#area_4" data-toggle="tab">主要指标</a></li>
                    <li><a href="#area_5" data-toggle="tab">传播路径</a></li>
                    <li><a href="#area_6" data-toggle="tab">关键人员及领域分布</a></li>
                </ul>
          
            <div id="myTabContent" class="tab-content">
                
            <div class="tab-pane fade active in" id="area_1">
              <div id="count_chart" style="height: 500px; min-width: 500px"></div>
            </div><!--area1-->
            
            <div class="tab-pane fade" id="area_2">
                <div class="WB_feed_type SW_fun  S_line2">
                <div class="WB_feed_datail S_line2 clearfix">
                  <div class="WB_face">
                  <a class="W_face_radius"><img alt="" width="50" height="50" src="{{ tar_profile_image_url }}"></a>
                  </div>
                <div class="WB_detail">
                  <div class="WB_info"><a class="WB_name S_func1"> {{ tar_screen_name }} </a>
                  </div>
                  <div class="WB_text" node-type="feed_list_content">{{ tar_text }}</div>
                <div class="WB_func clearfix">
                  <div class="WB_handle">
                    <a><em class="W_ico20 icon_praised_b"></em>赞:{{ tar_attitudes_count }}</a><i class="S_txt3">|</i>
                    <a>转发:{{ tar_repost_count }}</a><i class="S_txt3">|</i>
                    <a>评论:{{ tar_comments_count }}</a><i class="S_txt3">|</i>
                    <a href="/propagate/showResult_single/{{ tar_id }}/">分析</a>
                  </div>
                  <div class="WB_from">
                    <a class="S_link2 WB_time" >{{ tar_post_date }}</a> 
                    <em class="S_txt2">来自</em><a class="S_link2" >{{ tar_source }}</a>                           
                  </div>
                </div>
                <div node-type="feed_list_repeat" class="WB_media_expand repeat S_line1 S_bg4" style="display:none;"></div>
                </div>
                </div>
              </div>
            </div><!--area2-->
            
            <div class="tab-pane fade" id="area_3">
                <div id="main">
                    <div id="Summary"></div>
                    <div id="Map">
                        <div id="ChinaMap"></div>
                        <div id="ColorBar"></div>
                    </div>
                    <div class="clear-float"></div>
                </div>

            </div><!--地理分布-->
            
           <div class="tab-pane fade" id="area_4">
            
            <div class="sub_item">
			<div class="itemlabel">持续性：</div>
			<div class="itemtext">{{ tar_persistent_count }}</div>
		    </div>
            <div class="sub_item">
			<div class="itemlabel">爆发力：</div>
			<div class="itemtext">{{ tar_sudden_count }}</div>
		    </div>
            <div class="sub_item">
			<div class="itemlabel">覆盖度：</div>
			<div class="itemtext">{{ tar_coverage_count }}</div>
		    </div>
            <div class="sub_item">
			<div class="itemlabel">重要媒体渗透度：</div>
			<div class="itemtext">{{ tar_media_count }}</div>
		    </div>
            <div class="sub_item">
			<div class="itemlabel">舆论领袖渗透度：</div>
			<div class="itemtext">{{ tar_leader_count }}</div>
		    </div>

      <div style="float:left">
        <h3>指标释意</h3>
        <p>持续性：截止目前（第i天），原创微博数和转发微博数之和超出i日均线的天数</p>
        <p>爆发力：截止目前（第i天），超出i日均线的原创微博数和转发微博数之和与截止目前的所有原创微博数和转发微博数之和的比例</p>
        <p>覆盖度：每小时的原创微博数、转发微博数和评论数的和</p>
        <p>重要媒体渗透度：当天评论+转发数TOP20的转发微博中，转发人是TOP20媒体的个数</p>
        <p>舆论领袖渗透度：当天的传播网络中，关键节点用户的个数</p>
      </div>

            </div><!--主要指标-->
            
            <div class="tab-pane fade" id="area_5">
	      <div class="sigma-expand" id="sigma-graph"></div>
            </div><!--area5-->
            
            <div class="tab-pane fade" id="area_6">

              <div>    
              <div id="working_count" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
              </div>

            <div class="well">

  <legend>次级传播用户</legend>

  <div>
    <p>
      <a class="btn btn-small btn-success" href="#"><i class="icon-download-alt"></i> 导出</a>
    </p>
  </div>

    <div>
    <table class="table table-bordered">
      <thead>
        <tr>
    <th>博主ID</th>
    <th>博主昵称</th>
    <th>博主地域</th>
    <th>粉丝数</th>
    <th>关注数</th>
    <th>关联级别</th>
    <th>敏感状态</th>
        </tr>
      </thead>

      <tbody>
        {% for user in blog_key_user_list %}
        <tr>
    <td>{{ user.id }}</td>
    <td>{{ user.name }}</td>
    <td>{{ user.location }}</td>
    <td>{{ user.followers_count }}</td>
    <td>{{ user.friends_count }}</td>
    <td>二级</td>
    <td><i class="icon-ok"></i></td>
        </tr>
        {% endfor %}
      </tbody>
          </table>
    <div class="pagination pagination-centered">
      <ul>
        <li class="disabled"><a href="#">«</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">»</a></li>
      </ul>
    </div>
    </div>
    </div>
    <div class = "span9">
    <legend>关键传播用户</legend>
    <div id="thumbnail" style="height: auto">
            {% for u in blog_key_user_list %}
            <div class="grid">
                <div id="imgholder">
                    <img type="image/jpg" src="{{ u.profile_image_url }}" media="screen">
                </div>
                <strong>{{ u.name }}</strong>
                <p>微博数：{{ u.statuses_count }}</p>
                <p>关注数：{{ u.bi_followers_count }}</p>
                <p>粉丝数：{{ u.followers_count }}</p>
                <p>个人描述：{{ u.description }}</p>
                <div class="meta">{{u.url}}</div>
            </div>
            {% endfor %}
    </div>
    <div id="loader">
          <div id="loaderCircle" style="display: none;"></div>
    </div>
  </div>
    </div><!--area6-->
    </div>
    </div><!--.container end-->
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/highstock.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/exporting.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/propagate/raphael.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/propagate/sigma.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/propagate/sigma.parseGexf.js') }}"></script>


<script type="text/javascript" src="{{ url_for('static', filename='js/propagate/chinamap.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/propagate/jquery.wookmark.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/propagate/blocksit.min.js') }}"></script>
    <script>
  var options = {
      numOfCol: 5,
      offsetX: 8,
      offsetY: 8
  };
  
  //blocksit define
  
  $(window).load( function() {
    $('#thumbnail').BlocksIt(options);
  });
  
  //window resize
  var currentWidth = 1100;
  $(window).resize(function() {
    var winWidth = $(window).width();
    var conWidth;
    if(winWidth < 660) {
      conWidth = 440;
      col = 2
    } else if(winWidth < 880) {
      conWidth = 660;
      col = 3
    } else if(winWidth < 1100) {
      conWidth = 880;
      col = 4;
    } else {
      conWidth = 1100;
      col = 5;
    }
    
    if(conWidth != currentWidth) {
      currentWidth = conWidth;
      $('#thumbnail').width(conWidth);
      $('#thumbnail').BlocksIt({
        numOfCol: col,
        offsetX: 8,
        offsetY: 8
      });
    }
  });
  
  // Capture scroll event.
  $(document).bind('scroll', onScroll);
      
  // Load first data from the API.
  
  var handler = null;
  var page = 1;
  var isLoading = true;
  var apiURL = "/profile/search/culture" ;
  var dataparams;
  /**
   * When scrolled all the way to the bottom, add more tiles.
   */
  function onScroll(event) {
    // Only check when we're not still waiting for data.
    if(!isLoading) {
      // Check if we're within 100 pixels of the bottom edge of the broser window.
      var closeToBottom = ($(window).scrollTop() + $(window).height() > $(document).height() - 100);
      if(closeToBottom) {
        loadData();
      }
    }
  };
  
  /**
     * Refreshes the layout.
     */
    function applyLayout() {
      // Clear our previous layout handler.
      //if(handler) handler.wookmarkClear();
      
      // Create a new layout handler.
    
      handler = $('#thumbnail');
      handler.BlocksIt(options);
    };
  
  /**
     * Loads data from the API.
     */
    function loadData() {
      isLoading = true;
      $('#loaderCircle').show();
        
        dataparams = {page: page};
      
      $.ajax({
        url: apiURL,
        type: 'POST',
        dataType: 'json',
        data: dataparams, // Page parameter to make sure we load new data
        success: onLoadData
      });
      
    };
    
    /**
     * Receives data from the API, creates HTML for images and updates the layout
     */
    function onLoadData(data) {
      isLoading = false;
      $('#loaderCircle').hide();
      
      // Increment page index for future calls.
      page++;
      
      // Create HTML for the images.
      var html = '';
      var i=0, length=data.length, item;
      for(; i<length; i++) {
        item = data[i];
    
        html += "<div class=\"imgholder\"><a href=\"/profile/person/" + item.id + "\" target=\"_blank\"><img src=\"" + item.profileImageUrl + "\" /></a></div>";
        html += "<strong>" + item.userName + "</strong>";
        html += "<p>微博数：" + item.statusesCount + "</p>";
        html += "<p>关注数：" + item.friendsCount + "</p>";
        html += "<p>粉丝数：" + item.followersCount + "</p>";
        html += "<p>个人描述：" + item.description + "</p>";
        html += "<div class=\"meta\"><a href=\"http://weibo.com/u/" + item.id + "\" target=\"_blank\">weibo.com/u/" + item.id + "</a></div></div>";
      }
      
      // Add image HTML to the page.
      $('#thumbnail').append(html);
      
      // Apply layout.
      applyLayout();

      refresh_grid();
  }

function refresh_grid(){
  $("#thumbnail > div.grid").each(function(){
    $(this).hover(
      function(){
        $(this).addClass("gridHover").children("div.options").css("opacity", "1");
      },
      function(){
        $(this).removeClass("gridHover").children("div.options").css("opacity", "0");
      });
  });
  $("#thumbnail > div.grid > div.options > div.opt").each(function(){
    $(this).hover(
      function(){
        $(this).css("background-color", "#0088cc");
        $(this).find("span").css("color", "#ffffff");
        $(this).find("i").addClass("icon-white");
      },
      function(){
        $(this).css("background-color", "#ffffff");
        $(this).find("span").css("color", "#0088cc");
        $(this).find("i").removeClass("icon-white");
      });
  });
}

</script>

<script>
           function request_callback(data) {
    var map_data = data['map_data'];
    drawChinamap(map_data);

  $('#count_chart').highcharts('StockChart', {
      
      rangeSelector : {
        selected : 1
      },

      title : {
        text : '传播趋势'
      },
      
      series : [{
        name : '微博数量',
        data : data['perday_blog_count'],
        tooltip: {
          valueDecimals: 2
        }
      }]
    });

		  
	
	      $('#working_count').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: '用户领域分布'
            },
            tooltip: {
              pointFormat: '{series.name}: <b>{point.percentage}%</b>',
              percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: '占比',
                data: [
                    ['金融',   45.0],
                    ['房地产',       26.8],
                    {
                        name: '科技',
                        y: 12.8,
                        sliced: true,
                        selected: true
                    },
                    ['媒体',    8.5],
                    ['教育',     6.2],
                    ['未知领域',   0.7]
                ]
            }]
        });
      };
        $(document).ready(function(){
          $.post("/propagate/showResult_single/{{ mid }}/", {}, request_callback, "json");
          $.get("/static/gexf/tree.gexf", function(data) {
	    var sigInst = sigma.init($('#sigma-graph')[0]).drawingProperties({
	      defaultLabelColor: '#fff'
	      }).graphProperties({
	         minNodeSize: 0.5,
	         maxNodeSize: 5
	      });

	   sigInst.parseGexf(data);

	   sigInst.draw();
	  }, "xml");
	   loadData();
	   backToTop();  
        });
        </script>
{% endblock %}
