{% extends "propagate/base.html" %}
{% block title %}单条微博传播分析{% endblock %}
{% block head %}
<style>
  .descriptions {
  font-family: "Trebuchet MS", Helvetica, Arial;
  }
  .block {
  padding: 15px;
  background: #fff;
  margin-bottom: 10px;
  line-height: 1.7;
  box-shadow: 0 1px 3px rgba(34,25,25,0.4);
  -moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
  transition: box-shadow 1s;
  -moz-transition: -moz-box-shadow 1s;
  -webkit-transition: -webkit-box-shadow 1s;
  }
  #thumbnail,#thumbnail_part{
  position: relative;
  width:600px;
  height: 700px;
  margin:0 auto auto 0;
  padding-bottom: 10px;
  }
  .grid{
  width:188px;
  min-height:100px;
  padding: 15px;
  background:#fff;
  margin:8px;
  font-size:12px;
  float:left;
  box-shadow: 0 1px 3px rgba(34,25,25,0.4);
  -moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
  -webkit-transition: top 1s ease, left 1s ease;
  -moz-transition: top 1s ease, left 1s ease;
  -o-transition: top 1s ease, left 1s ease;
  -ms-transition: top 1s ease, left 1s ease;
  }
  .yuan {
  border-bottom:1px solid #ccc;
  margin:10px 0;
  display:block;
  padding:0 0 5px;
  font-size:17px;
  }
  .meta{
  text-align:right;
  color:#777;
  font-style:italic;
  }
  .imgholder img{
  max-width:100%;
  background:#ccc;
  display:block;
  }
  #main_first {
    float:left;
    width: 49%;
  }
  #main_second {
    float:right;
    width: 49%;
  }
</style>
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <div class="row-fluid">        
      <div class="span12">
        <div class="caption" style="float:left">
          <div style="float:left">
            {% if tar_profile_image_url %}
            <img style="width: 150px; height: 140px;" type="image/jpg" src="{{ tar_profile_image_url }}" media="screen" >
            {% else %}
            <img style="width: 150px; height: 140px;" type="image/jpg" src="/static/img/topic_none.png" media="screen" />
            {% endif %}
          </div>
          <div style="float:left;padding-left:50px;width:1000px;">
            <h3>单条微博传播分析</h3>
            <label style="font-size:18px;float:left;">发起人：<span class="badge badge-success" style="font-size:18px"> {{ tar_screen_name }} </span> </label>
            <label class="appendedInput" style="font-size:18px;padding-left:30px;float:left;">发布时间：{{ tar_post_date }} </label>
            <label class="appendedInput" style="font-size:18px;padding-left:500px;">微博链接：<a href="{{weibo_url}}">{{ weibo_url }} </a></label>           
            <label class="appendedInput" style="font-size:18px;padding-top:10px;">内容：{{ tar_text }} </label>
        </div>
      </div>
    </div><!--上侧信息-->

    <div class="row-fluid" style="padding-top:20px;">
      <div class="span12" id="index-tabs" style="padding-top:20px;">
        <ul class="nav nav-pills tab_container">
          <li class="btn span2" style="width:150px;height:20px;"><a href="/propagate/single_ajax_weibos/?mid={{mid}}" align="center" style="padding-top: 2px;padding-bottom: 2px;color:black;">关联微博</a></li>
          <li class="btn span2" style="width:150px;height:20px"><a href="/propagate/single_ajax_trend/?mid={{mid}}" align="center" style="padding-top: 2px;padding-bottom: 2px;color:black;">传播数量走势</a></li>
          <li class="btn span2" style="width:150px;height:20px;"><a href="/propagate/single_ajax_spatial/?mid={{mid}}" align="center" style="padding-top: 2px;padding-bottom: 2px;color:black;">地理分布</a></li>
          <li class="btn span2" style="width:150px;height:20px;"><a href="/propagate/single_ajax_stat/?mid={{mid}}" align="center" style="padding-top: 2px;padding-bottom: 2px;color:black;">传播指标</a></li>
          <li class="btn span2 btn-primary" style="width:150px;height:20px;"><a href="/propagate/single_ajax_userfield/?mid={{mid}}" align="center" style="padding-top: 2px;padding-bottom: 2px;color:black;">关键人员统计</a></li>
          <li class="btn span2" style="width:150px;height:20px;"><a href="/gexf/show_graph/{{mid}}/sub" align="center" style="padding-top: 2px;padding-bottom: 2px;color:black;">传播路径(子树)</a></li>
          <li class="btn span2" style="width:150px;height:20px;"><a href="/gexf/show_graph/{{mid}}/whole" align="center" style="padding-top: 2px;padding-bottom: 2px;color:black;">传播路径(全树)</a></li>          
        </ul>
        <div id="content_container">
          <div>
            <div id="main_first">
              <legend style="text-align:center;">整个转发树的结果</legend>
              <div id="container" style="height: 500px;">
                <div id="working_count_second"></div>
              </div>
              <div class="well">
                <legend>次级传播用户</legend>
                <div>
                  <p>
                    <a class="btn btn-small btn-success" href="#" id="out"><i class="icon-download-alt"></i> 导出</a>
                    <a id="add_kd" class="btn btn-small btn-info" href="#" title="将勾选的人加入知识库"><i class="icon-file"></i> 加入知识库</a>
                    <a id="remove_kd" class="btn btn-small btn-info" href="#" title="将勾选的人移出知识库"><i class="icon-file"></i> 移出知识库</a>
                    <a id="add_trash" class="btn btn-small btn-danger" href="#" title="将勾选的人加入垃圾名单"><i class="icon-ban-circle"></i> 加入垃圾名单</a>
                  </p>
                </div>
                <div>
                  <table class="table table-bordered" id="single_table">
                    <thead>
                      <tr>
                        <th style="text-align:center;display:none;">博主ID</th>
                        <th style="text-align:center;">博主昵称</th>
                        <th style="text-align:center;">博主地域</th>
                        <th style="text-align:center;">粉丝数</th>
                        <th style="text-align:center;">关注数</th>
                        <th style="text-align:center;">微博数</th>
                        <th style="text-align:center;">所属领域</th>
                        <th style="text-align:center;">敏感状态</th>
                        <th><input id="select_all" type="checkbox" />全选</th>
                      </tr>
                    </thead>
                    <div id="users_area">
                      <tbody id="word_table">
                      </tbody>
                    </div>
                  </table>
                  <div id="page-selection" class="pagination pagination-centered"></div>
                  <script src="/static/js/profile/jquery.bootpag.min.js"></script>
                </div>
              </div>
              <div class = "span12" >
                <legend>关键传播用户</legend>
                <div id="thumbnail">
                  {% if not blog_key_user_list %}
                  <p>计算结果为空</p>
                  {% endif %}
                  {% for u in blog_key_user_list %}
                  <div class="grid">
                    <div id="imgholder"><img type="image/jpg" src="{{ u.profile_image_url }}" media="screen"></div>
                    <strong class="yuan">{{ u.name }}</strong>
                    <p>微博数：{{ u.statuses_count }}</p>
                    <p>关注数：{{ u.bi_followers_count }}</p>
                    <p>粉丝数：{{ u.followers_count }}</p>
                    <p>个人描述：{{ u.description }}</p>
                    <div class="meta">{{u.url}}</div>
                  </div>
                  {% endfor %}
                </div>
                <div id="loader">
                  <div id="loaderCircle" style="display: none;"></div>
                </div>
              </div>
            </div>
            <div id="main_second">
              <legend style="text-align:center;">以该微博为顶点的转发树的计算结果</legend>
              <div id="container_part" style="height: 500px;">
                <div id="working_count_second_part"></div>
              </div>
              <div class="well">
                <legend>次级传播用户</legend>
                <div>
                  <p>
                    <a class="btn btn-small btn-success" href="#" id="out_part"><i class="icon-download-alt"></i> 导出</a>
                    <a id="add_kd_part" class="btn btn-small btn-info" href="#" title="将勾选的人加入知识库"><i class="icon-file"></i> 加入知识库</a>
                    <a id="remove_kd_part" class="btn btn-small btn-info" href="#" title="将勾选的人移出知识库"><i class="icon-file"></i> 移出知识库</a>
                    <a id="add_trash_part" class="btn btn-small btn-danger" href="#" title="将勾选的人加入垃圾名单"><i class="icon-ban-circle"></i> 加入垃圾名单</a>
                  </p>
                </div>
                <div>
                  <table class="table table-bordered" id="single_table_part">
                    <thead>
                      <tr>
                        <th style="text-align:center;display:none;">博主ID</th>
                        <th style="text-align:center;">博主昵称</th>
                        <th style="text-align:center;">博主地域</th>
                        <th style="text-align:center;">粉丝数</th>
                        <th style="text-align:center;">关注数</th>
                        <th style="text-align:center;">微博数</th>
                        <th style="text-align:center;">所属领域</th>
                        <th style="text-align:center;">敏感状态</th>
                        <th><input id="select_all_part" type="checkbox" />全选</th>
                      </tr>
                    </thead>
                    <div id="users_area_part">
                      <tbody id="word_table_part">
                      </tbody>
                    </div>
                  </table>
                  <div id="page-selection_part" class="pagination pagination-centered"></div>
                  <script src="/static/js/profile/jquery.bootpag.min.js"></script>
                </div>
              </div>
              <div class = "span12" >
                <legend>关键传播用户</legend>
                <div id="thumbnail_part">
                  {% for u in blog_key_user_list_part %}
                    <div class="grid">
                      <div id="imgholder_part"><img type="image/jpg" src="{{ u.profile_image_url }}" media="screen"></div>
                      <strong class="yuan">{{ u.name }}</strong>
                      <p>微博数：{{ u.statuses_count }}</p>
                      <p>关注数：{{ u.bi_followers_count }}</p>
                      <p>粉丝数：{{ u.followers_count }}</p>
                      <p>个人描述：{{ u.description }}</p>
                      <div class="meta">{{u.url}}</div>
                    </div>
                  {% endfor %}
                </div>
                <div id="loader_part">
                    <div id="loaderCircle_part" style="display: none;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="/static/js/jquery-ui.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/highstock.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/exporting.js') }}"></script>
<script src="/static/js/profile/bootstrap.min.js"></script>
<script src="/static/js/profile/jquery.bootpag.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/propagate/jquery.wookmark.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/propagate/blocksit.min.js') }}"></script>

<script>
  var len = $('script').filter(function () {
    return ($(this).attr('src') == '/static/js/highstock.js');
  }).length;

  if(len == 0){
    loadScript('/static/js/highstock.js');
    loadScript('/static/js/exporting.js');
  }

  function loadScript(scriptLocationAndName) {
    var head = document.getElementsByTagName('head')[0];
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = scriptLocationAndName;
    head.appendChild(script);
  }
  $('#select_all').click(function(){
      var $this = $(this);
      this.checked = !this.checked;
      $.each($('#single_table :checkbox'), function(i, val) {
    if ($(this) != $this)
        this.checked = !this.checked;
      });  
  });
  
  if(( {{data2[0]['university']}} + {{data2[1]['homeadmin']}} + {{data2[2]['abroadadmin']}} + {{data2[3]['homemedia']}} + {{data2[4]['abroadmedia']}} + {{data2[5]['folkorg']}} + {{data2[6]['politician']}} + {{data2[7]['mediaworker']}} + {{data2[8]['activer']}} + {{data2[9]['mediaworker']}} + {{data2[10]['grassroot']}} + {{data2[11]['unknown']}})>0){
    
    display_user_second_field_dist();
  }
  else{
    $("#working_count_second").append("舆情领域计算为空");
  }
  

   function display_user_second_field_dist(){
  $('#working_count_second').highcharts({
      chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false
      },
      title: {
          text: '舆情领域分布'
      },
      tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage}%</b>',
        percentageDecimals: 1
      },
      plotOptions: {
          pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              dataLabels: {
                  enabled: true,
                  color: '#000000',
                  connectorColor: '#000000',
                  formatter: function() {
                      return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(2) +' %';
                  }
              }
          }
      },
      series: [{
        type: 'pie',
        name: '占比',
        data: [
            ['高校微博',   {{data2[0]['university']}}],
            ['境内机构',   {{data2[1]['homeadmin']}}],
            ['境外机构',   {{data2[2]['abroadadmin']}}],
            ['境内媒体',   {{data2[3]['homemedia']}}],
            ['境外媒体',   {{data2[4]['abroadmedia']}}],
            ['民间组织',   {{data2[5]['folkorg']}}],
            ['律师',   {{data2[6]['lawyer']}}],
            ['政府官员',   {{data2[7]['politician']}}],
            ['媒体人士',   {{data2[8]['mediaworker']}}],
            ['活跃人士',   {{data2[9]['activer']}}],
            ['草根',   {{data2[10]['grassroot']}}],
            ['其他',   {{data2[11]['unknown']}}]
        ]
      }]
    });
  }

  var options = {
      numOfCol: 4,
      offsetX: 8,
      offsetY: 8
  };

  $('#thumbnail').BlocksIt(options);

  var currentWidth = 1100;
  $(window).resize(function() {
    var winWidth = $(window).width();
    var conWidth;
    if(winWidth < 660) {
      conWidth = 440;
      col = 2
    } else if(winWidth < 880) {
      conWidth = 660;
      col = 3
    } else if(winWidth < 1100) {
      conWidth = 880;
      col = 4;
    } else {
      conWidth = 1100;
      col = 5;
    }
    
    if(conWidth != currentWidth) {
      currentWidth = conWidth;
      $('#thumbnail').width(conWidth);
      $('#thumbnail').BlocksIt({
        numOfCol: col,
        offsetX: 8,
        offsetY: 8
      });
    }
  });  

var countperpage_args = 10;
var limit_arg = 1000000;

function getRankData(countperpage_args, limit_arg){
    var total_page_number;
    $.ajax({
        url: "/propagate/single_rank/?page=1&countperpage=" + countperpage_args + "&limit=" + limit_arg + "&mid={{mid}}" ,
        dataType: 'json',   
        type: "GET",
        success: function (data) {
        total_page_number = parseInt(data['pages']);
        var html = "";
        for(var i=0;i < data['news'].length;i += 1){
            user = data['news'][i];
            html += "<tr><td style='text-align:center;display:none;'>" + user['id'] + "</td>";
            html += "<td style='text-align:center'>" + user['name'] + "</td>";
            html += "<td style='text-align:center'>" + user['location'] + "</td>";
            html += "<td style='text-align:center'>" + user['followers_count'] + "</td>";
            html += "<td style='text-align:center'>" + user['bi_followers_count'] + "</td>";
            html += "<td style='text-align:center'>" + user['statuses_count'] + "</td>";
            html += "<td style='text-align:center'>" + user['domain'] + "</td>";
            if(user['status'] == 1){
              html += "<td><i class='icon-ok'></i></td>";
            }
            else{
              html += "<td><i class='icon-remove'></i></td>";
            }
            html += '<td><input id="uid_'+ user['id'] + '" type="checkbox" name="now_user"></td></tr>';
        }
        $("#word_table").empty();
        $("#word_table").append(html);
        $('#page-selection').bootpag({
            total: total_page_number,
            maxVisible: 10
        }).on("page", function(event, /* page number here */ num){
        $("#word_table").empty();
        $.ajax({
            url: "/propagate/single_rank/?page=" + num + "&countperpage=" + countperpage_args + "&limit=" + limit_arg+ "&mid={{mid}}" ,
            dataType: 'json',   
            type: "GET",
            success: function (data) {
            var html = "";
            for(var i=0;i < data['news'].length;i += 1){
                user = data['news'][i];
                            //console.log(user['id'],user['wordsName'],user['seWeight']);
                html += "<tr><td style='text-align:center;display:none;'>" + user['id'] + "</td>";
                html += "<td style='text-align:center'>" + user['name'] + "</td>";
                html += "<td style='text-align:center'>" + user['location'] + "</td>";
                html += "<td style='text-align:center'>" + user['followers_count'] + "</td>";
                html += "<td style='text-align:center'>" + user['bi_followers_count'] + "</td>";
                html += "<td style='text-align:center'>" + user['statuses_count'] + "</td>";
                html += "<td style='text-align:center'>" + user['domain'] + "</td>";
                if(user['status'] == 1){
                  html += "<td><i class='icon-ok'></i></td>";
                }
                else{
                  html += "<td><i class='icon-remove'></i></td>";
                }
                html += '<td><input id="uid_'+ user['id'] + '" type="checkbox" name="now_user"></td></tr>';
            }
            $("#word_table").append(html);
            }
        });
      });
    }
  });
}
$(document).ready(function(){
    getRankData(countperpage_args, limit_arg);
    getRankData_part(countperpage_args, limit_arg);
})
function exportTableToCSV($table, filename) {
                
            //  alert(filename);
                  var ta=$("#single_table");  
                  var $head = ta.find("thead");
                  var $body = ta.find("tbody");
                  var $r_head = $head.find("tr");
                  var $rows = $body.find("tr");
                  var tmpColDelim = String.fromCharCode(11); // vertical tab character
                  var tmpRowDelim = String.fromCharCode(0); // null character

              // actual delimiter characters for CSV format
                  var colDelim = ",";
                  var rowDelim = "\r\n";

              // Grab text from table into CSV formatted string
                  var c_head = $r_head.find("th");
                  var csv_head = '';
                  for(var count=0;count<c_head.length-1;count++){ 
                      if(count == (c_head.length-2)){
                          csv_head = csv_head + c_head[count].innerHTML + rowDelim;
                        }
                        else{
                          csv_head = csv_head + c_head[count].innerHTML + colDelim;
                        }
                    }
                                      
                csv = $rows.map(function (i, row) {
                  var $row = $(row),
                    $cols = $row.find('td');

                  return $cols.map(function (j, col) {
                      var $col = $(col);
                      if($col.find('i').length == 1){
                          var pic = $col.find('i');                        
                          if(pic.attr('class') == "icon-ok"){
                              var text = '是';
                          }
                          else{
                              var text = '否';
                          }
                      }
                      else{
                          var text = $col.text();
                      }
                      return text.replace('"', '"'); // escape double quotes                                                                 

                  }).get().join(tmpColDelim);

              }).get().join(tmpRowDelim).split(tmpRowDelim).join(rowDelim).split(tmpColDelim).join(colDelim);              

              csv = csv_head + csv;

              // Data URI
              csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

            $(this)
                .attr({
                  'download': filename,
                    'href': csvData,
                    'target': '_blank'
              });
        }


        $("a[id='out']").on('click', function (event) {
          exportTableToCSV.apply(this, [$('#dvData>table'), 'Single_Bloggers.csv']);
          alert("导出成功！");
        });

  //添加垃圾名单
    $("#add_trash").click(function() {
        n = 0;
        $("[name='now_user']").each(function(){
                              
            if(this.checked)
            {
                var fa = $(this).parent();
                var ne = $(fa).prev().prev().prev().prev().prev().prev().prev().prev();
                var f_id = $(ne).html();
                $.ajax({   
                    type:"POST",  
                    url:"/propagate/add_trash/",
                    dataType: "json",
                    async:false,
                    data:{f_id : f_id},
                    success: function(data){
                        if( data =='Right'){
                            n = n + 1;
                        }
                    }           
                });
            }   
        });
        if(n > 0){
            alert("添加成功！");
        }
        //location.reload();
    });

    //添加知识库
    $("#add_kd").click(function() {
        n = 0;
        $("[name='now_user']").each(function(){
                              
            if(this.checked)
            {
                var fa = $(this).parent();
                var ne = $(fa).prev().prev().prev().prev().prev().prev().prev().prev();
                var f_id = $(ne).html();
                var type = showModalDialog("/propagate/page/",f_id,"DialogWidth:300px;dialogHeight=180px;status:no");
                $.ajax({   
                    type:"POST",  
                    url:"/propagate/add_kd/",
                    dataType: "json",
                    async:false,
                    data:{f_id : f_id,type : type},
                    success: function(data){
                        if( data =='Right'){
                            n = n + 1;
                        }
                    }           
                });
            }   
        });
        if(n > 0){
            alert("添加成功！");
        }
        else{
          alert("添加错误！");
        }

      location.reload();
    });

    //移除知识库
    $("#remove_kd").click(function() {
        n = 0;
        $("[name='now_user']").each(function(){
                              
            if(this.checked)
            {
                var fa = $(this).parent();
                var ne = $(fa).prev().prev().prev().prev().prev().prev().prev().prev();
                var f_id = $(ne).html();
                $.ajax({   
                    type:"POST",  
                    url:"/propagate/remove_kd/",
                    dataType: "json",
                    async:false,
                    data:{f_id : f_id},
                    success: function(data){
                        if( data =='Right'){
                            n = n + 1;
                        }
                    }           
                });
            }   
        });
        if(n > 0){
            alert("移除成功！");
        }
        location.reload();
    });

  $('#select_all_part').click(function(){
      var $this = $(this);
      this.checked = !this.checked;
      $.each($('#single_table_part :checkbox'), function(i, val) {
    if ($(this) != $this)
        this.checked = !this.checked;
      });  
  });
  
  if(( {{data_part[0]['university']}} + {{data_part[1]['homeadmin']}} + {{data_part[2]['abroadadmin']}} + {{data_part[3]['homemedia']}} + {{data_part[4]['abroadmedia']}} + {{data_part[5]['folkorg']}} + {{data_part[6]['politician']}} + {{data_part[7]['mediaworker']}} + {{data_part[8]['activer']}} + {{data_part[9]['mediaworker']}} + {{data_part[10]['grassroot']}} + {{data_part[11]['unknown']}})>0){
    
    display_user_part_field_dist();
  }
  else{
    $("#working_count_second_part").append("舆情领域计算为空");
  }
  

   function display_user_part_field_dist(){
  $('#working_count_second_part').highcharts({
      chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false
      },
      title: {
          text: '舆情领域分布'
      },
      tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage}%</b>',
        percentageDecimals: 1
      },
      plotOptions: {
          pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              dataLabels: {
                  enabled: true,
                  color: '#000000',
                  connectorColor: '#000000',
                  formatter: function() {
                      return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(2) +' %';
                  }
              }
          }
      },
      series: [{
        type: 'pie',
        name: '占比',
        data: [
            ['高校微博',   {{data_part[0]['university']}}],
            ['境内机构',   {{data_part[1]['homeadmin']}}],
            ['境外机构',   {{data_part[2]['abroadadmin']}}],
            ['境内媒体',   {{data_part[3]['homemedia']}}],
            ['境外媒体',   {{data_part[4]['abroadmedia']}}],
            ['民间组织',   {{data_part[5]['folkorg']}}],
            ['律师',   {{data_part[6]['lawyer']}}],
            ['政府官员',   {{data_part[7]['politician']}}],
            ['媒体人士',   {{data_part[8]['mediaworker']}}],
            ['活跃人士',   {{data_part[9]['activer']}}],
            ['草根',   {{data_part[10]['grassroot']}}],
            ['其他',   {{data_part[11]['unknown']}}]
        ]
      }]
    });
  }

  var options = {
      numOfCol: 4,
      offsetX: 8,
      offsetY: 8
  };

  $('#thumbnail_part').BlocksIt(options);

  var currentWidth = 1100;
  $(window).resize(function() {
    var winWidth = $(window).width();
    var conWidth;
    if(winWidth < 660) {
      conWidth = 440;
      col = 2
    } else if(winWidth < 880) {
      conWidth = 660;
      col = 3
    } else if(winWidth < 1100) {
      conWidth = 880;
      col = 4;
    } else {
      conWidth = 1100;
      col = 5;
    }
    
    if(conWidth != currentWidth) {
      currentWidth = conWidth;
      $('#thumbnail_part').width(conWidth);
      $('#thumbnail_part').BlocksIt({
        numOfCol: col,
        offsetX: 8,
        offsetY: 8
      });
    }
  });  

function getRankData_part(countperpage_args, limit_arg){
    var total_page_number;
    $.ajax({
        url: "/propagate/single_rank_part/?page=1&countperpage=" + countperpage_args + "&limit=" + limit_arg + "&mid={{mid}}" ,
        dataType: 'json',   
        type: "GET",
        success: function (data) {
        total_page_number = parseInt(data['pages']);
        var html = "";
        for(var i=0;i < data['news'].length;i += 1){
            user = data['news'][i];
            html += "<tr><td style='text-align:center;display:none;'>" + user['id'] + "</td>";
            html += "<td style='text-align:center'>" + user['name'] + "</td>";
            html += "<td style='text-align:center'>" + user['location'] + "</td>";
            html += "<td style='text-align:center'>" + user['followers_count'] + "</td>";
            html += "<td style='text-align:center'>" + user['bi_followers_count'] + "</td>";
            html += "<td style='text-align:center'>" + user['statuses_count'] + "</td>";
            html += "<td style='text-align:center'>" + user['domain'] + "</td>";
            if(user['status'] == 1){
              html += "<td><i class='icon-ok'></i></td>";
            }
            else{
              html += "<td><i class='icon-remove'></i></td>";
            }
            html += '<td><input id="uid_'+ user['id'] + '" type="checkbox" name="now_user_part"></td></tr>';
        }
        $("#word_table_part").empty();
        $("#word_table_part").append(html);
        $('#page-selection_part').bootpag({
            total: total_page_number,
            maxVisible: 10
        }).on("page", function(event, /* page number here */ num){
        $("#word_table_part").empty();
        $.ajax({
            url: "/propagate/single_rank_part/?page=" + num + "&countperpage=" + countperpage_args + "&limit=" + limit_arg+ "&mid={{mid}}" ,
            dataType: 'json',   
            type: "GET",
            success: function (data) {
            var html = "";
            for(var i=0;i < data['news'].length;i += 1){
                user = data['news'][i];
                            //console.log(user['id'],user['wordsName'],user['seWeight']);
                html += "<tr><td style='text-align:center;display:none;'>" + user['id'] + "</td>";
                html += "<td style='text-align:center'>" + user['name'] + "</td>";
                html += "<td style='text-align:center'>" + user['location'] + "</td>";
                html += "<td style='text-align:center'>" + user['followers_count'] + "</td>";
                html += "<td style='text-align:center'>" + user['bi_followers_count'] + "</td>";
                html += "<td style='text-align:center'>" + user['statuses_count'] + "</td>";
                html += "<td style='text-align:center'>" + user['domain'] + "</td>";
                if(user['status'] == 1){
                  html += "<td><i class='icon-ok'></i></td>";
                }
                else{
                  html += "<td><i class='icon-remove'></i></td>";
                }
                html += '<td><input id="uid_'+ user['id'] + '" type="checkbox" name="now_user_part"></td></tr>';
            }
            $("#word_table_part").append(html);
            }
        });
      });
    }
  });
}

function exportTableToCSV_part($table, filename) {
                
            //  alert(filename);
                  var ta=$("#single_table_part");  
                  var $head = ta.find("thead");
                  var $body = ta.find("tbody");
                  var $r_head = $head.find("tr");
                  var $rows = $body.find("tr");
                  var tmpColDelim = String.fromCharCode(11); // vertical tab character
                  var tmpRowDelim = String.fromCharCode(0); // null character

              // actual delimiter characters for CSV format
                  var colDelim = ",";
                  var rowDelim = "\r\n";

              // Grab text from table into CSV formatted string
                  var c_head = $r_head.find("th");
                  var csv_head = '';
                  for(var count=0;count<c_head.length-1;count++){ 
                      if(count == (c_head.length-2)){
                          csv_head = csv_head + c_head[count].innerHTML + rowDelim;
                        }
                        else{
                          csv_head = csv_head + c_head[count].innerHTML + colDelim;
                        }
                    }
                                      
                csv = $rows.map(function (i, row) {
                  var $row = $(row),
                    $cols = $row.find('td');

                  return $cols.map(function (j, col) {
                      var $col = $(col);
                      if($col.find('i').length == 1){
                          var pic = $col.find('i');                        
                          if(pic.attr('class') == "icon-ok"){
                              var text = '是';
                          }
                          else{
                              var text = '否';
                          }
                      }
                      else{
                          var text = $col.text();
                      }
                      return text.replace('"', '"'); // escape double quotes                                                                 

                  }).get().join(tmpColDelim);

              }).get().join(tmpRowDelim).split(tmpRowDelim).join(rowDelim).split(tmpColDelim).join(colDelim);              

              csv = csv_head + csv;

              // Data URI
              csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

            $(this)
                .attr({
                  'download': filename,
                    'href': csvData,
                    'target': '_blank'
              });
        }


        $("a[id='out_part']").on('click', function (event) {
          exportTableToCSV_part.apply(this, [$('#dvData>table'), 'Single_Bloggers_part.csv']);
          alert("导出成功！");
        });

  //添加垃圾名单
    $("#add_trash_part").click(function() {
        n = 0;
        $("[name='now_user_part']").each(function(){
                              
            if(this.checked)
            {
                var fa = $(this).parent();
                var ne = $(fa).prev().prev().prev().prev().prev().prev().prev().prev();
                var f_id = $(ne).html();
                $.ajax({   
                    type:"POST",  
                    url:"/propagate/add_trash/",
                    dataType: "json",
                    async:false,
                    data:{f_id : f_id},
                    success: function(data){
                        if( data =='Right'){
                            n = n + 1;
                        }
                    }           
                });
            }   
        });
        if(n > 0){
            alert("添加成功！");
        }
        //location.reload();
    });

    //添加知识库
    $("#add_kd_part").click(function() {
        n = 0;
        $("[name='now_user_part']").each(function(){
                              
            if(this.checked)
            {
                var fa = $(this).parent();
                var ne = $(fa).prev().prev().prev().prev().prev().prev().prev().prev();
                var f_id = $(ne).html();
                var type = showModalDialog("/propagate/page/",f_id,"DialogWidth:300px;dialogHeight=180px;status:no");
                $.ajax({   
                    type:"POST",  
                    url:"/propagate/add_kd/",
                    dataType: "json",
                    async:false,
                    data:{f_id : f_id,type : type},
                    success: function(data){
                        if( data =='Right'){
                            n = n + 1;
                        }
                    }           
                });
            }   
        });
        if(n > 0){
            alert("添加成功！");
        }
        else{
          alert("添加错误！");
        }

      location.reload();
    });

    //移除知识库
    $("#remove_kd_part").click(function() {
        n = 0;
        $("[name='now_user_part']").each(function(){
                              
            if(this.checked)
            {
                var fa = $(this).parent();
                var ne = $(fa).prev().prev().prev().prev().prev().prev().prev().prev();
                var f_id = $(ne).html();
                $.ajax({   
                    type:"POST",  
                    url:"/propagate/remove_kd/",
                    dataType: "json",
                    async:false,
                    data:{f_id : f_id},
                    success: function(data){
                        if( data =='Right'){
                            n = n + 1;
                        }
                    }           
                });
            }   
        });
        if(n > 0){
            alert("移除成功！");
        }
        location.reload();
    });
</script>
{% endblock script %}