<style>
  #count_chart_first {
    float:left;
    height: 500px;
    width: 49%;
  }
  #count_chart_second {
    float:right;
    height: 500px;
    width: 49%;
  }
</style>
<div class="container">
	<div id="count_chart_first"></div>
  <div id="count_chart_second"></div>
</div>
<script>
  var len = $('script').filter(function () {
    return ($(this).attr('src') == '/static/js/highstock.js');
  }).length;

  if(len == 0){
    loadScript('/static/js/highstock.js');
    loadScript('/static/js/exporting.js');
  }

  function loadScript(scriptLocationAndName) {
    var head = document.getElementsByTagName('head')[0];
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = scriptLocationAndName;
    head.appendChild(script);
  }

  var request_data_dict = {'mid': '{{mid}}'};
  $.ajax({
	   url:"/propagate/single_ajax_trend/",
	   dataType:"json",
	   data: request_data_dict,
	   type:"POST",
    	success:function(data){
        console.log('here1');
        console.log(data);
    		display_trend_chart_first(data);
        display_trend_chart_second(data);
    	}
  });
  function display_trend_chart_first(data){
  	$('#count_chart_first').highcharts('StockChart', {
 
      rangeSelector : {
        selected : 1
      },

      title : {
        text : '全树传播趋势'
      },
      
      series : [{
        name : '微博数量',
        data : data['perday_blog_count'],
        tooltip: {
          valueDecimals: 2
        }
      }]
    });
  }
  function display_trend_chart_second(data){
    $('#count_chart_second').highcharts('StockChart', {
 
      rangeSelector : {
        selected : 1
      },

      title : {
        text : '子树传播趋势'
      },
      
      series : [{
        name : '微博数量',
        data : data['perday_blog_count_part'],
        tooltip: {
          valueDecimals: 2
        }
      }]
    });
  }
</script>