<style>
  .descriptions {
  font-family: "Trebuchet MS", Helvetica, Arial;
  }
  .block {
  padding: 15px;
  background: #fff;
  margin-bottom: 10px;
  line-height: 1.7;
  box-shadow: 0 1px 3px rgba(34,25,25,0.4);
  -moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
  transition: box-shadow 1s;
  -moz-transition: -moz-box-shadow 1s;
  -webkit-transition: -webkit-box-shadow 1s;
  }
  #thumbnail{
  position: relative;
  width:1200px;
  height: 700px;
  margin:0 auto auto 0;
  padding-bottom: 10px;
  }
  .grid{
  width:188px;
  min-height:100px;
  padding: 15px;
  background:#fff;
  margin:8px;
  font-size:12px;
  float:left;
  box-shadow: 0 1px 3px rgba(34,25,25,0.4);
  -moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
  -webkit-transition: top 1s ease, left 1s ease;
  -moz-transition: top 1s ease, left 1s ease;
  -o-transition: top 1s ease, left 1s ease;
  -ms-transition: top 1s ease, left 1s ease;
  }
  strong {
  border-bottom:1px solid #ccc;
  margin:10px 0;
  display:block;
  padding:0 0 5px;
  font-size:17px;
  }
  .meta{
  text-align:right;
  color:#777;
  font-style:italic;
  }
  .imgholder img{
  max-width:100%;
  background:#ccc;
  display:block;
  }
</style>
<div id="working_count" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<div class="well">
  <legend>次级传播用户</legend>
  <div>
    <p>
      <a class="btn btn-small btn-success" href="#" id="out"><i class="icon-download-alt"></i> 导出</a>
    </p>
  </div>
  <div>
    <table class="table table-bordered" id="topic_table">
      <thead>
        <tr>
          <th>博主ID</th>
          <th>博主昵称</th>
          <th>博主地域</th>
          <th>粉丝数</th>
          <th>关注数</th>
          <th>关联级别</th>
          <th>敏感状态</th>
        </tr>
      </thead>
      <div id="users_area">
        <tbody id="word_table">
        </tbody>
      </div>
    </table>
    <div id="page-selection" class="pagination pagination-centered"></div>
    <script src="/static/js/profile/jquery.bootpag.min.js"></script>
  </div>
</div>
<div class = "span12" >
  <legend>关键传播用户</legend>
  <div id="thumbnail">
    {% for u in topic_key_user_list %}
      <div class="grid">
        <div id="imgholder"><img type="image/jpg" src="{{ u.profile_image_url }}" media="screen"></div>
        <strong>{{ u.name }}</strong>
        <p>微博数：{{ u.statuses_count }}</p>
        <p>关注数：{{ u.bi_followers_count }}</p>
        <p>粉丝数：{{ u.followers_count }}</p>
        <p>个人描述：{{ u.description }}</p>
        <div class="meta">{{u.url}}</div>
      </div>
    {% endfor %}
  </div>
  <div id="loader">
      <div id="loaderCircle" style="display: none;"></div>
  </div>
</div>

<script src="/static/js/profile/bootstrap.min.js"></script>
<script src="/static/js/profile/jquery.bootpag.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/propagate/jquery.wookmark.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/propagate/blocksit.min.js') }}"></script>
<script>
  display_user_field_dist();

  function display_user_field_dist(){
    $('#working_count').highcharts({
      chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false
      },
      title: {
          text: '用户领域分布'
      },
      tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage}%</b>',
        percentageDecimals: 1
      },
      plotOptions: {
          pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              dataLabels: {
                  enabled: true,
                  color: '#000000',
                  connectorColor: '#000000',
                  formatter: function() {
                      return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
                  }
              }
          }
      },
      series: [{
        type: 'pie',
        name: '占比',
        data: [
            ['财经',   {{data[0]['finance']}}],
            ['媒体',   {{data[1]['media_domain']}}],
            ['文化',   {{data[2]['culture']}}],
            ['科技',   {{data[3]['technology']}}],
            ['娱乐',   {{data[4]['entertainment']}}],
            ['教育',   {{data[5]['education']}}],
            ['时尚',   {{data[6]['fashion']}}],
            ['体育',   {{data[7]['sports']}}],
            ['其他',   {{data[8]['unknown']}}]
        ]
      }]
    });
  }

  var options = {
      numOfCol: 8,
      offsetX: 8,
      offsetY: 8
  };

  $('#thumbnail').BlocksIt(options);

//window resize
  var currentWidth = 1100;
  $(window).resize(function() {
    var winWidth = $(window).width();
    var conWidth;
    if(winWidth < 660) {
      conWidth = 440;
      col = 2
    } else if(winWidth < 880) {
      conWidth = 660;
      col = 3
    } else if(winWidth < 1100) {
      conWidth = 880;
      col = 4;
    } else {
      conWidth = 1100;
      col = 5;
    }
    
    if(conWidth != currentWidth) {
      currentWidth = conWidth;
      $('#thumbnail').width(conWidth);
      $('#thumbnail').BlocksIt({
        numOfCol: col,
        offsetX: 8,
        offsetY: 8
      });
    }
  });  

var countperpage_args = 10;
var limit_arg = 1000000;
//var topic_key_user_list = '{{topic_key_user_list}}';

function getRankData(countperpage_args, limit_arg){
    var total_page_number;
    
    $.ajax({
        url: "/propagate/topic_rank/?page=1&countperpage=" + countperpage_args + "&limit=" + limit_arg + "&keyword={{keyword}}&beg_time={{beg_time}}&end_time={{end_time}}&keyuser={{keyuser}}",
        dataType: 'json',   
        type: "GET",
        success: function (data) {
          total_page_number = parseInt(data['pages']);
          var html = "";
          for(var i=0;i < data['news'].length;i += 1){
            user = data['news'][i];
            html += "<tr><td style='text-align:center'>" + user['id'] + "</td>";
            html += "<td style='text-align:center'>" + user['name'] + "</td>";
            html += "<td style='text-align:center'>" + user['location'] + "</td>";
            html += "<td style='text-align:center'>" + user['followers_count'] + "</td>";
            html += "<td style='text-align:center'>" + user['bi_followers_count'] + "</td>";
            html += "<td>二级</td>";
            html += "<td><i class='icon-ok'></i></td>";
          }
          $("#word_table").empty();
          $("#word_table").append(html);
          $('#page-selection').bootpag({
              total: total_page_number,
              maxVisible: 10
          }).on("page", function(event, /* page number here */ num){
            $("#word_table").empty();
        $.ajax({
            url: "/propagate/topic_rank/?page=" + num + "&countperpage=" + countperpage_args + "&limit=" + limit_arg+ "&keyword={{keyword}}&beg_time={{beg_time}}&end_time={{end_time}}&keyuser={{keyuser}}",
            dataType: 'json',   
            type: "GET",
            success: function (data) {
              var html = "";
              //var user_list = topic_key_user_list[data['start']:data['end']];
              for(var i=0;i < data['news'].length;i += 1){
                  user = data['news'][i];
                  html += "<tr><td style='text-align:center'>" + user['id'] + "</td>";
                  html += "<td style='text-align:center'>" + user['name'] + "</td>";
                  html += "<td style='text-align:center'>" + user['location'] + "</td>";
                  html += "<td style='text-align:center'>" + user['followers_count'] + "</td>";
                  html += "<td style='text-align:center'>" + user['bi_followers_count'] + "</td>";
                  html += "<td>二级</td>";
                  html += "<td><i class='icon-ok'></i></td>";
              }
              $("#word_table").append(html);
            }
        });
      });
    }
  });
}
$(document).ready(function(){
    getRankData(countperpage_args, limit_arg);
})

function exportTableToCSV($table, filename) {
                
            //  alert(filename);
                  var ta=$("#topic_table");  
                  var $head = ta.find("thead");
                  var $body = ta.find("tbody");
                  var $r_head = $head.find("tr");
                  var $rows = $body.find("tr");
                  var tmpColDelim = String.fromCharCode(11); // vertical tab character
                  var tmpRowDelim = String.fromCharCode(0); // null character

              // actual delimiter characters for CSV format
                  var colDelim = ",";
                  var rowDelim = "\r\n";

              // Grab text from table into CSV formatted string
                  var c_head = $r_head.find("th");
                  var csv_head = '';
                  for(var count=0;count<c_head.length;count++){ 
                      if(count == (c_head.length-1)){
                          csv_head = csv_head + c_head[count].innerHTML + rowDelim;
                        }
                        else{
                          csv_head = csv_head + c_head[count].innerHTML + colDelim;
                        }
                    }
                                      
                csv = $rows.map(function (i, row) {
                  var $row = $(row),
                    $cols = $row.find('td');

                  return $cols.map(function (j, col) {
                      var $col = $(col);
                      if($col.find('i').length == 1){
                          var pic = $col.find('i');                        
                          if(pic.attr('class') == "icon-ok"){
                              var text = '是';
                          }
                          else{
                              var text = '否';
                          }
                      }
                      else{
                          var text = $col.text();
                      }
                      return text.replace('"', '"'); // escape double quotes                                                                 

                  }).get().join(tmpColDelim);

              }).get().join(tmpRowDelim).split(tmpRowDelim).join(rowDelim).split(tmpColDelim).join(colDelim);              

              csv = csv_head + csv;

              // Data URI
              csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

            $(this)
                .attr({
                  'download': filename,
                    'href': csvData,
                    'target': '_blank'
              });
        }


        $("a[id='out']").on('click', function (event) {
          exportTableToCSV.apply(this, [$('#dvData>table'), 'Topic_Bloggers.csv']);
          alert("导出成功！");
        });
</script>