<link href="{{ url_for('static', filename='css/propagate/microblog.css') }}" rel="stylesheet">
<style>
  .WB_feed_datail, .WB_feed_type {
    width: 1000px;
  }
  .WB_info, .WB_text, .WB_detail {
    width: 950px;
  }
</style>
<div class="well">
{% for status in blog_rel_list %}
  <div class="WB_feed_type SW_fun  S_line2">
    <div class="WB_feed_datail S_line2 clearfix">
      <div class="WB_face">
      <a class="W_face_radius"><img alt="" width="50" height="50" src="{{ status['user']['profile_image_url'] }}"></a>
      </div>
    <div class="WB_detail">
      <div class="WB_info"><a class="WB_name S_func1"> {{ status['user']['name'] }} </a>
      </div>
      <div class="WB_text" node-type="feed_list_content">{{ status['status']['text'] }}</div>
    <div class="WB_func clearfix">
      <div class="WB_handle">
        <a><em class="W_ico20 icon_praised_b"></em>赞:{{ status['status']['attitudes_count'] }}</a><i class="S_txt3">|</i>
        <a>转发:{{ status['status']['reposts_count'] }}</a><i class="S_txt3">|</i>
        <a>收藏:{{ status['status']['favourite_count'] }}</a><i class="S_txt3">|</i>
        <a>评论:{{ status['status']['comments_count'] }}</a><i class="S_txt3">|</i>
        <a href="/propagate/showresult_single/{{ status['status']['_id'] }}/" style="color:#FF8000;">分析</a><i class="S_txt3">|</i>
        <a href="/propagate/add_material/{{ status['status']['_id'] }}/" style="color:red;">导入素材库</a>
      </div>
      <div class="WB_from">
        <a class="S_link2 WB_time" >{{ status['status']['created_at'] }}</a> 
        <em class="S_txt2">来自</em><a class="S_link2" >{{ status['status']['source'] }}</a>                           
      </div>
    </div>
    <div node-type="feed_list_repeat" class="WB_media_expand repeat S_line1 S_bg4" style="display:none;"></div>
    </div>
    </div>
  </div>
{% endfor %}
</div>