{% extends "master.html" %}
{% block module_title %}网民画像与领域特征{% endblock %}
{% block navbar %}
<!-- 导航栏 -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/login"><strong><font size="+2">原型系统</font></strong></a>
    <a class="brand"><small><font size="+1"> > </font></small></a>
      <a class="brand" href="/profile/"><small><font size="+1">网民画像与领域特征</font></small></a>
      <form class="navbar-search pull-left" action='/profile/search/person'>
                <input type="text" name='nickname' class="search-query" placeholder="按博主昵称搜索">
      </form>
    </div>
  </div>
</div>
{% endblock %}
<font face="字体名称" size="字体大小" color="字体颜色">被设置的字体格式的内容</font>