{% extends "profile/base.html" %}
{% block title %}主页{% endblock %}
{% block content %}
<head>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/datarangepiker.css') }}">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/datepicker.css') }}">
</head>
<body>
<div class="container">
  <div class="well">
    <legend><strong>领域特征</strong></legend>
    <form id="profile_group" action="/profile/group/" class="form-inline" method="GET">
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>领域:</b></font>
      <div class="btn-group">
        <a id="area_rank_method_choosen" class="btn dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
        财经<span class="caret"></span></a>
          <ul id="area_rank_method_dropdown_menu" class="dropdown-menu">
            <li><a href="#" onClick="choose_field('area', 'finance');" data-toggle="tab">财经</a></li>
            <li><a href="#" onClick="choose_field('area', 'fashion');" data-toggle="tab">时尚</a></li>
            <li><a href="#" onClick="choose_field('area', 'entertainment');" data-toggle="tab">娱乐</a></li>
            <li><a href="#" onClick="choose_field('area', 'media');" data-toggle="tab">媒体</a></li>
            <li><a href="#" onClick="choose_field('area', 'sports');" data-toggle="tab">体育</a></li>
            <li><a href="#" onClick="choose_field('area', 'culture');" data-toggle="tab">文化</a></li>
            <li><a href="#" onClick="choose_field('area', 'education');" data-toggle="tab">教育</a></li>
            <li><a href="#" onClick="choose_field('area', 'technology');" data-toggle="tab">科技</a></li>
            <li><a href="#" onClick="choose_field('area', 'oversea');" data-toggle="tab">境外</a></li>
            <li><a href="#" onClick="choose_field('area', 'university');" data-toggle="tab">高校微博</a></li>
            <li><a href="#" onClick="choose_field('area', 'homeadmin');" data-toggle="tab">境内机构</a></li>
            <li><a href="#" onClick="choose_field('area', 'abroadadmin');" data-toggle="tab">境外机构</a></li>
            <li><a href="#" onClick="choose_field('area', 'homemedia');" data-toggle="tab">境内媒体</a></li>
            <li><a href="#" onClick="choose_field('area', 'abroadmedia');" data-toggle="tab">境外媒体</a></li>
            <li><a href="#" onClick="choose_field('area', 'folkorg');" data-toggle="tab">民间组织</a></li>
            <li><a href="#" onClick="choose_field('area', 'lawyer');" data-toggle="tab">律师</a></li>
            <li><a href="#" onClick="choose_field('area', 'politician');" data-toggle="tab">政府官员</a></li>
            <li><a href="#" onClick="choose_field('area', 'mediaworker');" data-toggle="tab">媒体人士</a></li>
            <li><a href="#" onClick="choose_field('area', 'activer');" data-toggle="tab">活跃人士</a></li>
            <li><a href="#" onClick="choose_field('area', 'grassroot');" data-toggle="tab">草根</a></li>
            <li><a href="#" onClick="choose_field('area', 'other');" data-toggle="tab">其它</a></li>
          </ul>
      </div>
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>&nbsp&nbsp&nbsp时间范围:</b></font>
      <div id="field_window_size_choosen" class="btn dropdown-toggle" href="#">
        <i class="icon-calendar icon-large"></i>
        <span id="field_date">9月 1日,2013 - 9月 5日,2013</span> 
        <b class="caret"></b>
      </div> 
      <input id="topic_hidden" type="hidden" name="fieldEnName" value="finance">
      <input id="during_time" type="hidden" name="during_time" value="9月 1日,2013 - 9月 5日,2013">
      &nbsp&nbsp&nbsp
      <input type="submit" class="btn btn-primary" onclick="gettime()" value="分析">
    </form>
  </div>
  <div class="well">
    <legend><strong>博主特征</strong></legend>
    <form id="profile_search" action="/profile/search/find" class="form-inline" method="GET">
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>微博数:</b></font>
      <div class="btn-group">
        <a  id="statuses_count_window_size_choosen" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          0-200万<span class="caret"></span></a>
        <ul id="statuses_count_window_size_dropdown_menu" class="dropdown-menu">
          <li><a href="#" onclick="choose_statuses_count('statuses_count', 200);" data-toggle="tab">0-200万</a></li>
                <li><a href="#" onclick="choose_statuses_count('statuses_count', 400);" data-toggle="tab">200-400万</a></li>
                <li><a href="#" onclick="choose_statuses_count('statuses_count', 600);" data-toggle="tab">400-600万</a></li>
                <li><a href="#" onclick="choose_statuses_count('statuses_count', 800);" data-toggle="tab">600-800万</a></li>
                <li><a href="#" onclick="choose_statuses_count('statuses_count', 1000);" data-toggle="tab">800-1000万</a></li>
                <li><a href="#" onclick="choose_statuses_count('statuses_count', 1200);" data-toggle="tab">1000-1200万</a></li>
                <li><a href="#" onclick="choose_statuses_count('statuses_count', 1400);" data-toggle="tab">1200-1400万</a></li>
                <li><a href="#" onclick="choose_statuses_count('statuses_count', 1600);" data-toggle="tab">1400-1600万</a></li>
                <li><a href="#" onclick="choose_statuses_count('statuses_count', 1800);" data-toggle="tab">1600-1800万</a></li>
                <li><a href="#" onclick="choose_statuses_count('statuses_count', 2000);" data-toggle="tab">1800-2000万</a></li>
        </ul>
      </div>
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>&nbsp&nbsp&nbsp粉丝数:</b></font>
      <div class="btn-group">
        <a  id="followers_count_window_size_choosen" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        0-600万<span class="caret"></span></a>
        <ul id="followers_count_window_size_dropdown_menu" class="dropdown-menu">
          <li><a href="#" onclick="choose_followers_count('followers_count', 600);" data-toggle="tab">0-600万</a></li>
                <li><a href="#" onclick="choose_followers_count('followers_count', 1200);" data-toggle="tab">600-1200万</a></li>
                <li><a href="#" onclick="choose_followers_count('followers_count', 1800);" data-toggle="tab">1200-1800万</a></li>
                <li><a href="#" onclick="choose_followers_count('followers_count', 2400);" data-toggle="tab">1800-2400万</a></li>
                <li><a href="#" onclick="choose_followers_count('followers_count', 3000);" data-toggle="tab">2400-3000万</a></li>
                <li><a href="#" onclick="choose_followers_count('followers_count', 3600);" data-toggle="tab">3000-3600万</a></li>
                <li><a href="#" onclick="choose_followers_count('followers_count', 4200);" data-toggle="tab">3600-4200万</a></li>
                <li><a href="#" onclick="choose_followers_count('followers_count', 4800);" data-toggle="tab">4200-4800万</a></li>
                <li><a href="#" onclick="choose_followers_count('followers_count', 5400);" data-toggle="tab">4800-5400万</a></li>
                <li><a href="#" onclick="choose_followers_count('followers_count', 6000);" data-toggle="tab">5400-6000万</a></li>
        </ul>
      </div>
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>&nbsp&nbsp&nbsp关注数:</b></font>
      <div class="btn-group">
        <a  id="friends_count_window_size_choosen" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          0-400<span class="caret"></span></a>
        <ul id="friends_count_window_size_dropdown_menu" class="dropdown-menu">
          <li><a href="#" onclick="choose_friends_count('friends_count', 400);" data-toggle="tab">0-400</a></li>
                <li><a href="#" onclick="choose_friends_count('friends_count', 800);" data-toggle="tab">400-800</a></li>
                <li><a href="#" onclick="choose_friends_count('friends_count', 1200);" data-toggle="tab">800-1200</a></li>
                <li><a href="#" onclick="choose_friends_count('friends_count', 1600);" data-toggle="tab">1200-1600</a></li>
                <li><a href="#" onclick="choose_friends_count('friends_count', 2000);" data-toggle="tab">1600-2000</a></li>
                <li><a href="#" onclick="choose_friends_count('friends_count', 2400);" data-toggle="tab">2000-2400</a></li>
                <li><a href="#" onclick="choose_friends_count('friends_count', 2800);" data-toggle="tab">2400-2800</a></li>
                <li><a href="#" onclick="choose_friends_count('friends_count', 3200);" data-toggle="tab">2800-3200</a></li>
                <li><a href="#" onclick="choose_friends_count('friends_count', 3600);" data-toggle="tab">3200-3600</a></li>
                <li><a href="#" onclick="choose_friends_count('friends_count', 4000);" data-toggle="tab">3600-4000</a></li>
        </ul>
      </div>
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>&nbsp&nbsp&nbsp排序标准:</b></font>
      <div class="btn-group">
        <a  id="rankcount_rank_method_choosen" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          粉丝数<span class="caret"></span></a>
        <ul id="rankcount_rank_method_dropdown_menu" class="dropdown-menu">
          <li><a href="#" onclick="choose_rankcount('rankcount', 'followers_count');" data-toggle="tab">粉丝数</a></li>
                <li><a href="#" onclick="choose_rankcount('rankcount', 'friends_count');" data-toggle="tab">关注数</a></li>
                <li><a href="#" onclick="choose_rankcount('rankcount', 'statuses_count');" data-toggle="tab">微博数</a></li>
                <li><a href="#" onclick="choose_rankcount('rankcount', 'created_at');" data-toggle="tab">注册时间</a></li>
        </ul>
      </div>
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>&nbsp&nbsp&nbsp前</b></font>
      <div class="btn dropdown-toggle" style="position:relative;">
        <span style="position:relative;margin-left:100px;width:18px;overflow:hidden;">
        <select name="search_top_n" style="width:110px;margin-left:-100px" onchange="this.parentNode.nextSibling.value=this.value">
          <option value="100"> 100 </option>
          <option value="300"> 300 </option>
          <option value="500"> 500 </option>
        </select></span><input name="search_top_n" style="width:75px;position:absolute;left:15px;overflow:hidden;" value="100" class="span1">
      </div>
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>条结果</b></font>  
      <input id="statuses_count_window_size" type="hidden" name="statuses_count_upBound" value="200">
      <input id="followers_count_window_size" type="hidden" name="followers_count_upBound" value="600">
      <input id="friends_count_window_size" type="hidden" name="friends_count_upBound" value="400">
      <input id="rankcount_rank_method" type="hidden" name="rankcount" value="followers_count">
      <input id="topic_keywords" name="province_str" type="hidden" >
      &nbsp&nbsp&nbsp
      <input type="submit" class="btn btn-primary" onclick="choose_province()" value="分析">
    </form>
    <ul id="TopicTab" class="nav nav-tabs">
      <li class="active"><a href="#area_5" data-toggle="tab">东部地区</a></li>
      <li><a href="#area_6" data-toggle="tab">中部地区</a></li>
      <li><a href="#area_7" data-toggle="tab">西部地区</a></li>
      <li><a href="#area_8" data-toggle="tab">其他地区</a></li>
    </ul>
    <div id="LocationTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="area_5">
        <ul class="inline">
                <li>
                  <input type="checkbox" name="eastprovince" value="" onclick="if(this.checked==true) {checkAll('eastprovince'); } else {clearAll('eastprovince'); }">全选
                </li>
                <li>
                  <input type="checkbox" name="eastprovince" id="box1" value="北京"> 北京
                </li>
                <li>
                  <input type="checkbox" name="eastprovince" id="box2" value="天津"> 天津
                </li>
                <li>
                  <input type="checkbox" name="eastprovince" id="box3" value="河北"> 河北
                </li>
                <li>
                  <input type="checkbox" name="eastprovince" id="box4" value="辽宁"> 辽宁
                </li>
                <li>
                  <input type="checkbox" name="eastprovince" id="box5" value="上海"> 上海
                </li>
                <li>
                  <input type="checkbox" name="eastprovince" id="box6" value="江苏"> 江苏
                </li>
                <li>
                  <input type="checkbox" name="eastprovince" id="box7" value="浙江"> 浙江
                </li>
                <li>
                  <input type="checkbox" name="eastprovince" id="box8" value="福建"> 福建
                </li>
                <li>
                  <input type="checkbox" name="eastprovince" id="box9" value="山东"> 山东
                </li>
                <li>
                  <input type="checkbox" name="eastprovince" id="box10" value="广东"> 广东
                </li>
                <li>
                  <input type="checkbox" name="eastprovince" id="box11" value="广西"> 广西
                </li>
                <li>
                  <input type="checkbox" name="eastprovince" id="box12" value="海南"> 海南
                </li>
        </ul>
      </div>
      <div class="tab-pane fade" id="area_6">
        <ul class="inline">
                <li>
                  <input type="checkbox" name="midprovince" value="" onclick="if(this.checked==true) {checkAll('midprovince'); } else {clearAll('midprovince'); }">全选
                </li>
                <li>
                  <input type="checkbox" name="midprovince" id="box13" value="山西"> 山西
                </li>
                <li>
                  <input type="checkbox" name="midprovince" id="box14" value="内蒙古"> 内蒙古
                </li>
                <li>
                  <input type="checkbox" name="midprovince" id="box15" value="吉林"> 吉林
                </li>
                <li>
                  <input type="checkbox" name="midprovince" id="box16" value="黑龙江"> 黑龙江
                </li>
                <li>
                  <input type="checkbox" name="midprovince" id="box17" value="安徽"> 安徽
                </li>
                <li>
                  <input type="checkbox" name="midprovince" id="box18" value="江西"> 江西
                </li>
                <li>
                  <input type="checkbox" name="midprovince" id="box19" value="河南"> 河南
                </li>
                <li>
                  <input type="checkbox" name="midprovince" id="box20" value="湖北"> 湖北
                </li>
                <li>
                  <input type="checkbox" name="midprovince" id="box21" value="湖南"> 湖南
                </li>
        </ul>
      </div>
      <div class="tab-pane fade" id="area_7">
        <ul class="inline">
                <li>
                  <input type="checkbox" name="westprovince" value="" onclick="if(this.checked==true) {checkAll('westprovince'); } else {clearAll('westprovince'); }">全选
                </li>
                <li>
                  <input type="checkbox" name="westprovince" id="box22" value="四川"> 四川
                </li>
                <li>
                  <input type="checkbox" name="westprovince" id="box23" value="贵州"> 贵州
                </li>
                <li>
                  <input type="checkbox" name="westprovince" id="box24" value="云南"> 云南
                </li>
                <li>
                  <input type="checkbox" name="westprovince" id="box25" value="西藏"> 西藏
                </li>
                <li>
                  <input type="checkbox" name="westprovince" id="box26" value="陕西"> 陕西
                </li>
                <li>
                  <input type="checkbox" name="westprovince" id="box27" value="甘肃"> 甘肃
                </li>
                <li>
                  <input type="checkbox" name="westprovince" id="box28" value="宁夏"> 宁夏
                </li>
                <li>
                  <input type="checkbox" name="westprovince" id="box29" value="青海"> 青海
                </li>
                <li>
                  <input type="checkbox" name="westprovince" id="box30" value="新疆"> 新疆
                </li>
                <li>
                  <input type="checkbox" name="westprovince" id="box31" value="重庆"> 重庆
                </li>
        </ul>
      </div> 
      <div class="tab-pane fade" id="area_8">
        <ul class="inline">
                <li>
                  <input type="checkbox" name="otherprovince" value="" onclick="if(this.checked==true) {checkAll('otherprovince'); } else {clearAll('otherprovince'); }">全选
                </li>
                <li>
                  <input type="checkbox" name="otherprovince" id="box32" value="香港"> 香港
                </li>  
                <li>
                  <input type="checkbox" name="otherprovince" id="box33" value="澳门"> 澳门
                </li>
                <li>
                  <input type="checkbox" name="otherprovince" id="box34" value="台湾"> 台湾
                </li>
                <li>
                  <input type="checkbox" name="otherprovince" id="box35" value="海外"> 海外
                </li>
        </ul>  
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename='js/profile/choose.js') }}"></script>
  <script src="{{ url_for('static', filename='js/identify/topic_selector.js') }}"></script>
  <script src="{{ url_for('static', filename='js/identify/moment.js') }}"></script>
  <script src="{{ url_for('static', filename='js/identify/datarangepiker.js') }}"></script>
  <script src="{{ url_for('static', filename='js/identify/bootstrap-datepicker.js') }}"></script>
  <script>
  function choose_province()
  {
    var el = document.getElementsByTagName("input");
    var len = el.length;
    var chestr="";
    for(var i=0; i<len; i++)
    {
        if ((el[i].type=="checkbox") && (el[i].checked==true) && (el[i].value!=""))
        {
            chestr+=el[i].value+",";
        }
    }
    if(chestr == ""){
      $('#topic_keywords').val("北京,天津,河北,辽宁,上海,江苏,浙江,福建,山东,广东,广西,海南,山西,内蒙古,吉林,黑龙江,安徽,江西,河南,湖北,湖南,四川,贵州,云南,西藏,陕西,甘肃,宁夏,青海,新疆,重庆,香港,台湾,澳门");
    }
    else{
      $('#topic_keywords').val(chestr);
    }
  }
  function checkAll(name)
  {
    var el = document.getElementsByTagName("input");
    var len = el.length;
    for(var i=0; i<len; i++)
    {
        if((el[i].type=="checkbox") && (el[i].name==name))
        {
            el[i].checked = true;
        }
    }
  }
  function clearAll(name)
  {
    var el = document.getElementsByTagName("input");
    var len = el.length;
    for(var i=0; i<len; i++)
    {
        if((el[i].type=="checkbox") && (el[i].name==name))
        {
            el[i].checked = false;
        }
    }
  }
  function gettime()
  {
    var field_time = $('#field_date').html();
    document.getElementById('during_time').value = field_time;
  }
  $(document).ready(function() {
    var field_time = $('#field_date').html();
    document.getElementById('during_time').value = field_time;
    $('#field_window_size_choosen').daterangepicker({
      ranges: {
         '1天': [moment(), moment()],
         '1周': [moment().subtract('days', 6), moment()],
         '1个月': [moment().startOf('month'), moment().endOf('month')],
         '3个月': [moment().subtract('month', 3).startOf('month'), moment().subtract('month', 3).endOf('month')]
      },
      startDate: moment().subtract('days', 29),
      endDate: moment()
    },  
      function(start, end) {
        $('#field_window_size_choosen span').html(start.format('MMMM D日, YYYY') + ' - ' + end.format('MMMM D日, YYYY'));
      }
    );
  }
  );
</script>
{% endblock %}
