{% extends "profile/base.html" %}
{% block head %}
<style>
  body{
    padding-top: 41px;
  }
  /*returnTop*/
  p#back-to-top{
          position:fixed;
          display:none;
          bottom:100px;
          right:35px;
  }
  p#back-to-top a{
          text-align:center;
          text-decoration:none;
          color:#d1d1d1;
          display:block;
          width:80px;
          /*使用CSS3中的transition属性给跳转链接中的文字添加渐变效果*/
          -moz-transition:color 1s;
          -webkit-transition:color 1s;
          -o-transition:color 1s;
  }
  p#back-to-top a:hover{
          color:#979797;
  }
  p#back-to-top a span{
          background:transparent url({{url_for('static', filename='img/backtotop.gif')}}) no-repeat;
          border-radius:6px;
          display:block;
          height:45px;
          width:35px;
          margin:0 auto 5px auto;
          
          /*使用CSS3中的transition属性给<span>标签背景颜色添加渐变效果*/
          -moz-transition:background 1s;
          -webkit-transition:background 1s;
          -o-transition:background 1s;
  }
  #back-to-top a:hover span{
          background:transparent url({{url_for('static', filename='img/backtotop.gif')}}) no-repeat;
  }

  /** page ajax Loader **/
  #loader {
    height: 16px;
    text-align: center;
    padding: 25px 0 25px 0;
  }
    
  #loaderCircle {
    width: 16px;
    height: 16px;
    margin: 0 auto;
    background-image: url({{url_for('static', filename='img/ajax-loader.gif')}});
  }
  /*shadow_nav style*/
  #shadow_nav .wrapper {
      position: relative;
      margin: 0 auto;
      border: 0;
  }
  #shadow_nav .closed {
    padding-bottom: 0;
    height: 0;
  }
  #shadow_nav {
    background: url({{url_for('static', filename='img/profile/subnav_bg.png')}}) 0 0 repeat;
    padding-bottom: 0px;
    box-shadow: insert 0 -3px 5px rgba(0,0,0,.02),0 1px 0 rgba(255,255,255,.9);
    overflow: hidden;
    height: 260px;
    -webkit-transition: height .2s linear;
    
  }
  #shadow_nav .tent {
      background: #fff;
      box-shadow: 0 1px 0 white inset,0 1px 3px rgba(0,0,0,.15);
  }
  #shadow_nav .clearfix::before, #shadow_nav .clearfix::after {
      content: "";
      display: table;
  }
  #shadow_nav .clearfix::after {
    clear: both;
  }

  #shadow_nav .idec-shadow-nav .unit {
    width: 50%;
    float: left;
    height: 122px;
    text-align: center;
  }
  #shadow_nav .idec-shadow-nav .border {
    height: 100px;
    border-right: 1px solid #F2F2F2;
    margin-left: -1px;
    float: left;
  }
  #shadow_nav .idec-shadow-nav .line {
    width: 100%;
    border-top: 1px solid #F2F2F2;
    float: left;
    font-size: 0;
  }

  #shadow_nav .attr{
      height: 99%;
      width: 99%;
  }
  
  #shadow_nav .attr::after,#shadow_nav .attr::before,#shadow_nav .attr ul::after,#shadow_nav .attr ul::before {
    display: table;
    content: "";
    overflow: hidden;
    clear: both;
  }
  #shadow_nav .attrKey {
    padding-top: 9px;
    float: left;
    padding: 7px 0 0 0;
    width: 10%;
    color: #B0A59F;
    text-indent: 0px;
  }
  #shadow_nav .attrKey,#shadow_nav .attrKey a {
    display: block;
    height: 16px;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  #shadow_nav .attrValues {
    padding-top: 6px;
  }
  #shadow_nav .attrValues {
    position: relative;
    float: left;
    background-color: #FFF;
    width: 90%;
    padding: 4px 0 0;
    overflow: hidden;
  }
  #shadow_nav .av-collapse {
    overflow: hidden;
    max-height: 10em;
    margin-bottom: -2px;
    _height: expression(function(el){if(/msie 6/i.test(navigator.userAgent))el.style.height =(el.scrollHeight>60) ? '60px':'auto';}(this));
    }
  #shadow_nav .av-collapse li.active a{
    color: #0088cc;
  }
  #shadow_nav .attrValues ul {
      position: relative;
      margin-right: 0px;
      margin-left: 25px;
    }
  #shadow_nav .attrValues li {
      margin: 0 8px 8px 0;
      float: left;
      height: 22px;
      line-height: 22px;
  }
  #shadow_nav .attrValues li a {
      text-overflow: ellipsis;
      overflow: hidden;
      position: relative;
      color: #806F66;
      display: inline-block;
      padding: 1px 4px 1px 4px;
      line-height: 20px;
      height: 20px;
      white-space: nowrap;
  }
  #shadow_nav .attrValues li a:hover{
      background: #4598D2;
      color: #fff;
  }
  #shadow_nav .attr a {
    outline: none;
    }
  
  #shadow_nav .attr a:link,#shadow_nav a:visited {
      text-decoration: none;
      list-style: none;
  }
  #shadow_nav .attr li{
    display: inline;
  }

  /* panel style*/
  .panel{
    background-color: white;
    width: 236px;
    border: 1px solid #dedede;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: none;
  }

  /*thumbnail grid style*/
  #thumbnail{
    position:relative;
    padding-bottom: 10px;
  }
  #thumbnail .grid{
    width:188px;
    min-height:100px;
    padding: 15px;
    background:#fff;
    margin:8px;
    font-size:12px;
    float:left;
    box-shadow: 0 1px 3px rgba(34,25,25,0.4);
    -moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
    
    -webkit-transition: top 1s ease, left 1s ease;
    -moz-transition: top 1s ease, left 1s ease;
    -o-transition: top 1s ease, left 1s ease;
    -ms-transition: top 1s ease, left 1s ease;
  }
  
  #thumbnail .grid strong {
    border-bottom:1px solid #ccc;
    margin:10px 0;
    display:block;
    padding:0 0 5px;
    font-size:17px;
  }
  #thumbnail .grid .meta{
    text-align:right;
    color:#777;
    font-style:italic;
  }
  #thumbnail .grid .imgholder img{
    max-width:100%;
    background:#ccc;
    display:block;
  }

  #thumbnail .options {
    opacity: 0;
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 15px;
    left: 50%;
    -moz-transition: opacity 0.15s ease-out;
    -o-transition: opacity 0.15s ease-out;
    -webkit-transition: opacity 0.15s ease-out;
    -ms-transition: opacity 0.15s ease-out;
    transition: opacity 0.15s ease-out;
    background-color: white;
    height: 50px;
    width: 50%;
    z-index: 10;
    border-bottom: 1px solid #e8e7e3;
  }
  #thumbnail .options em{
    width: 18px;
    height: 18px;
    display: block;
    margin: 9px auto 1px auto;
  }
  #thumbnail .options span{
    text-align: center;
    width: 100%;
    display: inline-block;
    font-size: 9px;
    color: #0088cc;
    line-height: 9px;
    margin: 2px 0 0 0;
  }
  #thumbnail .options .add {
    border-left: 1px solid #dedede;
  }
  #thumbnail .options .detail, #thumbnail .options .add{
    cursor: pointer;
    position: relative;/*absolute;*/
    float: left;
    top: 0px;
    width: 45%;
    height: 50px;
    -moz-transition: opacity 0.15s ease-out;
    -o-transition: opacity 0.25s ease-out;
    -webkit-transition: opacity 0.25s ease-out;
    -ms-transition: opacity 0.25s ease-out;
    transition: opacity 0.25s ease-out;
  }
  #thumbnail .options a {
    display: block;
    padding-bottom: 8px;
  }

  /* ctx bar */
  #ctx_bar {
    position: relative;
    min-height: 24px;
    margin: 5px 0 15px;
    padding: 10px 0 12px;
    text-shadow: 0 1px rgba(255,255,255,.9);
  }
  #ctx_bar .p {
    margin: 4px 0 0;
    padding: 0;
    font-size: 1.8em;
    line-height: 1em;
    font-weight: 300;
    color: #211922;
    border-width: 0;
  }
  #ctx_bar .p .pin-board-switcher {
    vertical-align: middle;
    margin-left: 20px;
  }
  .pin-board-switcher {
    display: inline-block;
  }
  .pin-board-switcher li.first {
    background-position: 0 -90px;
  }
  .pin-board-switcher li {
    float: left;
    font-size: 15px;
    background: -1px -210px no-repeat;
    border-right: 1px solid #CCC;
    font-weight: 400;
  }
  li {
    list-style: none;
  }
  #ctx_bar .right {
    top: 16px;
  }
  #search_from_sites, #ctx_bar .right {
    position: absolute;
    right: 0;
    top: 10px;
  }
  .btn.disabled {
    background: #F2F2F2;
    border: 1px solid #D9D9D9;
    box-shadow: none;
    color: #BBB;
    text-shadow: none;
    cursor: default;
  }
  #search_from_category, #ctx_bar .self-promote, #ctx_bar .promotion {
    font-size: 14px;
  }
</style>
{% endblock head %}
{% block content %}
    <a name="top"></a>
    <p id="back-to-top"><a href="#top"><span></span>返回顶部</a></p>
    <div class="well">
      <form id="profile_search" action="/profile/search/find" class="form-inline" method="GET">
        微博数:
        <div class="btn-group">
          <a  id="statuses_count_window_size_choosen" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            {%if statusescount_up%}
              {{(statusescount_up-10000) / 10000 }}万-{{statusescount_up  / 10000 }}万<span class="caret"></span></a>
            {% else %}
              0-1万<span class="caret"></span></a>
            {% endif %}
          <ul id="statuses_count_window_size_dropdown_menu" class="dropdown-menu">
            <li><a href="#" onclick="choose_statuses_count('statuses_count', 1);" data-toggle="tab">0-1万</a></li>
                <li><a href="#" onclick="choose_statuses_count('statuses_count', 2);" data-toggle="tab">1-2万</a></li>
                <li><a href="#" onclick="choose_statuses_count('statuses_count', 3);" data-toggle="tab">2-3万</a></li>
                <li><a href="#" onclick="choose_statuses_count('statuses_count', 4);" data-toggle="tab">3-4万</a></li>
                <li><a href="#" onclick="choose_statuses_count('statuses_count', 5);" data-toggle="tab">4-5万</a></li>
                <li><a href="#" onclick="choose_statuses_count('statuses_count', 6);" data-toggle="tab">5-6万</a></li>
                <li><a href="#" onclick="choose_statuses_count('statuses_count', 7);" data-toggle="tab">6-7万</a></li>
                <li><a href="#" onclick="choose_statuses_count('statuses_count', 8);" data-toggle="tab">7-8万</a></li>
                <li><a href="#" onclick="choose_statuses_count('statuses_count', 9);" data-toggle="tab">8-9万</a></li>
                <li><a href="#" onclick="choose_statuses_count('statuses_count', 10);" data-toggle="tab">9-10万</a></li>
          </ul>
        </div>
        粉丝数：
        <div class="btn-group">
          <a  id="followers_count_window_size_choosen" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            {%if followerscount_up%}
              {{(followerscount_up-6000000) / 10000 }}万-{{followerscount_up  / 10000 }}万<span class="caret"></span></a>
            {% else %}
              0-600万<span class="caret"></span></a>
            {% endif %}
          <ul id="followers_count_window_size_dropdown_menu" class="dropdown-menu">
            <li><a href="#" onclick="choose_followers_count('followers_count', 600);" data-toggle="tab">0-600万</a></li>
                  <li><a href="#" onclick="choose_followers_count('followers_count', 1200);" data-toggle="tab">600-1200万</a></li>
                  <li><a href="#" onclick="choose_followers_count('followers_count', 1800);" data-toggle="tab">1200-1800万</a></li>
                  <li><a href="#" onclick="choose_followers_count('followers_count', 2400);" data-toggle="tab">1800-2400万</a></li>
                  <li><a href="#" onclick="choose_followers_count('followers_count', 3000);" data-toggle="tab">2400-3000万</a></li>
                  <li><a href="#" onclick="choose_followers_count('followers_count', 3600);" data-toggle="tab">3000-3600万</a></li>
                  <li><a href="#" onclick="choose_followers_count('followers_count', 4200);" data-toggle="tab">3600-4200万</a></li>
                  <li><a href="#" onclick="choose_followers_count('followers_count', 4800);" data-toggle="tab">4200-4800万</a></li>
          </ul>
        </div>
        关注数：
        <div class="btn-group">
          <a  id="friends_count_window_size_choosen" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            {%if friendscount_up%}
              {{friendscount_up-400}}-{{friendscount_up}}<span class="caret"></span></a>
            {% else %}
              0-400<span class="caret"></span></a>
            {% endif %}
          <ul id="friends_count_window_size_dropdown_menu" class="dropdown-menu">
            <li><a href="#" onclick="choose_friends_count('friends_count', 400);" data-toggle="tab">0-400</a></li>
                  <li><a href="#" onclick="choose_friends_count('friends_count', 800);" data-toggle="tab">400-800</a></li>
                  <li><a href="#" onclick="choose_friends_count('friends_count', 1200);" data-toggle="tab">800-1200</a></li>
                  <li><a href="#" onclick="choose_friends_count('friends_count', 1600);" data-toggle="tab">1200-1600</a></li>
                  <li><a href="#" onclick="choose_friends_count('friends_count', 2000);" data-toggle="tab">1600-2000</a></li>
                  <li><a href="#" onclick="choose_friends_count('friends_count', 2400);" data-toggle="tab">2000-2400</a></li>
                  <li><a href="#" onclick="choose_friends_count('friends_count', 2800);" data-toggle="tab">2400-2800</a></li>
                  <li><a href="#" onclick="choose_friends_count('friends_count', 3200);" data-toggle="tab">2800-3200</a></li>
                  <li><a href="#" onclick="choose_friends_count('friends_count', 3600);" data-toggle="tab">3200-3600</a></li>
                  <li><a href="#" onclick="choose_friends_count('friends_count', 4000);" data-toggle="tab">3600-4000</a></li>
          </ul>
        </div>
        排序标准：
        <div class="btn-group">
          <a  id="rankcount_rank_method_choosen" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            {%if rankcount%}
              {%if rankcount=='followers_count'%}粉丝数{%endif%}
              {%if rankcount=='friends_count'%}关注数{%endif%}
              {%if rankcount=='statuses_count'%}微博数{%endif%}
              {%if rankcount=='created_at'%}注册时间{%endif%}
            {% else %}
              粉丝数
            {%endif%}<span class="caret"></span></a>
          <ul id="rankcount_rank_method_dropdown_menu" class="dropdown-menu">
            <li><a href="#" onclick="choose_rankcount('rankcount', 'followers_count');" data-toggle="tab">粉丝数</a></li>
                  <li><a href="#" onclick="choose_rankcount('rankcount', 'friends_count');" data-toggle="tab">关注数</a></li>
                  <li><a href="#" onclick="choose_rankcount('rankcount', 'statuses_count');" data-toggle="tab">微博数</a></li>
                  <li><a href="#" onclick="choose_rankcount('rankcount', 'created_at');" data-toggle="tab">注册时间</a></li>
          </ul>
        </div>
        前<input name="search_top_n" type="text" value="{%if result_count%}{{result_count}}{%else%}100{%endif%}" class="span1">条结果
        已查询地区<input name="select " type = "text" value = "{%if location%}{{location}}{%endif%}" class = "span2">
        <input id="statuses_count_window_size" type="hidden" name="statuses_count_upBound" value="200">
        <input id="followers_count_window_size" type="hidden" name="followers_count_upBound" value="600">
        <input id="friends_count_window_size" type="hidden" name="friends_count_upBound" value="400">
        <input id="rankcount_rank_method" type="hidden" name="rankcount" value="followers_count">
        <input id="topic_keywords" name="province_str" type="hidden" >
        <input type="submit" class="btn btn-primary" onclick="choose_province()" value="分析">
      </form>
      <ul id="TopicTab" class="nav nav-tabs">
        <li class="active"><a href="#area_5" data-toggle="tab">东部地区</a></li>
        <li><a href="#area_6" data-toggle="tab">中部地区</a></li>
        <li><a href="#area_7" data-toggle="tab">西部地区</a></li>
        <li><a href="#area_8" data-toggle="tab">其他地区</a></li>
      </ul>
      <div id="LocationTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="area_5">
          <ul class="inline">
                <li>
                  <input type="checkbox" name="eastprovince" value="" onclick="if(this.checked==true) {checkAll('eastprovince'); } else {clearAll('eastprovince'); }">全选
                </li>
                <li>
                  <input type="checkbox" name="eastprovince" id="box1" value="北京"> 北京
                </li>
                <li>
                  <input type="checkbox" name="eastprovince" id="box2" value="天津"> 天津
                </li>
                <li>
                  <input type="checkbox" name="eastprovince" id="box3" value="河北"> 河北
                </li>
                <li>
                  <input type="checkbox" name="eastprovince" id="box4" value="辽宁"> 辽宁
                </li>
                <li>
                  <input type="checkbox" name="eastprovince" id="box5" value="上海"> 上海
                </li>
                <li>
                  <input type="checkbox" name="eastprovince" id="box6" value="江苏"> 江苏
                </li>
                <li>
                  <input type="checkbox" name="eastprovince" id="box7" value="浙江"> 浙江
                </li>
                <li>
                  <input type="checkbox" name="eastprovince" id="box8" value="福建"> 福建
                </li>
                <li>
                  <input type="checkbox" name="eastprovince" id="box9" value="山东"> 山东
                </li>
                <li>
                  <input type="checkbox" name="eastprovince" id="box10" value="广东"> 广东
                </li>
                <li>
                  <input type="checkbox" name="eastprovince" id="box11" value="广西"> 广西
                </li>
                <li>
                  <input type="checkbox" name="eastprovince" id="box12" value="海南"> 海南
                </li>
          </ul>
        </div>
        <div class="tab-pane fade" id="area_6">
          <ul class="inline">
                  <li>
                    <input type="checkbox" name="midprovince" value="" onclick="if(this.checked==true) {checkAll('midprovince'); } else {clearAll('midprovince'); }">全选
                  </li>
                  <li>
                    <input type="checkbox" name="midprovince" id="box13" value="山西"> 山西
                  </li>
                  <li>
                    <input type="checkbox" name="midprovince" id="box14" value="内蒙古"> 内蒙古
                  </li>
                  <li>
                    <input type="checkbox" name="midprovince" id="box15" value="吉林"> 吉林
                  </li>
                  <li>
                    <input type="checkbox" name="midprovince" id="box16" value="黑龙江"> 黑龙江
                  </li>
                  <li>
                    <input type="checkbox" name="midprovince" id="box17" value="安徽"> 安徽
                  </li>
                  <li>
                    <input type="checkbox" name="midprovince" id="box18" value="江西"> 江西
                  </li>
                  <li>
                    <input type="checkbox" name="midprovince" id="box19" value="河南"> 河南
                  </li>
                  <li>
                    <input type="checkbox" name="midprovince" id="box20" value="湖北"> 湖北
                  </li>
                  <li>
                    <input type="checkbox" name="midprovince" id="box21" value="湖南"> 湖南
                  </li>
          </ul>
        </div>
        <div class="tab-pane fade" id="area_7">
          <ul class="inline">
                  <li>
                    <input type="checkbox" name="westprovince" value="" onclick="if(this.checked==true) {checkAll('westprovince'); } else {clearAll('westprovince'); }">全选
                  </li>
                  <li>
                    <input type="checkbox" name="westprovince" id="box22" value="四川"> 四川
                  </li>
                  <li>
                    <input type="checkbox" name="westprovince" id="box23" value="贵州"> 贵州
                  </li>
                  <li>
                    <input type="checkbox" name="westprovince" id="box24" value="云南"> 云南
                  </li>
                  <li>
                    <input type="checkbox" name="westprovince" id="box25" value="西藏"> 西藏
                  </li>
                  <li>
                    <input type="checkbox" name="westprovince" id="box26" value="陕西"> 陕西
                  </li>
                  <li>
                    <input type="checkbox" name="westprovince" id="box27" value="甘肃"> 甘肃
                  </li>
                  <li>
                    <input type="checkbox" name="westprovince" id="box28" value="宁夏"> 宁夏
                  </li>
                  <li>
                    <input type="checkbox" name="westprovince" id="box29" value="青海"> 青海
                  </li>
                  <li>
                    <input type="checkbox" name="westprovince" id="box30" value="新疆"> 新疆
                  </li>
                  <li>
                    <input type="checkbox" name="westprovince" id="box31" value="重庆"> 重庆
                  </li>
          </ul>
        </div> 
        <div class="tab-pane fade" id="area_8">
          <ul class="inline">
                  <li>
                    <input type="checkbox" name="otherprovince" value="" onclick="if(this.checked==true) {checkAll('otherprovince'); } else {clearAll('otherprovince'); }">全选
                  </li>
                  <li>
                    <input type="checkbox" name="otherprovince" id="box32" value="香港"> 香港
                  </li>  
                  <li>
                    <input type="checkbox" name="otherprovince" id="box33" value="澳门"> 澳门
                  </li>
                  <li>
                    <input type="checkbox" name="otherprovince" id="box34" value="台湾"> 台湾
                  </li>
                  <li>
                    <input type="checkbox" name="otherprovince" id="box35" value="海外"> 海外
                  </li>
          </ul>  
        </div>
        </div>
      </div>
    </div> 
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2 panel">
          <ul class="nav nav-list">
             <li class="nav-header">精彩内容</li>
              {% if model == 'hotest' %}
                <li class="active"><a href="/profile/search/hotest">热门</a></li>
              {% else %}
                <li><a href="/profile/search/hotest">热门</a></li>
              {% endif %}
              {% if model == 'newest' %}
                <li class="active"><a href="/profile/search/newest">最新</a></li>
              {% else %}
                <li><a href="/profile/search/newest">最新</a></li>
              {% endif %}
            <li class="nav-header">领域</li>
            {% for fielden, fieldzh in field_dict.iteritems() %}
                {% if fielden == model %}
                  <li class="active"><a href="/profile/search/{{ fielden }}">{{ fieldzh }}</a></li>
                {% else %}
                  <li><a href="/profile/search/{{ fielden }}">{{ fieldzh }}</a></li>
                {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="span9">
          <div id="ctx_bar">
            <!--
              <ul class="pin-board-switcher clearfix">
              <li class="first "><a href="/all/" class="pin-link">采集</a></li>
              <li class=""><a href="/boards/favorite/">画板</a></li>
              <li class="last selected"><a href="/users/all/" class="user-link">推荐用户</a></li>
            </ul>-->
            <div class="p">搜索结果
              <span id='results_tips' style="height: 26px;line-height: 26px;font-size: 18px;">
                {% if model == 'hotest' %}
                    全网敏感博主
                {% elif model == 'newest' %}
                    全网新注册博主
                {% elif model in field_dict.keys() %}
                    领域热门博主
                {% elif model == 'person' %}
                    单个博主
                {% elif model == 'find' %}
                    全网博主组合特征过滤
                {% else %}
                {% endif %}
              </span>
              
              <div class="right">
                <a href="#" onclick="return false;" class="self-promote btn wbtn"><strong>
                  {{ time }}
                </strong><span></span></a>
                <a href="#" onclick="return false;" class="self-promote btn wbtn"><strong>
                  {% if model == 'hotest' %}
                    活跃度降序
                  {% elif model == 'newest' %}
                    注册时间降序
                  {% elif model == 'find' %}
                    {{ sort }}
                  {% elif model in field_dict.keys() %}
                    粉丝数降序
                  {% else %}
                    排序标准
                  {% endif %}
                </strong><span></span></a>
              </div>
            </div>
          </div>
          <div id="thumbnail">
            {% if result %}
              {% for user in result %}
                <div class="grid">
                    </div>
                    <div class="imgholder">
                        <a href="/profile/person/{{user.id}}" target="_blank"><img src="{{user.profileImageUrl}}" /></a>
                    </div>
                    <strong>{{user.userName}}</strong>
                    <p>微博数：{{user.statusesCount}}</p>
                    <p>关注数：{{user.friendsCount}}</p>
                    <p>粉丝数：{{user.followersCount}}</p>
                    <p>个人描述：{{user.description}}</p>
                    <div class="meta"><a href="http://weibo.com/u/{{user.id}}" target="_blank">weibo.com/u/{{user.id}}</a></div>
                </div>
              {% endfor %}
            {% endif %}
         </div><!--div thumbnail-->
        <div id="loader">
          <div id="loaderCircle"></div>
        </div>
        </div>
      </div>
    </div>   
{% endblock content %}

{% block script %}
<script type="text/javascript" src="/static/js/profile/jquery.wookmark.js"></script>
<script type="text/javascript" src="/static/js/profile/blocksit.min.js"></script>
<script type="text/javascript" src="/static/js/profile/choose.js"></script>
<script type="text/javascript" src="/static/js/identify/topic_selector.js"></script>
<script>
  var options = {
      numOfCol: 5,
      offsetX: 8,
      offsetY: 8
  };
  
  //blocksit define
  
  $(window).load( function() {
    $('#thumbnail').BlocksIt(options);
  });
  
  //window resize
  var currentWidth = 1100;
  $(window).resize(function() {
    var winWidth = $(window).width();
    var conWidth;
    if(winWidth < 660) {
      conWidth = 440;
      col = 2
    } else if(winWidth < 880) {
      conWidth = 660;
      col = 3
    } else if(winWidth < 1100) {
      conWidth = 880;
      col = 4;
    } else {
      conWidth = 1100;
      col = 5;
    }
    
    if(conWidth != currentWidth) {
      currentWidth = conWidth;
      $('#thumbnail').width(conWidth);
      $('#thumbnail').BlocksIt({
        numOfCol: col,
        offsetX: 8,
        offsetY: 8
      });
    }
  });
  
  // Capture scroll event.
  $(document).bind('scroll', onScroll);
      
  // Load first data from the API.
  
  var handler = null;
  var page = 1;
  var isLoading = true;
  var apiURL = "/profile/search/{{model}}" ;
  var dataparams;
  /**
   * When scrolled all the way to the bottom, add more tiles.
   */
  function onScroll(event) {
    // Only check when we're not still waiting for data.
    if(!isLoading) {
      // Check if we're within 100 pixels of the bottom edge of the broser window.
      var closeToBottom = ($(window).scrollTop() + $(window).height() > $(document).height() - 100);
      if(closeToBottom) {
        loadData();
      }
    }
  };
  
  /**
     * Refreshes the layout.
     */
    function applyLayout() {
      // Clear our previous layout handler.
      //if(handler) handler.wookmarkClear();
      
      // Create a new layout handler.
    
      handler = $('#thumbnail');
      handler.BlocksIt(options);
    };
  
  /**
     * Loads data from the API.
     */
    function loadData() {
      isLoading = true;
      $('#loaderCircle').show();
      {% if model == 'person' %}
        $(document).unbind('scroll');
        dataparams = {page: page, nickname: '{{nickname}}'};
      {% elif  model == 'find' %}  
        dataparams = {result_count: '{{result_count}}',statusescount_up:'{{statusescount_up}}',friendscount_up:'{{friendscount_up}}', followerscount_up:'{{followerscount_up}}',province: '{{location}}',page: page,rankcount:'{{rankcount}}'};
      {% else %}  
        dataparams = {page: page};
      {% endif %}
      $.ajax({
        url: apiURL,
        type: 'POST',
        dataType: 'json',
        data: dataparams, // Page parameter to make sure we load new data
        success: onLoadData
      });
      
    };
    
    /**
     * Receives data from the API, creates HTML for images and updates the layout
     */
    function onLoadData(data) {
      isLoading = false;
      $('#loaderCircle').hide();
      
      // Increment page index for future calls.
      page++;
      
      // Create HTML for the images.
      var html = '';
      var i=0, length=data.length, item;
      if(length == 0){
        $('#results_tips').empty();
        $('#results_tips').append('结果为空');
      }
      for(; i<length; i++) {
        item = data[i];
        html += "<div class=\"grid\">";
        html += "<div class=\"imgholder\"><a href=\"/profile/person/" + item._id + "\" target=\"_blank\"><img src=\"" + item.profile_image_url + "\" /></a></div>";
        html += "<strong>" + item.name + "</strong>";
        html += "<p>微博数：" + item.statuses_count + "</p>";
        html += "<p>关注数：" + item.friends_count + "</p>";
        html += "<p>粉丝数：" + item.followers_count + "</p>";
        if(item.active>=0)
            html += "<p>活跃度：" + item.active + "</p>";
        if(item.important>=0)
            html += "<p>重要度：" + item.important + "</p>";
        html += "<p>性别：" + item.gender + "</p>";
        html += "<p>认证：" + item.verified + "</p>";
        if(item.verified == '是')
            html += "<p>认证类型：" + item.verified_type + "</p>";
        html += "<p>注册地：" + item.location + "</p>";
        html += "<p>注册日期：" + item.created_at + "</p>";
        html += "<p>个人描述：" + item.description + "</p>";
        html += "<div class=\"meta\"><a href=\"http://weibo.com/u/" + item._id + "\" target=\"_blank\">weibo.com/u/" + item._id + "</a></div></div>";
      }
      
      // Add image HTML to the page.
      $('#thumbnail').append(html);
      
      // Apply layout.
      applyLayout();

      refresh_grid();
  }

function refresh_grid(){
  $("#thumbnail > div.grid").each(function(){
    $(this).hover(
      function(){
        $(this).addClass("gridHover").children("div.options").css("opacity", "1");
      },
      function(){
        $(this).removeClass("gridHover").children("div.options").css("opacity", "0");
      });
  });
  $("#thumbnail > div.grid > div.options > div.opt").each(function(){
    $(this).hover(
      function(){
        $(this).css("background-color", "#0088cc");
        $(this).find("span").css("color", "#ffffff");
        $(this).find("i").addClass("icon-white");
      },
      function(){
        $(this).css("background-color", "#ffffff");
        $(this).find("span").css("color", "#0088cc");
        $(this).find("i").removeClass("icon-white");
      });
  });
}

function backToTop(){
  //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失
  $(function () {
    $(window).scroll(function(){
      if ($(window).scrollTop()>100){
        $("#back-to-top").fadeIn(1500);
      }
      else
      {
        $("#back-to-top").fadeOut(1500);
      }
    });

    //当点击跳转链接后，回到页面顶部位置

    $("#back-to-top").click(function(){
      $('body,html').animate({scrollTop:0},1000);
      return false;
    });
  });
}
  function choose_province()
  {
    var el = document.getElementsByTagName("input");
    var len = el.length;
    var chestr="";
    for(var i=0; i<len; i++)
    {
        if ((el[i].type=="checkbox") && (el[i].checked==true) && (el[i].value!=""))
        {
            chestr+=el[i].value+",";
        }
    }
    if(chestr == ""){
      $('#topic_keywords').val("北京,天津,河北,辽宁,上海,江苏,浙江,福建,山东,广东,广西,海南,山西,内蒙古,吉林,黑龙江,安徽,江西,河南,湖北,湖南,四川,贵州,云南,西藏,陕西,甘肃,宁夏,青海,新疆,重庆,香港,台湾,澳门");
    }
    else{
      $('#topic_keywords').val(chestr);
    }
  }
  function checkAll(name)
  {
    var el = document.getElementsByTagName("input");
    var len = el.length;
    for(var i=0; i<len; i++)
    {
        if((el[i].type=="checkbox") && (el[i].name==name))
        {
            el[i].checked = true;
        }
    }
  }
  function clearAll(name)
  {
    var el = document.getElementsByTagName("input");
    var len = el.length;
    for(var i=0; i<len; i++)
    {
        if((el[i].type=="checkbox") && (el[i].name==name))
        {
            el[i].checked = false;
        }
    }
  }

$(document).ready(function(){
  loadData();
  backToTop();  
});
</script>
{% endblock script %}


     
    

 
            