{% extends "profile/base.html" %}
{% block head %}
  <style>
    body{
      padding-top: 60px;
    }
  </style>
{% endblock head%}
{% block content %}
  <script src="/static/js/profile/raphael.js"></script>
  <script src="/static/js/profile/chinamap.js"></script>
  <script src="/static/js/profile/RGraph.common.core.js"></script>
  <script src="/static/js/profile/RGraph.pie.js"></script>
  <script src="/static/js/profile/RGraph.common.dynamic.js"></script>

  <script src="/static/js/profile/d3.v3.min.js"></script>
  <script src="/static/js/profile/d3.layout.cloud.js"></script>
  <script src="/static/js/profile/rgbcolor.js"></script> 
  <script src="/static/js/profile/StackBlur.js"></script>
  <script src="/static/js/profile/canvg.js"></script>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2 well" style="padding: 8px 0;">
        <ul class="nav nav-list">
          {% for fielden, fieldzh in field_dict.iteritems() %}
            {% if atfield == fieldzh %}
               <li class="active"><a href="/profile/group/?fieldEnName={{ fielden }}">{{ fieldzh }}</a></li>
            {% else %}
               <li><a href="/profile/group/?fieldEnName={{ fielden }}">{{ fieldzh }}</a></li>
            {% endif %}            
          {% endfor %}
        </ul>
      </div>

      <div class="span9">
        <legend>{{atfield}}领域</legend>
        <ul class="nav nav-pills tab_container">
          <li class="btn span2 btn-primary" id="tab1">话题兴趣</li>
          <li class="btn span2" id="tab2">认证及地理分布</li>
          <li class="btn span2" id="tab3">微博数量走势</li>
          <li class="btn span2" id="tab4">重要度走势</li>
        </ul>
        <div id="content_container"></div>
      </div>

    </div><!--row-fluid-->
  </div><!--container-fluid-->
{% endblock content %}
{% block script %}
  <script>
    var start_ts = '{{ start_ts }}';
    var end_ts = '{{ end_ts }}';

    $('#content_container').empty();
    $('#content_container').load("/profile/person_tab_ajax/grouptopic/{{model}}?start_ts=" + start_ts + "&end_ts=" + end_ts, function() {});

    tabIdArr = ['tab1', 'tab2', 'tab3', 'tab4'];
    tabUrlArr = ["/profile/person_tab_ajax/grouptopic/{{model}}?start_ts=" + start_ts + "&end_ts=" + end_ts, "/profile/person_tab_ajax/grouplocation/{{model}}?start_ts=" + start_ts + "&end_ts=" + end_ts, "/profile/person_tab_ajax/groupweibocount/{{model}}?start_ts=" + start_ts + "&end_ts=" + end_ts, "/profile/person_tab_ajax/groupimportant/{{model}}?start_ts=" + start_ts + "&end_ts=" + end_ts];
    for (var i = 0, len = tabIdArr.length; i < len; i++) {
      document.getElementById(tabIdArr[i]).onclick = function(data) {
        var tabId = data.srcElement.id;
        var tabIdx = parseInt(tabId.substring(3, 4));
        $('#content_container').empty();
        for (var j = 0, len = tabIdArr.length; j < len; j++){
          if(j != tabIdx - 1){
            $("#" + tabIdArr[j]).removeClass('btn-primary');
          }
        }
        $("#" + tabId).addClass('btn-primary');
        $('#content_container').load(tabUrlArr[tabIdx - 1], function() {});
      }
    }
  </script>
{% endblock script %}