{% extends "profile/base.html" %}
{% block head %}
  <link rel="stylesheet" href="/static/css/jquery-ui.css" />
  <style>
    body{
      padding-top: 60px;
    }
  </style>
{% endblock head%}
{% block content %} 
  <script src="/static/js/profile/highcharts.js"></script>
  <script src="/static/js/profile/exporting.js"></script>
  <script src="/static/js/profile/raphael.js"></script>
  <script src="/static/js/profile/chinamap.js"></script>
  <script src="/static/js/profile/RGraph.common.core.js"></script>
  <script src="/static/js/profile/RGraph.bar.js"></script>
  <script src="/static/js/profile/RGraph.pie.js"></script>
  <script src="/static/js/profile/RGraph.common.dynamic.js"></script>
  <script src="/static/js/profile/RGraph.common.tooltips.js"></script>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2 well" style="padding: 8px 0;">
        <ul class="nav nav-list">
          <li class="nav-header">领域</li>
          {% for f in field %}
            {% if model == f.fieldEnName %}
               <li class="active"><a href="/profile/group/{{f.fieldEnName}}">{{f.fieldZhName}}</a></li>
            {% else %}
               <li><a href="/profile/group/{{f.fieldEnName}}">{{f.fieldZhName}}</a></li>
            {% endif %}
          {% endfor %}
          <li><a href="/profile/group/oversea">境外</a></li>
          <!--
          <li class="nav-header">领域管理</li>
            <li class=""><a href="#typeahead">增加或删除领域</a></li>
          <li class="divider"></li>
          <li><a href="#">帮助</a></li>-->
        </ul>
      </div>

      <div class="span9" id="index-tabs">
        <legend>{{atfield}}领域</legend>
        <ul class="nav nav-tabs">
          <li><a href="/profile/person_tab_ajax/grouprank/{{model}}" >领域用户排序列表</a></li>
          <li><a href="/profile/person_tab_ajax/grouptopic/{{model}}" >领域话题兴趣</a></li>
          <li><a href="/profile/person_tab_ajax/grouplocation/{{model}}" >领域认证及地理分布</a></li>
          <li><a href="/profile/person_tab_ajax/groupweibocount/{{model}}" >领域微博数量走势</a></li>
          <li><a href="/profile/person_tab_ajax/groupactive/{{model}}" >人群活跃度走势</a></li>
          <li><a href="/profile/person_tab_ajax/groupemotion/{{model}}" >人群情感走势</a></li>
        </ul>
      </div>
    </div><!--row-fluid-->
  </div><!--container-fluid-->
{% endblock content %}
{% block script %}
  <script src="/static/js/jquery-ui.js"></script>
  <script src="/static/js/profile/highcharts.js"></script>
  <script src="/static/js/profile/exporting.js"></script>
  <script>
  $(document).ready(function(){
    $( "#index-tabs" ).tabs({
      beforeLoad: function( event, ui ) {
        ui.jqXHR.error(function() {
          ui.panel.html("无法显示此页，我们将尽快解决该问题. ");
        });
      }
    });
  })
  </script>
{% endblock script %}