{% extends "master.html" %}
{% block module_title %}敏感博主识别{% endblock %}
{% block navbar %}
<!-- 导航栏 -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">微博舆情监测平台</a>
      <div class="nav-collapse">
        <ul class="nav">
	  <li><a href="/">首页</a></li>
	  <li class="active"><a href="/identify/">敏感博主识别</a></li>
	  <li><a href="/moodlens/">网民情绪监测和预警</a></li>
	  <li><a href="/profile/search/">网民画像</a></li>
	  <li><a href="/propagate/">微博信息传播分析</a></li>
        </ul>
        <ul class="nav pull-right">
	  <li><a href="/about/">关于</a></li>
	  <li class="divider-vertical"></li>
	  <li><a href="/help/">帮助</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
{% endblock %}
