{% extends "identify/base.html" %}
{% block title %}突发博主识别{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
	  <li class="nav-header">博主识别范围</li>
	  <li><a href="/identify/">主页</a></li>
	  <li><a href="/identify/whole/">全网识别</a></li>
	  <li><a href="/identify/area/">领域识别</a></li>
	  <li class="active"><a href="/identify/burst/">突发识别</a></li>
        </ul>
      </div>
    </div>
    <div class="span9">
      <legend>突发博主识别</legend>
      <div>
      	<form class="form-inline">
      	  时间范围:
      	  <div class="btn-group">
      	    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      	      1天
      	      <span class="caret"></span>
      	    </a>
      	    <ul class="dropdown-menu">
      	      <li><a href="#" data-toggle="tab">1天</a></li>
      	      <li><a href="#" data-toggle="tab">1周</a></li>
      	      <li><a href="#" data-toggle="tab">1个月</a></li>
      	      <li><a href="#" data-toggle="tab">3个月</a></li>
      	    </ul>
      	  </div>

      	  前<input type="text" value="500" class="span1">
      	  条结果

      	  每页<input type="text" value="20" class="span1">
      	  条结果
      	  <a href="/identify/burst/" type="submit" class="btn btn-primary">识别 <i class="icon-search"></i></a>
      	</form>
      </div>

      <hr>

      <div class="well">
	<legend>本期排序结果</legend>
	<div>
	  <p>
	    <a class="btn btn-small btn-success" href="#"><i class="icon-download-alt"></i> 导出</a>
	    <a class="btn btn-small btn-info" href="#" title="将勾选的人加入知识库"><i class="icon-file"></i> 加入知识库</a>
	    <a class="btn btn-small btn-info" href="#" title="将勾选的人移出知识库"><i class="icon-file"></i> 移出知识库</a>
	  </p>
	</div>
	<div>
	  <table class="table table-bordered">
	    <thead>
	      <tr>
		<th>排名</th>
		<th>博主ID</th>
		<th>博主昵称</th>
		<th>博主地域</th>
		<th>博主微博</th>
		<th>转发数</th>
		<th>评论数</th>
		<th>同比</th>
		<th>敏感状态</th>
		<th>全选<input type="checkbox"></th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
		<td><span class="label label-important">1</span></td>
		<td>001</td>
		<td>薛蛮子</td>
		<td>北京</td>
		<td><a href="#tweetModal" data-toggle="modal">【马化腾:运营商应...</a></td>
		<td>1000</td>
		<td>100</td>
		<td><i class="icon-arrow-up"></i></td>
		<td><i class="icon-ok"></i></td>
		<td><input type="checkbox"></td>
	      </tr>
	      <tr>
		<td><span class="label label-important">2</span></td>
		<td>002</td>
		<td>任志强</td>
		<td>北京</td>
		<td><a href="#tweetModal" data-toggle="modal">【马化腾:运营商应...</a></td>
		<td>1000</td>
		<td>100</td>
		<td><i class="icon-minus"></i></td>
		<td><i class="icon-ok"></i></td>
		<td><input type="checkbox"></td>
	      </tr>
	      <tr>
		<td><span class="label label-important">3</span></td>
		<td>003</td>
		<td>潘石屹</td>
		<td>北京</td>
		<td><a href="#tweetModal" data-toggle="modal">【马化腾:运营商应...</a></td>
		<td>1000</td>
		<td>100</td>
		<td><i class="icon-arrow-down"></i></td>
		<td><i class="icon-ok"></i></td>
		<td><input type="checkbox"></td>
	      </tr>
	      <tr>
		<td><span class="label label-important">4</span></td>
		<td>002</td>
		<td>任志强</td>
		<td>北京</td>
		<td><a href="#tweetModal" data-toggle="modal">【马化腾:运营商应...</a></td>
		<td>1000</td>
		<td>100</td>
		<td><i class="icon-arrow-up"></i></td>
		<td><i class="icon-ok"></i></td>
		<td><input type="checkbox"></td>
	      </tr>
	      <tr>
		<td><span class="label label-important">5</span></td>
		<td>002</td>
		<td>任志强</td>
		<td>北京</td>
		<td><a href="#tweetModal" data-toggle="modal">【马化腾:运营商应...</a></td>
		<td>1000</td>
		<td>100</td>
		<td><i class="icon-arrow-up"></i></td>
		<td><i class="icon-ok"></i></td>
		<td><input type="checkbox"></td>
	      </tr>
	      <tr>
		<td><span class="label label-important">6</span></td>
		<td>002</td>
		<td>任志强</td>
		<td>北京</td>
		<td><a href="#tweetModal" data-toggle="modal">【马化腾:运营商应...</a></td>
		<td>1000</td>
		<td>100</td>
		<td><i class="icon-arrow-up"></i></td>
		<td><i class="icon-remove"></i></td>
		<td><input type="checkbox"></td>
	      </tr>
	      <tr>
		<td><span class="label label-important">7</span></td>
		<td>002</td>
		<td>任志强</td>
		<td>北京</td>
		<td><a href="#tweetModal" data-toggle="modal">【马化腾:运营商应...</a></td>
		<td>1000</td>
		<td>100</td>
		<td><i class="icon-arrow-down"></i></td>
		<td><i class="icon-remove"></i></td>
		<td><input type="checkbox"></td>
	      </tr>
	      <tr>
		<td><span class="label label-important">8</span></td>
		<td>002</td>
		<td>任志强</td>
		<td>北京</td>
		<td><a href="#tweetModal" data-toggle="modal">【马化腾:运营商应...</a></td>
		<td>1000</td>
		<td>100</td>
		<td><i class="icon-arrow-up"></i></td>
		<td><i class="icon-ok"></i></td>
		<td><input type="checkbox"></td>
	      </tr>
	      <tr>
		<td><span class="label label-important">9</span></td>
		<td>002</td>
		<td>任志强</td>
		<td>北京</td>
		<td><a href="#tweetModal" data-toggle="modal">【马化腾:运营商应...</a></td>
		<td>1000</td>
		<td>100</td>
		<td><i class="icon-minus"></i></td>
		<td><i class="icon-ok"></i></td>
		<td><input type="checkbox"></td>
	      </tr>
	      <tr>
		<td><span class="label label-important">10</span></td>
		<td>002</td>
		<td>任志强</td>
		<td>北京</td>
		<td><a href="#tweetModal" data-toggle="modal">【马化腾:运营商应...</a></td>
		<td>1000</td>
		<td>100</td>
		<td><i class="icon-minus"></i></td>
		<td><i class="icon-ok"></i></td>
		<td><input type="checkbox"></td>
	      </tr>
	    </tbody>
          </table>
	  <div class="pagination pagination-centered">
	    <ul>
	      <li class="disabled"><a href="#">«</a></li>
	      <li class="active"><a href="#">1</a></li>
	      <li><a href="#">2</a></li>
	      <li><a href="#">3</a></li>
	      <li><a href="#">4</a></li>
	      <li><a href="#">5</a></li>
	      <li><a href="#">»</a></li>
	    </ul>
	  </div>
	</div>
      </div>

      <div class="well">
	<legend>上期排序结果</legend>
	<div>
	  <p>
	    <a class="btn btn-small btn-success" href="#"><i class="icon-download-alt"></i> 导出</a>
	  </p>
	</div>
	<div>
	  <table class="table table-bordered">
	    <thead>
	      <tr>
		<th>排名</th>
		<th>博主ID</th>
		<th>博主昵称</th>
		<th>博主地域</th>
		<th>博主微博</th>
		<th>转发数</th>
		<th>评论数</th>
		<th>敏感状态</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
		<td><span class="label label-important">1</span></td>
		<td>003</td>
		<td>潘石屹</td>
		<td>北京</td>
		<td><a href="#tweetModal" data-toggle="modal">【马化腾:运营商应...</a></td>
		<td>1000</td>
		<td>100</td>
		<td><i class="icon-ok"></i></td>
	      </tr>
	      <tr>
		<td><span class="label label-important">2</span></td>
		<td>002</td>
		<td>任志强</td>
		<td>北京</td>
		<td><a href="#tweetModal" data-toggle="modal">【马化腾:运营商应...</a></td>
		<td>1000</td>
		<td>100</td>
		<td><i class="icon-ok"></i></td>
	      </tr>
	      <tr>
		<td><span class="label label-important">3</span></td>
		<td>001</td>
		<td>薛蛮子</td>
		<td>北京</td>
		<td><a href="#tweetModal" data-toggle="modal">【马化腾:运营商应...</a></td>
		<td>1000</td>
		<td>100</td>
		<td><i class="icon-ok"></i></td>
	      </tr>
	      <tr>
		<td><span class="label label-important">4</span></td>
		<td>003</td>
		<td>潘石屹</td>
		<td>北京</td>
		<td><a href="#tweetModal" data-toggle="modal">【马化腾:运营商应...</a></td>
		<td>1000</td>
		<td>100</td>
		<td><i class="icon-ok"></i></td>
	      </tr>
	      <tr>
		<td><span class="label label-important">5</span></td>
		<td>002</td>
		<td>任志强</td>
		<td>北京</td>
		<td><a href="#tweetModal" data-toggle="modal">【马化腾:运营商应...</a></td>
		<td>1000</td>
		<td>100</td>
		<td><i class="icon-ok"></i></td>
	      </tr>
	      <tr>
		<td><span class="label label-important">6</span></td>
		<td>001</td>
		<td>薛蛮子</td>
		<td>北京</td>
		<td><a href="#tweetModal" data-toggle="modal">【马化腾:运营商应...</a></td>
		<td>1000</td>
		<td>100</td>
		<td><i class="icon-ok"></i></td>
	      </tr>
	      <tr>
		<td><span class="label label-important">7</span></td>
		<td>001</td>
		<td>薛蛮子</td>
		<td>北京</td>
		<td><a href="#tweetModal" data-toggle="modal">【马化腾:运营商应...</a></td>
		<td>1000</td>
		<td>100</td>
		<td><i class="icon-ok"></i></td>
	      </tr>
	      <tr>
		<td><span class="label label-important">8</span></td>
		<td>001</td>
		<td>薛蛮子</td>
		<td>北京</td>
		<td><a href="#tweetModal" data-toggle="modal">【马化腾:运营商应...</a></td>
		<td>1000</td>
		<td>100</td>
		<td><i class="icon-remove"></i></td>
	      </tr>
	      <tr>
		<td><span class="label label-important">9</span></td>
		<td>001</td>
		<td>薛蛮子</td>
		<td>北京</td>
		<td><a href="#tweetModal" data-toggle="modal">【马化腾:运营商应...</a></td>
		<td>1000</td>
		<td>100</td>
		<td><i class="icon-remove"></i></td>
	      </tr>
	      <tr>
		<td><span class="label label-important">10</span></td>
		<td>001</td>
		<td>薛蛮子</td>
		<td>北京</td>
		<td><a href="#tweetModal" data-toggle="modal">【马化腾:运营商应...</a></td>
		<td>1000</td>
		<td>100</td>
		<td><i class="icon-ok"></i></td>
	      </tr>
	    </tbody>
          </table>
	  <div class="pagination pagination-centered">
	    <ul>
	      <li class="disabled"><a href="#">«</a></li>
	      <li class="active"><a href="#">1</a></li>
	      <li><a href="#">2</a></li>
	      <li><a href="#">3</a></li>
	      <li><a href="#">4</a></li>
	      <li><a href="#">5</a></li>
	      <li><a href="#">»</a></li>
	    </ul>
	  </div>
	</div>
      </div>

      <!-- Modal -->
      <div id="tweetModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	  <h3 id="myModalLabel">用户微博详情</h3>
	</div>
	<div class="modal-body">
	  <p>黑莓最新的Z10智能手机本周五在美国开卖。但发售现场没有想象中的火爆：没有消费者排队，甚至也没有吸引太多关注。在曼哈顿的两家AT&T门店中，周五上午只有不到20名消费者前来了解Z10。难道大家都在等带有全键盘的Q10</p>
	  <hr>
	  <p>【马化腾:运营商应转向数据业务 微信收费是谣言】正在与三大电信运营商陷入博弈局面的腾讯董事局主席马化腾，今日在中国发展高层论坛上称运营商应该从语音业务转向数据流量业务经营为主。腾讯每日产生大量流量，与运营商应该是合作关系。另外，他还再次辟谣微信收费传闻。</p>
	  <hr>
	  <p>【郭台铭密谈小米】富士康国际2012年净亏损3 .2亿美元，创历史最大亏损纪录，掌门人郭台铭近日拜访了小米。小米是富士康国际的客户，有猜测郭台铭是为了新的合作订单，跨界进入智能硬件终端的互联网企业是其看中的新客户。</p>
	</div>
	<div class="modal-footer">
	  <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
	</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
