{% extends "identify/base.html" %}
{% block title %}突发博主识别{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fancybox/jquery.fancybox-1.3.4.css') }}" media="screen" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/datepicker.css') }}">
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
	  <li class="nav-header"><h4>博主识别范围</h4></li>
	      <li><a href="/identify/"><h5>主页</h5></a></li>
	      <li><a href="/identify/whole/"><h5>全网识别</h5></a></li>
		  <li class="active"><a href="/identify/burst/"><h5>突发识别</h5></a></li>
	      <li><a href="/identify/area/"><h5>领域识别</h5></a></li>
	      <li><a href="/identify/topic/"><h5>话题识别</h5></a></li>
        </ul>
      </div>
    </div>
    <div class="span9">
      <legend><strong><h3>突发敏感博主识别</h3></strong></legend>
     <div>
      	<form id="burst_identify" action="/identify/burst/" class="form-inline" method="POST">
      	  <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>排序标准:</b></font>
	  <div class="btn-group">
	    <a id="burst_rank_method_choosen" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
	      {% if rank_method == 'active' %}活跃度差值
	      {% elif rank_method == 'important' %}重要度差值
	      {% else %}活跃度差值
	      {% endif %}
	      <span class="caret"></span>
	    </a>
	    <ul id="burst_rank_method_dropdown_menu" class="dropdown-menu">
      	      <li><a href="#" onclick="choose_method2('burst', 'active');" data-toggle="tab">活跃度差值</a></li>
      	      <li><a href="#" onclick="choose_method2('burst', 'important');" data-toggle="tab">重要度差值</a></li>
	    </ul>
	  </div>

      	  <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>&nbsp&nbsp&nbsp时间:</b></font>
	  <div class="input-append date" id="burst_window_size_choosen">
      <input type="text" class="span2" name="burst_time" value="{% if burst_time %}{{burst_time}}{% else %}9月 2日,2013{% endif %}" style="width:126px;"><span class="add-on"><i class="icon-th"></i></span>
      </div>

	  <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>&nbsp&nbsp&nbsp前</b></font><input name="top_n" type="text" value="{% if top_n %}{{ top_n }}{% else %}500{% endif %}" class="span1">
	  <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>条结果</b></font>

	  <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>&nbsp&nbsp&nbsp每页</b></font><input name="page_num" type="text" value="{% if page_num %}{{ page_num }}{% else %}20{% endif %}" class="span1">
	  <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>条结果</b></font>
	  <input type="hidden" name="action" value="run">
	  <input id="burst_rank_method" type="hidden" name="rank_method" value="active">
	  <input id="burst_window_size" type="hidden" name="window_size" value="7">
    &nbsp&nbsp&nbsp
	  <input type="submit" class="btn btn-primary" value="识别">
      	</form>
      </div>

      <hr>

      <div class="well">
	<legend><strong>本期排序结果</strong></legend>
	{% if not from_external %}
	<div>
	  <div id="loading_current_data" class="alert alert-info">
	    系统繁忙计算中，请稍后...
	  </div>
	  <label>
	    <div id="current_process" class="progress progress-striped active">
	      <div id="current_process_bar" class="bar" style="width: 100%;"></div>
	    </div>
	  </label>
	</div>
	{% endif %}
	<div>
	  <p>
	    <a class="btn btn-small btn-success" href="#" id="out"><i class="icon-download-alt"></i> 导出</a>
	    <a id="add_kd" class="btn btn-small btn-info" href="#" title="将勾选的人加入知识库"><i class="icon-file"></i> 加入知识库</a>
	    <a id="remove_kd" class="btn btn-small btn-info" href="#" title="将勾选的人移出知识库"><i class="icon-file"></i> 移出知识库</a>
	    <a id="add_trash" class="btn btn-small btn-danger" href="#" title="将勾选的人加入垃圾名单"><i class="icon-ban-circle"></i> 加入垃圾名单</a>
	  </p>
	</div>
	<div id="rank_table">
	  <table class="table table-bordered">
	  </table>
	</div>
	<div id="rank_page_selection" class="pagination-centered"></div>
      </div>

      <hr>

      <div class="well">
	<legend><strong>上期排序结果</strong></legend>
	{% if not from_external %}
	<div>
	  <div id="loading_previous_data" class="alert alert-info">
	    上期结果计算中，请稍后...
	  </div>
	  <label>
	    <div id="previous_process" class="progress progress-striped active">
	      <div id="previous_process_bar" class="bar" style="width: 100%;"></div>
	    </div>
	  </label>
	</div>
	{% endif %}
	<div>
	  <p>
	    <a class="btn btn-small btn-success" href="#" id="previous_out"><i class="icon-download-alt"></i> 导出</a>
	  </p>
	</div>
	<div id="previous_rank_table">
	  <table class="table table-bordered">
	  </table>
	</div>
	<div id="previous_rank_page_selection" class="pagination-centered"></div>
      </div>

  </div>
</div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='fancybox/jquery.fancybox-1.3.4.pack.js') }}"></script>
    <script src="{{ url_for('static', filename='js/identify/choose.js') }}"></script>
    <script src="{{ url_for('static', filename='js/identify/jquery.bootpag.js') }}"></script>
    <script src="{{ url_for('static', filename='js/identify/bootstrap-datepicker.js') }}"></script>
    <script src="{{ url_for('static', filename='js/identify/bootstrap-datepicker.zh-CN.js') }}"></script>
    <script>
    		function exportTableToCSV($table, filename) {
                
            //	alert(filename);
              
                
              if(filename=="Burst_Previous_Rank_Result.csv"){
                  var ta=$("#previous_rank_table"); 

                  var $table = ta.find("table"); 
                  var $head = ta.find("thead");
                  var $body = ta.find("tbody");
                  var $r_head = $head.find("tr");
                  var $rows = $body.find("tr");
                  var tmpColDelim = String.fromCharCode(11); // vertical tab character
                  var tmpRowDelim = String.fromCharCode(0); // null character

              // actual delimiter characters for CSV format
                  var colDelim = ",";
                  var rowDelim = "\r\n";

              // Grab text from table into CSV formatted string
                  var c_head = $r_head.find("th");
                  var csv_head = '';
                  for(var count=0;count<c_head.length;count++){ 
                  	if(count != 4){
                  		if(count == (c_head.length-1)){
                        	csv_head = csv_head + c_head[count].innerHTML + rowDelim;
                      	}
                      	else{
                        	csv_head = csv_head + c_head[count].innerHTML + colDelim;
                      	}
                  	}
                                      
                  }
                csv = $rows.map(function (i, row) {
                  var $row = $(row),
                    $cols = $row.find('td');

                  return $cols.map(function (j, col) {
                      var $col = $(col);
                      if($col.find('a').length != 1){
                      	if($col.find('i').length == 1){
                        	var pic = $col.find('i');                        
                        	if(pic.attr('class') == "icon-ok"){
                            	var text = '是';
                        	}
                        	else{
                            	var text = '否';
                        	}
                      	}
                      	else{
                        	var text = $col.text();
                      	}
                      	return text.replace('"', '"'); // escape double quotes
                      }
                      
                      

                      

                  }).get().join(tmpColDelim);

              }).get().join(tmpRowDelim).split(tmpRowDelim).join(rowDelim).split(tmpColDelim).join(colDelim);
              }
              else{
                  var ta=$("#rank_table");
                  var $table = ta.find("table"); 
                  var $head = ta.find("thead");
                  var $body = ta.find("tbody");
                  var $r_head = $head.find("tr");
                  var $rows = $body.find("tr");
                  var tmpColDelim = String.fromCharCode(11); // vertical tab character
                  var tmpRowDelim = String.fromCharCode(0); // null character

              // actual delimiter characters for CSV format
                  var colDelim = ",";
                  var rowDelim = "\r\n";

              // Grab text from table into CSV formatted string
                  var c_head = $r_head.find("th");
                  var csv_head = '';
                  for(var count=0;count<c_head.length-1;count++){ 
                  	if(count != 4){
                      if(count == (c_head.length-2)){
                        csv_head = csv_head + c_head[count].innerHTML + rowDelim;
                      }
                      else{
                        csv_head = csv_head + c_head[count].innerHTML + colDelim;
                      }
                    }
                
                  }
                csv = $rows.map(function (i, row) {
                  var $row = $(row),
                    $cols = $row.find('td');

                  return $cols.map(function (j, col) {
                      var $col = $(col);
                      if($col.find('a').length != 1){
                      	if($col.find('i').length == 1){
                        	var pic = $col.find('i');
                          var i_text =  $col.text();                        
                        	if(pic.attr('class') == "icon-ok"){
                            	var text = '是';
                        	}
                        	else{
                          		if(pic.attr('class') == "icon-arrow-down"){
                             		var text = i_text;
                          		}
                          		else{
                            		if(pic.attr('class') == "icon-arrow-up"){
                                		var text = i_text;
                            		}
                            		else{
                              			if(pic.attr('class') == "icon-minus"){
                                  			var text = '0';
                             			}
                              			else{
                                			var text = '否';
                              			}
                            		}	
                          		}                            
                        	}
                        }
                    	else{
                       		var text = $col.text();
                    	}
                    	return text.replace('"', '"'); // escape double quotes
                    }
                      

                    

                  }).get().join(tmpColDelim);

              }).get().join(tmpRowDelim).split(tmpRowDelim).join(rowDelim).split(tmpColDelim).join(colDelim);
               } 

              

              csv = csv_head + csv;

              // Data URI
              csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

            $(this)
                .attr({
                  'download': filename,
                    'href': csvData,
                    'target': '_blank'
              });
        }


        $("a[id='out']").on('click', function (event) {
          exportTableToCSV.apply(this, [$('#dvData>table'), 'Burst_Rank_Result.csv']);
          alert("导出成功！");
        });
              $("a[id='previous_out']").on('click', function (event) {
          exportTableToCSV.apply(this, [$('#dvData>table'), 'Burst_Previous_Rank_Result.csv']);
          alert("导出成功！");
        });
    $('#burst_window_size_choosen').datepicker({
    format: "m月 d日,yyyy",
    language: "zh-CN",
    forceParse: false
    });

    //添加垃圾名单
    $("#add_trash").click(function() {
        n = 0;
        $("[name='now_user']").each(function(){
                              
            if(this.checked)
            {
                var fa = $(this).parent();
                var ne = $(fa).prev().prev().prev().prev().prev().prev().prev().prev().prev().prev();
                var f_id = $(ne).html();
                $.ajax({   
                    type:"POST",  
                    url:"/identify/add_trash/",
                    dataType: "json",
                    async:false,
                    data:{f_id : f_id},
                    success: function(data){
                        if( data =='Right'){
                            n = n + 1;
                        }
                    }           
                });
            }   
        });
        if(n > 0){
            alert("添加成功！");
        }
    });

    //添加知识库
    $("#add_kd").click(function() {
        n = 0;
        $("[name='now_user']").each(function(){
                              
            if(this.checked)
            {
                var fa = $(this).parent();
                var ne = $(fa).prev().prev().prev().prev().prev().prev().prev().prev().prev().prev();
                var f_id = $(ne).html();
                var type = showModalDialog("/identify/page/",f_id,"DialogWidth:300px;dialogHeight=180px;status:no");
                if((f_id)&&(type)){
                  $.ajax({   
                    type:"POST",  
                    url:"/identify/add_kd/",
                    dataType: "json",
                    async:false,
                    data:{f_id : f_id,type : type},
                    success: function(data){
                        if( data =='Right'){
                            n = n + 1;
                        }
                    }           
                  });
                }
            }   
        });
        if(n > 0){
            alert("添加成功！");
        }
    });

    //移除知识库
    $("#remove_kd").click(function() {
        n = 0;
        $("[name='now_user']").each(function(){
                              
            if(this.checked)
            {
                var fa = $(this).parent();
                var ne = $(fa).prev().prev().prev().prev().prev().prev().prev().prev().prev().prev();
                var f_id = $(ne).html();
                $.ajax({   
                    type:"POST",  
                    url:"/identify/remove_kd/",
                    dataType: "json",
                    async:false,
                    data:{f_id : f_id},
                    success: function(data){
                        if( data =='Right'){
                            n = n + 1;
                        }
                    }           
                });
            }   
        });
        if(n > 0){
            alert("移除成功！");
        }
    });
	  </script>
    {% if not from_external %}
      <script>
	//load parameters from previous page
	var rank_method = '{{ rank_method }}';
        var burst_time = '{{ burst_time }}';
	var top_n = {{ top_n }};
	var page_num = {{ page_num }};
      </script>
      <script src="{{ url_for('static', filename='js/identify/burst_identify.js') }}"></script>
    {% endif %}
{% endblock %}
