{% extends "identify/base.html" %}
{% block title %}主页{% endblock %}
{% block content %}
<head>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/datarangepiker.css') }}">
</head>
<body>
<div class="container">
  <div class="well">
    <legend><strong>全网敏感博主识别</strong></legend>
    <form id="whole_identify" action="/identify/whole/" class="form-inline" method="POST">
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>排序标准:</b></font>
      <div class="btn-group">
	<a id="whole_rank_method_choosen" class="btn dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
	  粉丝数
	  <span class="caret"></span>
	</a>
	<ul id="whole_rank_method_dropdown_menu" class="dropdown-menu">
	  <li><a href="#" onClick="choose_method('whole', 'followers');" data-toggle="tab">粉丝数</a></li>
      	  <li><a href="#" onClick="choose_method('whole', 'active');" data-toggle="tab">活跃度</a></li>
      	  <li><a href="#" onClick="choose_method('whole', 'important');" data-toggle="tab">重要度</a></li>
	</ul>
      </div>
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>&nbsp&nbsp&nbsp时间范围:</b></font>
      <div id="whole_window_size_choosen" class="btn dropdown-toggle" href="#">
    <i class="icon-calendar icon-large"></i>
    <span id="whole_date">9月 1日,2013 - 9月 5日,2013</span> 
	<b class="caret"></b>
	</div>
	
	  
	  
 
	  
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>&nbsp&nbsp&nbsp前</b></font>
	  <div class="btn dropdown-toggle" style="position:relative;">
<span style="position:relative;margin-left:100px;width:18px;overflow:hidden;">
<select name="top_n" style="width:110px;margin-left:-100px" onchange="this.parentNode.nextSibling.value=this.value">
<option value="100"> 100 </option>
<option value="300"> 300 </option>
<option value="500"> 500 </option>
</select></span><input name="top_n" style="width:75px;position:absolute;left:15px;overflow:hidden;" value="500" class="span1">
</div>
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>条结果</b></font>
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>&nbsp&nbsp&nbsp每页</b></font><input name="page_num" type="text" value="20" class="span1">
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>条结果</b></font>
      <input type="hidden" name="action" value="run">
      <input id="whole_rank_method" type="hidden" name="rank_method" value="followers">
      <input id="whole_window_size" type="hidden" name="window_size" value="9月 1日,2013 - 9月 5日,2013">
      &nbsp&nbsp&nbsp
      <input type="submit" class="btn btn-primary" value="识别">
    </form>
  </div>
  
  <div class="well">
    <legend><strong>突发敏感博主识别</strong></legend>
    <form id="burst_identify" action="/identify/burst/" class="form-inline" method="POST">
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>排序标准:</b></font>
      <div class="btn-group">
	<a id="burst_rank_method_choosen" class="btn dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
	  粉丝数
	  <span class="caret"></span>
	</a>
	<ul id="burst_rank_method_dropdown_menu" class="dropdown-menu">
	  <li><a href="#" onClick="choose_method('burst', 'followers');" data-toggle="tab">粉丝数</a></li>
      	  <li><a href="#" onClick="choose_method('burst', 'active');" data-toggle="tab">活跃度</a></li>
      	  <li><a href="#" onClick="choose_method('burst', 'important');" data-toggle="tab">重要度</a></li>
	</ul>
      </div>
	  <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>&nbsp&nbsp&nbsp时间范围:</b></font>
      <div class="btn-group">
	<a  id="burst_window_size_choosen" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
	  1周
	  <span class="caret"></span>
	</a>
	<ul id="burst_window_size_dropdown_menu" class="dropdown-menu">
	  <li><a href="#" onClick="choose_window('burst', 1);" data-toggle="tab">1天</a></li>
      	  <li><a href="#" onClick="choose_window('burst', 7);" data-toggle="tab">1周</a></li>
      	  <li><a href="#" onClick="choose_window('burst', 30);" data-toggle="tab">1个月</a></li>
      	  <li><a href="#" onClick="choose_window('burst', 90);" data-toggle="tab">3个月</a></li>
	</ul>
      </div>
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>&nbsp&nbsp&nbsp前</b></font><input name="top_n" type="text" value="500" class="span1">
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>条结果</b></font>
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>&nbsp&nbsp&nbsp每页</b></font><input name="page_num" type="text" value="20" class="span1">
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>条结果</b></font>
      <input type="hidden" name="action" value="run">
      <input id="burst_rank_method" type="hidden" name="rank_method" value="followers">
      <input id="burst_window_size" type="hidden" name="window_size" value="7">
      &nbsp&nbsp&nbsp
      <input type="submit" class="btn btn-primary" value="识别">
    </form>

    <div>
      <a href="javascript:void(0);" onClick="show_burst_user();" class="pull-right" title="实时突发用户识别">
	<i class="icon-exclamation-sign"></i>
      </a>
    </div>

    <div id="realtime_burst_user" class="collapse out">
      <div id="burst_user_progress" class="progress progress-striped active">
	<div class="bar" style="width: 100%;"></div>
      </div>
      <div id="loading_burst_data">
      </div>
      <div id="burst_user_table">
	<table class="table table-bordered">
	</table>
      </div>
    </div>

  </div>
  
    <div class="well">
    <legend><strong>领域敏感博主识别</strong></legend>
    <form id="area_identify" action="/identify/area/" class="form-inline" method="POST">
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>排序标准:</b></font>
      <div class="btn-group">
  <a id="area1_rank_method_choosen" class="btn dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
    粉丝数
    <span class="caret"></span>
  </a>
  <ul id="area1_rank_method_dropdown_menu" class="dropdown-menu">
    <li><a href="#" onClick="choose_method('area1', 'followers');" data-toggle="tab">粉丝数</a></li>
          <li><a href="#" onClick="choose_method('area1', 'active');" data-toggle="tab">活跃度</a></li>
          <li><a href="#" onClick="choose_method('area1', 'important');" data-toggle="tab">重要度</a></li>
  </ul>
      </div>
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>&nbsp&nbsp&nbsp领域:</b></font>
      
      <div class="btn-group">
  <a  id="area_rank_method_choosen" class="btn dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
    财经
    <span class="caret"></span>
  </a>
  <ul id="area_rank_method_dropdown_menu" class="dropdown-menu">
    <li><a href="#" onClick="choose_field('area', 'finance');" data-toggle="tab">财经</a></li>
          <li><a href="#" onClick="choose_field('area', 'fashion');" data-toggle="tab">时尚</a></li>
          <li><a href="#" onClick="choose_field('area', 'entertainment');" data-toggle="tab">娱乐</a></li>
          <li><a href="#" onClick="choose_field('area', 'media');" data-toggle="tab">媒体</a></li>
          <li><a href="#" onClick="choose_field('area', 'sports');" data-toggle="tab">体育</a></li>
          <li><a href="#" onClick="choose_field('area', 'culture');" data-toggle="tab">文化</a></li>
          <li><a href="#" onClick="choose_field('area', 'education');" data-toggle="tab">教育</a></li>
          <li><a href="#" onClick="choose_field('area', 'technology');" data-toggle="tab">科技</a></li>
          <li><a href="#" onClick="choose_field('area', 'abroad');" data-toggle="tab">境外</a></li>

  </ul>
      </div>
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>&nbsp&nbsp&nbsp前</b></font><input name="top_n" type="text" value="500" class="span1">
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>条结果</b></font>
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>&nbsp&nbsp&nbsp每页</b></font><input name="page_num" type="text" value="20" class="span1">
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>条结果</b></font>
      &nbsp&nbsp&nbsp
      <input type="submit" class="btn btn-primary" value="识别">
      <input type="hidden" name="action" value="run">
      <input type="hidden" id="topic_hidden" name="field" value="finance">
      <input id="area_rank_method" type="hidden" name="rank_method" value="followers">
    </form>
    
  </div>
  
    <div class="well">
    <legend><strong>话题敏感博主识别</strong></legend>
    <form id="topic_identify" action="/identify/topic/" class="form-inline" method="POST">
      <input id="topic_keywords" name="topic" type="text" class="span2 search-query" placeholder="话题">
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>时间范围:</b></font>
      <div class="btn-group">
	<a  id="topic_window_size_choosen" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
	  1周
	  <span class="caret"></span>
	</a>
	<ul id="topic_window_size_dropdown_menu" class="dropdown-menu">
	  <li><a href="#" onClick="choose_window('topic', 1);" data-toggle="tab">1天</a></li>
      	  <li><a href="#" onClick="choose_window('topic', 7);" data-toggle="tab">1周</a></li>
      	  <li><a href="#" onClick="choose_window('topic', 30);" data-toggle="tab">1个月</a></li>
      	  <li><a href="#" onClick="choose_window('topic', 90);" data-toggle="tab">3个月</a></li>
	</ul>
      </div>
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>&nbsp&nbsp&nbsp前</b></font><input name="top_n" type="text" value="500" class="span1">
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>条结果</b></font>
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>&nbsp&nbsp&nbsp每页</b></font><input name="page_num" type="text" value="20" class="span1">
      <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>条结果</b></font>
      <input type="hidden" name="action" value="run">
      <input id="topic_window_size" type="hidden" name="window_size" value="7">
      &nbsp&nbsp&nbsp
      <input type="submit" class="btn btn-primary" value="识别">
    </form>
    <ul id="TopicTab" class="nav nav-tabs">
      <li><a href="#area_7" data-toggle="tab"><strong>系统定制</strong></a></li>
      
      <li><a href="/sysadmin/" target="_blank"><i class="icon-cog"></i></a></li> 
    </ul>
    <div id="TopicTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="area_7">
	<ul class="inline">
      	  <li>
      	    <input type="checkbox"> 两会
      	  </li>
      	  <li>
      	    <input type="checkbox"> 长春婴儿
      	  </li>
      	  <li>
      	    <input type="checkbox"> 异地高考
      	  </li>
	</ul>
      </div>
      
    </div>
  </div>

  
</div>
{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename='js/identify/choose.js') }}"></script>
  <script src="{{ url_for('static', filename='js/identify/topic_selector.js') }}"></script>
  <script src="{{ url_for('static', filename='js/identify/burst.js') }}"></script>
  <script src="{{ url_for('static', filename='js/identify/moment.js') }}"></script>
  <script src="{{ url_for('static', filename='js/identify/datarangepiker.js') }}"></script>
  <script type="text/javascript" charset="gb2312">
  function choose_field(prefix, area){
    $("#topic_hidden").val(area)
    cn_area = '';
    if(area=='finance')
        cn_area = '经济';
    else if(area=='media')
        cn_area = '媒体';
    else if(area=='sports')
        cn_area = '体育';
    else if(area=='fashion')
        cn_area = '时尚';
    else if(area=='culture')
        cn_area = '文化';
    else if(area=='education')
        cn_area = '教育';
    else if(area=='technology')
        cn_area = '科技';
    else if(area=='abroad')
        cn_area = '境外';
    else if(area=='entertainment')
        cn_area = '娱乐';
    $("#area_rank_method_choosen").text(cn_area);
    $("#area_rank_method_choosen").append(' <span class="caret"></span>');
    //close dropdown
    $("#area_rank_method_choosen").parent().removeClass('open');
    $("#area_rank_method_dropdown_menu").children().removeClass('active');
  }

    $(document).ready(function() {
  var whole_time = $('#whole_date').html();
  document.getElementById('whole_window_size').value = whole_time;
  
  $('#whole_window_size_choosen').daterangepicker({
      ranges: {
         '1天': [moment(), moment()],
         '1周': [moment().subtract('days', 6), moment()],
         '1个月': [moment().startOf('month'), moment().endOf('month')],
         '3个月': [moment().subtract('month', 3).startOf('month'), moment().subtract('month', 3).endOf('month')]
      },
      startDate: moment().subtract('days', 29),
      endDate: moment()
    }, 
    
    function(start, end) {
	$('#whole_window_size_choosen span').html(start.format('MMMM D日, YYYY') + ' - ' + end.format('MMMM D日, YYYY'));
    var whole_time = $('#whole_date').html();
    document.getElementById('whole_window_size').value = whole_time;
    }
  );
  
});

</script>
</body>
  
{% endblock %}
