{% extends "identify/base.html" %}
{% block title %}主页{% endblock %}
{% block content %}
<div class="container">
  <div class="well">
    <legend>全网识别</legend>
    <form id="whole_identify" action="/identify/whole/" class="form-inline" method="POST">
      排序标准:
      <div class="btn-group">
	<a id="whole_rank_method_choosen" class="btn dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
	  粉丝数
	  <span class="caret"></span>
	</a>
	<ul id="whole_rank_method_dropdown_menu" class="dropdown-menu">
	  <li><a href="#" onclick="choose_method('whole', 'followers');" data-toggle="tab">粉丝数</a></li>
      	  <li><a href="#" onclick="choose_method('whole', 'active');" data-toggle="tab">活跃度</a></li>
      	  <li><a href="#" onclick="choose_method('whole', 'important');" data-toggle="tab">重要度</a></li>
	</ul>
      </div>
      时间范围:
      <div class="btn-group">
	<a  id="whole_window_size_choosen" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
	  1天
	  <span class="caret"></span>
	</a>
	<ul id="whole_window_size_dropdown_menu" class="dropdown-menu">
	  <li><a href="#" onclick="choose_window('whole', 1);" data-toggle="tab">1天</a></li>
      	  <li><a href="#" onclick="choose_window('whole', 7);" data-toggle="tab">1周</a></li>
      	  <li><a href="#" onclick="choose_window('whole', 30);" data-toggle="tab">1个月</a></li>
      	  <li><a href="#" onclick="choose_window('whole', 90);" data-toggle="tab">3个月</a></li>
	</ul>
      </div>
      前<input name="top_n" type="text" value="500" class="span1">
      条结果
      每页<input name="page_num" type="text" value="20" class="span1">
      条结果
      <input type="hidden" name="action" value="run">
      <input id="whole_rank_method" type="hidden" name="rank_method" value="followers">
      <input id="whole_window_size" type="hidden" name="window_size" value="1">
      <input type="submit" class="btn btn-primary" value="识别">
    </form>
  </div>

  <div class="well">
    <legend>领域识别</legend>
    <form id="area_identify" action="/identify/area/" class="form-inline" method="POST">
      <input name="topic" type="text" class="span2 search-query" placeholder="子领域、话题">
      时间范围:
      <div class="btn-group">
	<a  id="area_window_size_choosen" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
	  1天
	  <span class="caret"></span>
	</a>
	<ul id="area_window_size_dropdown_menu" class="dropdown-menu">
	  <li><a href="#" onclick="choose_window('area', 1);" data-toggle="tab">1天</a></li>
      	  <li><a href="#" onclick="choose_window('area', 7);" data-toggle="tab">1周</a></li>
      	  <li><a href="#" onclick="choose_window('area', 30);" data-toggle="tab">1个月</a></li>
      	  <li><a href="#" onclick="choose_window('area', 90);" data-toggle="tab">3个月</a></li>
	</ul>
      </div>
      前<input name="top_n" type="text" value="500" class="span1">
      条结果
      每页<input name="page_num" type="text" value="20" class="span1">
      条结果
      <input type="hidden" name="action" value="run">
      <input id="area_window_size" type="hidden" name="window_size" value="1">
      <input type="submit" class="btn btn-primary" value="识别">
    </form>
    <ul id="myTab" class="nav nav-tabs">
      <li class="active"><a href="#area_1" data-toggle="tab">政务</a></li>
      <li><a href="#area_2" data-toggle="tab">经济</a></li>
      <li><a href="#area_3" data-toggle="tab">体育</a></li>
      <li><a href="#area_4" data-toggle="tab">互联网</a></li>
      <li><a href="#add_area_modal" data-toggle="modal"><i class="icon-plus"></i></a></li> 
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="area_1">
        <ul class="inline">
	  <li>
	    <input type="checkbox"> 政府
	  </li>
	  <li>
	    <input type="checkbox"> 司法
	  </li>
	  <li>
	    <input type="checkbox"> 外交
	  </li>
        </ul>
      </div>
      <div class="tab-pane fade" id="area_2">
        <ul class="inline">
	  <li>
	    <input type="checkbox"> 理财
	  </li>
	  <li>
	    <input type="checkbox"> 期货
	  </li>
	  <li>
	    <input type="checkbox"> 股票
	  </li>
        </ul>
      </div>
      <div class="tab-pane fade" id="area_3">
        <ul class="inline">
	  <li>
	    <input type="checkbox"> 篮球
	  </li>
	  <li>
	    <input type="checkbox"> 足球
	  </li>
	  <li>
	    <input type="checkbox"> 排球
	  </li>
        </ul>
      </div>
      <div class="tab-pane fade" id="area_4">
        <ul class="inline">
	  <li>
	    <input type="checkbox"> 软件
	  </li>
	  <li>
	    <input type="checkbox"> 通信
	  </li>
	  <li>
	    <input type="checkbox"> 电子商务
	  </li>
        </ul>
      </div>
    </div>

    <!-- Modal -->
    <div id="add_area_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3 id="myModalLabel">手工添加领域关键词</h3>
      </div>
      <div class="modal-body">
	<form class="form-inline">
	  领域: <input type="text" class="span2">
	  关键词: <input type="text" class="span2">
	</form>
      </div>
      <div class="modal-footer">
	<button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
	<button class="btn btn-primary">保存结果</button>
      </div>
    </div>
  </div>

  
  <div class="well">
    <legend>突发识别</legend>
    <form id="burst_identify" action="/identify/burst/" class="form-inline" method="POST">
      排序标准:
      <div class="btn-group">
	<a id="burst_rank_method_choosen" class="btn dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
	  粉丝数
	  <span class="caret"></span>
	</a>
	<ul id="burst_rank_method_dropdown_menu" class="dropdown-menu">
	  <li><a href="#" onclick="choose_method('burst', 'followers');" data-toggle="tab">粉丝数</a></li>
      	  <li><a href="#" onclick="choose_method('burst', 'active');" data-toggle="tab">活跃度</a></li>
      	  <li><a href="#" onclick="choose_method('burst', 'important');" data-toggle="tab">重要度</a></li>
	</ul>
      </div>
      时间范围:
      <div class="btn-group">
	<a  id="burst_window_size_choosen" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
	  1天
	  <span class="caret"></span>
	</a>
	<ul id="burst_window_size_dropdown_menu" class="dropdown-menu">
	  <li><a href="#" onclick="choose_window('burst', 1);" data-toggle="tab">1天</a></li>
      	  <li><a href="#" onclick="choose_window('burst', 7);" data-toggle="tab">1周</a></li>
      	  <li><a href="#" onclick="choose_window('burst', 30);" data-toggle="tab">1个月</a></li>
      	  <li><a href="#" onclick="choose_window('burst', 90);" data-toggle="tab">3个月</a></li>
	</ul>
      </div>
      前<input name="top_n" type="text" value="500" class="span1">
      条结果
      每页<input name="page_num" type="text" value="20" class="span1">
      条结果
      <input type="hidden" name="action" value="run">
      <input id="burst_rank_method" type="hidden" name="rank_method" value="followers">
      <input id="burst_window_size" type="hidden" name="window_size" value="1">
      <input type="submit" class="btn btn-primary" value="识别">
    </form>

    <div>
      <a href="javascript:void(0);" onclick="show_burst_user();" class="pull-right" title="实时突发用户识别">
	<i class="icon-exclamation-sign"></i>
      </a>
    </div>

    <div id="realtime_burst_user" class="collapse out">
      <div id="burst_user_progress" class="progress progress-striped active">
	<div class="bar" style="width: 100%;"></div>
      </div>
      <div id="loading_burst_data">
      </div>
      <div id="burst_user_table">
	<table class="table table-bordered">
	</table>
      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename='js/identify/choose.js') }}"></script>
  <script src="{{ url_for('static', filename='js/identify/burst.js') }}"></script>
{% endblock %}
