{% extends "identify/base.html" %}
{% block title %}全网博主识别{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
	  <li class="nav-header">博主识别范围</li>
	  <li><a href="/identify/">主页</a></li>
	  <li class="active"><a href="/identify/whole/">全网识别</a></li>
	  <li><a href="/identify/area/">领域识别</a></li>
	  <li><a href="/identify/burst/">突发识别</a></li>
        </ul>
      </div>
    </div>
    <div class="span9">
      <legend>全网博主识别</legend>
      <div>
      	<form class="form-inline">
      	  排序标准:
	  <div class="btn-group">
	    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
	      粉丝数量
	      <span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu">
	      <li><a href="#" data-toggle="tab">粉丝数量</a></li>
      	      <li><a href="#" data-toggle="tab">活跃程度</a></li>
      	      <li><a href="#" data-toggle="tab">重要程度</a></li>
	    </ul>
	  </div>

      	  时间范围:
	  <div class="btn-group">
	    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
	      1天
	      <span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu">
	      <li><a href="#" data-toggle="tab">1天</a></li>
      	      <li><a href="#" data-toggle="tab">1周</a></li>
      	      <li><a href="#" data-toggle="tab">1个月</a></li>
	      <li><a href="#" data-toggle="tab">3个月</a></li>
	    </ul>
	  </div>

	  前<input type="text" value="500" class="span1">
	  条结果

	  每页<input type="text" value="20" class="span1">
	  条结果
	  <a href="/whole/" type="submit" class="btn btn-primary">识别<i class="icon-search"></i></a>
      	</form>
      </div>

      <hr>
      <div class="well">
	<legend>本期排序结果</legend>
	{% if not from_external %}
	<div>
	  <div id="loading_current_data" class="alert alert-info">
	    计算中...
	  </div>
	  <label>
	    进度条:
	    <div id="pr_bar" class="progress progress-striped active">
	      <div id="pr_process" class="bar" style="width: 0%;"></div>
	    </div>
	  </label>
	</div>
	{% endif %}
	<div>
	  <p>
	    <a class="btn btn-small btn-success" href="#"><i class="icon-download-alt"></i> 导出</a>
	    <a class="btn btn-small btn-info" href="#" title="将勾选的人加入知识库"><i class="icon-file"></i> 加入知识库</a>
	    <a class="btn btn-small btn-info" href="#" title="将勾选的人移出知识库"><i class="icon-file"></i> 移出知识库</a>
	  </p>
	</div>
	<div id="rank_table">
	  <table class="table table-bordered">
	  </table>
	</div>
      </div>

      <hr>

      <div class="well">
	<legend>上期排序结果</legend>
	<div>
	  <div id="loading_previous_data" class="alert alert-info">
	    上期结果装载中...
	  </div>
	  <p>
	    <a class="btn btn-small btn-success" href="#"><i class="icon-download-alt"></i> 导出</a>
	  </p>
	</div>
	<div id="previous_rank_table">
	  <table class="table table-bordered">
	  </table>
	</div>
      </div>

    </div>
  </div>
</div>
{% endblock %}

{% block script %}
    {% if not from_external %}
      <script src="{{ url_for('static', filename='js//identify/whole_identify.js') }}"></script>
    {% endif %}
{% endblock %}
